{% extends 'layout.html.twig' %}

{% block title %}League Administration{% endblock %}

{% block pageTitle %}
    <h1>League Administration Panel</h1>
{% endblock %}

{% block content %}
    <section class="o-container">
        <section class="o-row o-section">
            {% if pages %}
                <section class="o-col--half">
                    <h4>Pages</h4>
                    <ul>
                        {% for page in pages %}
                            <li>
                                {{ link_to(page) }}
                                {%- if page.status != 'active' %}
                                    <small>({{ page.status }})</small>
                                {%- endif -%}
                            </li>
                        {% endfor %}
                    </ul>

                    <p>
                        <a class="c-button c-button--blue" href="{{ path('custom_page_create') }}">
                            <i class="fa fa-plus"></i>
                            New page
                        </a>
                    </p>
                </section>
            {% endif %}

            {% if roles %}
                <section class="o-col--half">
                    <h4>Roles</h4>
                    <ul class="fa-ul">
                        {% for role in roles %}
                            <li>
                                <i class="fa fa-fw {{ role.displayIcon }}"></i>
                                {{ link_to(role, action='edit') }}
                            </li>
                        {% endfor %}
                    </ul>

                    <p>
                        <a class="c-button c-button--blue" href="{{ path('role_create') }}">
                            <i class="fa fa-plus"></i>
                            New role
                        </a>
                    </p>
                </section>
            {% endif %}
        </section>
    </section>
{% endblock %}
