{% extends 'layout.html.twig' %}

{% block title %}League Administration{% endblock %}

{% block content %}
    <main class="match_list">
        <section class="content_header">
            <article class="wrapper">
                <div>
                    <h1>League Administration</h1>
                </div>
            </article>
        </section>

        {% for section in role_sections %}
            <section class="admins">
                <p class="button {{ section.role.displayColor }} skinny square nohover noclick">
                    {% if section.role.displayIcon is not null %}
                        <i class="fa {{ section.role.displayIcon }}"></i>
                    {% endif %}

                    <span>{{ section.role.displayName }}</span>
                </p>

                <ul>
                    {% for player in section.members %}
                        <li>
                            <img class="player_avatar" src="{{ player.avatar | imagine_filter('small_thumb') }}">
                            <p class="callsign">{{ link_to(player) }}</p> {{ player.country.flagLiteral | raw }}
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endfor %}
    </main>
{% endblock %}