{% extends 'layout.html.twig' %}

{% form_theme form _self %}

{% set pageButtons = [
    {
        'color': 'grey',
        'url': player.url,
        'icon': 'eye',
        'text': (editingSelf) ? 'View my profile' : 'View profile',
        'condition': true
    }
] %}

{% block title -%}
    {%- if editingSelf -%}
        Edit Profile
    {%- else -%}
        {{ player.name }} :: Edit
    {%- endif -%}
{% endblock %}

{% block _form_email_label %}
    {% set label_attr = label_attr|merge({'for': id}) %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{- label -}}
{% endblock %}

{% block content %}
    <main class="c-page s-profile">
        <section class="c-page__header">
            <div class="c-page__header__container">
                <section class="c-page__header__container__title">
                    <h1>{%- if editingSelf -%}
                        Edit Profile
                    {%- else -%}
                        Editing :: {{ player.name }}
                    {%- endif -%}</h1>
                </section>

                {% include "button-repeater.html.twig" with { 'buttons': pageButtons } %}
            </div>
        </section>

        {{ form_start(form, { 'attr': { 'class': 'c-form s-avatar-form' } }) }}
            <section class="o-layout c-form__editor">
                <article class="o-layout__body--with-sidebar c-form__editor__body">
                    <div>
                        <label for="{{ form.email.vars.id }}">
                            {{ form.email.vars.label }}
                            {% if not editingSelf and player.emailAddress is not empty %}
                                    {% if player.verified %}
                                        <div class="c-form__editor__body__extra c-form__editor__body__extra--success">
                                            <i class="fa fa-check-circle"></i> Verified
                                        </div>
                                    {% else %}
                                        <div class="c-form__editor__body__extra c-form__editor__body__extra--error">
                                            <i class="fa fa-times-circle"></i> Not verified
                                        </div>
                                    {% endif %}
                            {% endif %}
                        </label>
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>

                    {{ form_row(form.description, { 'attr': { 'class': 'c-form__editor__body__content' } }) }}
                </article>

                <aside class="o-layout__sidebar c-form__editor__meta">
                    <div class="c-avatar-container__image">
                        <img src="{{ me.avatar | imagine_filter('huge_thumb') }}" />
                    </div>

                    <div class="c-avatar-container__options">
                        <div class="c-avatar-container__options__upload">
                            {{ form_label(form.avatar) }}
                            {{ form_errors(form.avatar) }}
                            {{ form_widget(form.avatar) }}
                        </div>

                        {% if me.avatar is not null %}
                            {{ form_row(form.delete_avatar) }}
                        {% endif %}
                    </div>
                </aside>
            </section>

            <section class="o-layout c-form__actions">
                <article class="o-layout__body--full">
                    {{ form_row(form.country) }}
                    {{ form_row(form.timezone) }}
                </article>
            </section>

            <section class="o-layout c-form__actions">
                <article class="o-layout__body--full">
                    {{ form_row(form.receive, { 'attr': { 'class': 'c-form__choice-list' } }) }}
                </article>
            </section>

            {% if form.roles is defined %}
                <section class="o-layout c-form__actions">
                    <article class="o-layout__body--full">
                        {{ form_label(form.roles) }}
                        {{ form_errors(form.roles) }}
                        {{ form_widget(form.roles) }}
                    </article>
                </section>
            {% endif %}

            <section class="o-layout o-layout--no-margin c-form__actions">
                {{ form_rest(form) }}
            </section>
        {{ form_end(form) }}
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/profile.js') }}"></script>
    <script src="{{ asset('components/select2/dist/js/select2.js') }}"></script>
{% endblock %}
