{% extends 'layout.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
    <main class="c-page s-profile">
        <section class="c-page__header">
            <div class="c-page__header__container">
                <section class="c-page__header__container__title">
                    <h1>Edit Profile</h1>
                </section>
            </div>
        </section>

        {{ form_start(form, { 'attr': { 'class': 'c-form s-avatar-form' } }) }}
            <section class="o-row c-form__editor">
                <article class="o-row__column--with-sidebar c-form__editor__body">
                    {{ form_row(form.email) }}
                    {{ form_row(form.description, { 'attr': { 'class': 'c-form__editor__body__content' } }) }}
                </article>

                <aside class="o-row__sidebar c-form__editor__meta">
                    <div class="c-avatar-container__image">
                        <img src="{{ me.avatar | imagine_filter('huge_thumb') }}" />
                    </div>

                    <div class="c-avatar-container__options">
                        <div class="c-avatar-container__options__upload">
                            {{ form_label(form.avatar) }}
                            {{ form_errors(form.avatar) }}
                            {{ form_widget(form.avatar) }}
                        </div>

                        {% if me.avatar is not null %}
                            {{ form_row(form.delete_avatar) }}
                        {% endif %}
                    </div>
                </aside>
            </section>

            <section class="o-row c-form__actions">
                <article class="o-row__column--full">
                    {{ form_row(form.country) }}
                    {{ form_row(form.timezone) }}
                </article>
            </section>

            <section class="o-row c-form__actions">
                <article class="o-row__column--full">
                    {{ form_row(form.receive, { 'attr': { 'class': 'c-form__choice-list' } }) }}
                </article>
            </section>

            <section class="o-row o-row--no-margin c-form__actions">
                {{ form_rest(form) }}
            </section>
        {{ form_end(form) }}
    </main>
{% endblock %}
