{% extends 'layout.html.twig' %}

{% from 'avatar-editor.html.twig' import avatar_editor %}
{% from 'md-editor.html.twig' import md_editor %}

{% form_theme form _self %}

{% set pageButtons = [
    {
        'color': 'blue',
        'pattern': 'downward-stripes',
        'url': player.url,
        'icon': 'eye',
        'text': (editingSelf) ? 'View my profile' : 'View profile',
        'condition': true
    }
] %}

{% block title -%}
    {%- if editingSelf -%}
        Edit Profile
    {%- else -%}
        Editing :: {{ player.name }}
    {%- endif -%}
{% endblock %}

{% block pageTitle %}
    <h1>{{ block('title') }}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="row">
                <div class="col-sm-8 offset-sm-2 offset-md-reset col-md-4 col-lg-3">
                    {{ avatar_editor(player.avatar, form.avatar, form.delete_avatar) }}
                </div>

                <div class="col-md-8 col-lg-9">
                    <div class="mb3">
                        <label for="{{ form.email.vars.id }}">
                            {{ form.email.vars.label }}
                            {% if not editingSelf and player.emailAddress is not empty and not app.demoMode %}
                                {% if player.verified %}
                                    <span class="ml1">
                                        <i class="fa fa-check-circle"
                                           aria-hidden="true"
                                           title="This email has been verified"
                                        ></i>
                                        <span class="sr-only">Verified e-mail</span>
                                    </span>
                                {% else %}
                                    <span class="ml1">
                                        <i class="fa fa-times-circle"
                                           aria-hidden="true"
                                           title="This email has not been verified by the user"
                                        ></i>
                                        <span class="sr-only">Unverified e-mail</span>
                                    </span>
                                {% endif %}
                            {% endif %}
                        </label>

                        {% if app.demoMode %}
                            {% set emailAttrs = {
                                attr: { disabled: 'true' },
                                value: 'demo_user@domain.com'
                            } %}
                        {% else %}
                            {% set emailAttrs = {} %}
                        {% endif %}

                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, emailAttrs) }}
                    </div>

                    <div class="mb3">
                        {{ md_editor(form.description) }}
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.country , {
                                'container_attr': { 'class': 'mb3' }
                            }) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.timezone, {
                                'container_attr': { 'class': 'mb3' }
                            }) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb3">
                            {{ form_row(form.receive, {
                                'attr': {
                                    'class': 'c-form__choices'
                                }
                            }) }}
                        </div>
                        <div class="col-md-6 mb3">
                            {{ form_row(form.theme, {
                                'attr': {
                                    'data-role': 'site-theme-selector'
                                }
                            }) }}
                        </div>
                    </div>

                    {% if form.roles is defined %}
                        <div class="mb3">
                            {{ form_row(form.roles) }}
                        </div>
                    {% endif %}

                    <div>
                        <h2 class="mb2">Accessibility</h2>

                        {{ form_row(form.color_blind_assist, { 'container_attr': { 'class': 'c-form__checkbox--horizontal mb3' } }) }}
                    </div>

                    <div>
                        {{ form_rest(form) }}
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
