{% extends 'layout.html.twig' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <h2>{{ player.username }}</h2><br />

    Team:
    {% if player.team is valid %}
        {{ link_to(player.team) }}
    {% else %}
        <em>None</em>
    {% endif %}
    <br />

    Joined: {{ player.joinedDate }}<br />

    <br />{{ player.description }}<br />

    <br /><a href='{{ path('profile_edit') }}'>Edit your profile...</a><br />
{% endblock %}
