{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    {%- if icon is not empty -%}
        {% set fa_icon = '<i class="fa fa-%s"></i> ' | format(icon) %}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ fa_icon | raw }}{{ label }}</button>
{%- endblock button_widget -%}

{%- block button_row -%}
    <div {{ block('container_attributes') }}>
        {{- form_widget(form) -}}
    </div>
{%- endblock button_row -%}

{% block form_row -%}
    <div {{ block('container_attributes') }}>
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row %}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div>
                {{- form_widget(child) -}}
                {{- form_label(child) -}}
            </div>
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{%- block datetime_widget -%}
    {% if widget == 'single_text' %}
        {{- block('form_widget_simple') -}}
    {%- else -%}
        <div {{ block('widget_container_attributes') }}>
            {{- form_errors(form.date) -}}
            {{- form_errors(form.time) -}}

            <div class="c-form__timestamp__date">
                {{- form_widget(form.date) -}}
            </div>
            <div class="c-form__timestamp__time">
                {{- form_widget(form.time) -}}
            </div>
        </div>
    {%- endif -%}
{%- endblock datetime_widget -%}

{% block container_attributes -%}
    {# Add error modifier to highlight invalid inputs #}
    {%- if (not compound or force_error|default(false)) and not valid -%}
        {%- set container_attr = container_attr|default([])|merge(
            {
                'class': container_attr['class']|default('') ~ ' c-form__group--error'
            }
        )
        -%}
    {%- endif -%}

    {%- for attrname, attrvalue in container_attr -%}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- elseif attrvalue is sameas(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not sameas(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock container_attributes %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <section class="c-form__errors o-row">
            <aside class="c-form__errors__icon">
                <i class="fa fa-exclamation-circle"></i>
            </aside>
            <ul>
                {%- for error in errors -%}
                    <li>{{ error.message }}</li>
                {%- endfor -%}
            </ul>
        </section>
    {%- endif -%}
{%- endblock form_errors -%}


{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label {%- for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{- translation_domain is same as(false) ? label : label|trans({}, translation_domain) -}}

            {%- if description is not empty %} [<a class="js-tipsy" href="#" original-title="{{ description }}">?</a>]
            {%- endif -%}
        </label>
    {%- endif -%}
{%- endblock form_label -%}
