<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

        <title>{% spaceless %}{% block title %}BZiON{% endblock %}{% endspaceless %}</title>
        <link rel="stylesheet" href="{{ asset('components/select2/dist/css/select2.css') }}">
        <link rel="stylesheet" href="{{ asset('includes/ladda/dist/ladda.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}

        {% endblock %}
    </head>

    <body>
        <!--[if lte IE 9]>
            <div class="fuck-ie">
                <h1>You're using an unsupported browser</h1>
                <p>You are browsing this website with an unsupported browser both by BZiON and its vendor. Please consider using a real browser such as <a href="https://www.google.com/intl/en_us/chrome/browser/">Chrome</a>, <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a>, <a href="http://ultronbrowser.info/">Google Ultron</a>, or Safari.</p>
            </div>
        <![endif]-->

        <header class="site-header">
            <section class="menu-bar">
                <span id="mobile-menu" class="mobile-menu"><i class="fa fa-bars"></i></span>

                <h1>
                    <a href="{{ path('index') }}">
                        <img src="{{ asset('assets/imgs/bzflag_icon.png') }}" />
                        {{ app.siteTitle }}
                    </a>
                </h1>

                {% include "navbar.html.twig" %}
            </section>

            <div class="notification">
                <i class="fa fa-check"></i><span></span>
            </div>
        </header>

        <section class="c-flashbag">
            {% for message in session.flashbag.all %}
                <p class="c-flashbag__item c-alert c-alert--info">{{ message.0 }}</p>
            {% endfor %}
        </section>

        {% block content %}

        {% endblock %}

        <footer class="c-footer">
            <section class="c-footer__copyright">
                <span>BZiON &copy; {{ "now" | date("Y") }}</span>

                {% if app.debug %}
                    <span class="c-footer__copyright__development"><i class="fa fa-wrench"></i> {{ app.environment }}</span>
                {% endif %}

                {% if app.maintenance and app.controller.name != "Maintenance" %}
                    <span class="c-footer__copyright__development"><i class="fa fa-plug "></i> Maintenance mode</span>
                {% endif %}
            </section>

            <ul class="c-footer__pages is-horizontal">
                {% for page in app.pages %}
                    {% if not page.isHomePage %}
                        <li>{{ link_to(page) }}</li>
                    {% endif %}
                {% endfor %}

                <li><a href="{{ path('server_list') }}">Servers</a></li>
                <li><a href="{{ path('admin_list') }}">Admins</a></li>
                <li><a href="{{ path('ban_list') }}">Banned Players</a></li>
            </ul>
        </footer>

        {% if app.debug %}
            <section class="css-dev">
                <div class="desktop">Desktop</div>
                <div class="tablet">Tablet</div>
                <div class="phablet">Phablet</div>
                <div class="phone">Phone</div>
            </section>
        {% endif %}

        <script>
            var baseURLNoHost = "{{ request.baseURL|e('js')  }}";
            var baseURL = "{{ request.schemeAndHTTPHost|e('js') }}";

            var config  = {
                {% if app.socket.websocket.enabled %}
                    websocket: {
                        port: {{ app.socket.websocket.port }}
                    }
                {% else %}
                    websocket: false
                {% endif %}
            };
        </script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{{ asset('includes/favicojs/favico-0.3.5.min.js') }}"></script>
        <script src="{{ asset('assets/js/min/main-ck.js') }}"></script>
        <script src="{{ asset('assets/js/events.js') }}"></script>

        {% if app.debug %}
            <script src="{{ asset('assets/js/debug.js') }}"></script>
            <script src="//localhost:35729/livereload.js"></script>
        {% endif %}

        {{ configuration.count }}

        {% block javascripts %}

        {% endblock %}
    </body>
</html>
