{%- if me is not valid -%}
    {%- set loginUrl = 'https://my.bzflag.org/weblogin.php?action=weblogin&url=' ~ url('login') ~ '?token=%TOKEN%&username=%USERNAME%'|e('url') -%}
{%- endif -%}

<!DOCTYPE html>
<html class="t-light {{ pageWideCSS }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

        <title>{% spaceless %}{% block title %}{{ app.siteTitle }}{% endblock %}{% endspaceless %}</title>
        <link rel="stylesheet" href="{{ asset('components/select2/dist/css/select2.css') }}">
        <link rel="stylesheet" href="{{ asset('includes/ladda/dist/ladda.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}

        {% endblock %}
    </head>

    <body>
        <!--[if lte IE 9]>
            <div class="fuck-ie">
                <h1>You're using an unsupported browser</h1>
                <p>You are browsing this website with an unsupported browser both by BZiON and its vendor. Please consider using a real browser such as <a href="https://www.google.com/intl/en_us/chrome/browser/">Chrome</a>, <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a>, <a href="http://ultronbrowser.info/">Google Ultron</a>, or Safari.</p>
            </div>
        <![endif]-->

        <header class="c-header">
            <section class="o-container">
                <div id="mobile-menu" class="u-mobile-only c-mobilemenu">
                    <i class="fa fa-bars"></i>
                </div>

                <h1 class="c-branding">
                    <a href="{{ path('index') }}">
                        <img src="{{ asset('assets/imgs/bzflag_icon.png') }}" />
                        {{ app.siteTitle }}
                    </a>
                </h1>

                {% include "navbar.html.twig" %}
            </section>
        </header>

        {# @TODO Uncomment or remove this, once I remember what this is for #}
        {#<div class="notification">#}
            {#<i class="fa fa-check"></i><span></span>#}
        {#</div>#}

        <section class="c-flashbag">
            {% for message in session.flashbag.all %}
                <p class="c-flashbag__item c-alert c-alert--info">{{ message.0 }}</p>
            {% endfor %}
        </section>

        <main class="c-page {{ scopeClass | default('') }}">
            {% block pageHeader %}
                <section class="c-page__header">
                    <div class="o-container">
                        <section class="c-page__header__title">
                            {% block pageTitle %}{% endblock %}
                        </section>

                        <section class="c-page__header__options">
                            {% for button in pageButtons %}
                                {% if button.condition %}
                                    <a class="c-button c-button--{{ button.color }}" href="{{ button.url }}"><i class="fa fa-{{ button.icon }}"></i> {{ button.text }}</a>
                                {% endif %}
                            {% endfor %}
                        </section>
                    </div>
                </section>
            {% endblock %}

            {% block content %}{% endblock %}
        </main>

        <footer class="c-footer">
            <div class="c-footer__container o-container">
                <section class="c-footer__copyright">
                    <span>{{ app.siteTitle }} &copy; {{ "now" | date("Y") }}</span>

                    {% if app.debug %}
                        <span class="c-footer__informational"><i class="fa fa-wrench"></i> {{ app.environment }}</span>
                    {% endif %}

                    {% if app.maintenance and app.controller.name != "Maintenance" %}
                        <span class="c-footer__informational"><i class="fa fa-plug "></i> Maintenance mode</span>
                    {% endif %}
                </section>

                <ul class="c-footer__pages is-horizontal">
                    {% if me.hasPermission(constant('Permission::CREATE_PAGE')) %}
                        <li><a href="{{ path('custom_page_create') }}">+</a></li>
                    {% endif %}

                    {% for page in app.pages %}
                        {% if not page.isHomePage %}
                            <li>{{ link_to(page) }}</li>
                        {% endif %}
                    {% endfor %}

                    <li><a href="{{ path('server_list') }}">Servers</a></li>
                    <li><a href="{{ path('admin_list') }}">Admins</a></li>
                    <li><a href="{{ path('ban_list') }}">Banned Players</a></li>
                    <li><a href="{{ path('map_list') }}">Maps</a></li>
                </ul>
            </div>
        </footer>

        {% if app.debug %}
            <section class="css-dev">
                <div class="xxxl">xxxl</div>
                <div class="xxl">xxl</div>
                <div class="xl">xl</div>
                <div class="lg">lg</div>
                <div class="md">md</div>
                <div class="sm">sm</div>
                <div class="xs">xs</div>
            </section>
        {% endif %}

        <script>
            var baseURLNoHost = "{{ request.baseURL|e('js')  }}";
            var baseURL = "{{ request.schemeAndHTTPHost|e('js') }}";

            var config  = {
                {% if app.socket.websocket.enabled %}
                    websocket: {
                        port: {{ app.socket.websocket.port }}
                    }
                {% else %}
                    websocket: false
                {% endif %}
            };
        </script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
        <script src="{{ asset('includes/favicojs/favico-0.3.5.min.js') }}"></script>
        <script src="{{ asset('assets/js/min/animations.js') }}"></script>
        <script src="{{ asset('assets/js/min/main.js') }}"></script>
        <script src="{{ asset('assets/js/min/utilities.js') }}"></script>
        <script src="{{ asset('assets/js/events.js') }}"></script>

        {% if app.debug %}
            <script src="{{ asset('assets/js/debug.js') }}"></script>
            <script src="{{ request.schemeAndHTTPHost }}:35729/livereload.js"></script>
        {% endif %}

        {{ configuration.count }}

        {% block javascripts %}

        {% endblock %}
    </body>
</html>
