<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% spaceless %}{% block title %}BZiON{% endblock %}{% endspaceless %}</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="{{ request.baseURL }}/vendor/ivaynberg/select2/select2.css">
        <link rel="stylesheet" href="{{ request.baseURL }}/includes/ladda/dist/ladda.min.css" />
        <link rel="stylesheet" href="{{ request.baseURL }}/assets/css/reset.css">
        <link rel="stylesheet" href="{{ request.baseURL }}/assets/css/styles.css">

        {% block stylesheets %}

        {% endblock %}
    </head>

    <body>
        <header>
            <section>
                <h1>
                    <a href="{{ path('index') }}">
                        <img src="{{ request.baseURL }}/assets/imgs/bzflag_icon.png" />
                        <span>{{ constant("SITE_TITLE") }}</span>
                    </a>
                </h1>

                {% include "navbar.html.twig" %}

                <div class="notification">
                    <i class="fa fa-check"></i><span>Your message was sent successfully</span>
                </div>
            </section>
        </header>

        {% for message in session.flashbag.all %}
            <p>{{ message.0 }}</p>
        {% endfor %}

        {% block content %}

        {% endblock %}

        <footer>
            <span>BZiON &copy; 2014</span>

            <ul>
                {% for page in pages %}
                    {% if not page.isHomePage %}
                        <li><a href="{{ page.url }}"> {{ page.name }} </a></li>
                    {% endif %}
                {% endfor %}

                <li><a href="{{ path('admin_list') }}">Admins</a></li>
                <li><a href="{{ path('ban_list') }}">Banned Players</a></li>
            </ul>
        </footer>

        <script>
            var baseURLNoHost = "{{ request.baseURL|e('js')  }}";
            var baseURL = "{{ request.schemeAndHTTPHost|e('js') }}";
        </script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{{ request.baseURL }}/assets/js/min/main-ck.js"></script>

        {% block javascripts %}

        {% endblock %}
    </body>
</html>
