<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}BZIon{% endblock %}</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="{{ request.getBaseURL() }}/includes/chosen/chosen.min.css">
        <link rel="stylesheet" href="{{ request.getBaseURL() }}/includes/ladda/dist/ladda.min.css" />
        <link rel="stylesheet" href="{{ request.getBaseURL() }}/assets/css/main.css">
    </head>

    <body>
        <header>
            <nav>
                <ul class="wrapper">
                    <li class="icon"><a href="{{ path('index') }}"><i class="fa fa-home"></i></a></li>
                    {% if session.get('username') %}
                        <li class="icon {{ path('index') }}"><a href="{{ path('message_list') }}"><i class="fa fa-comments"></i></a></li>
                    {% endif %}
                    <li class="icon"><a href="{{ path('news_list') }}"><i class="fa fa-thumb-tack"></i></a></li>
                    <li><a href="{{ path('team_list') }}>">Teams</a></li>
                    <li><a href="{{ path('player_list') }}">Players</a></li>
                    <li><a href="{{ path('match_list') }}">Matches</a></li>

                    {% for page in pages %}
                        <li><a href="{{ page.url }}"> {{ page.name }} </a></li>
                    {% endfor %}

                    <li><a href="{{ path('ban_list') }}">Bans</a></li>
                    <li><a href="{{ path('server_list') }}">Servers</a></li>

                    {% if session.get('username') %}
                        <li class="icon float right"><a href="{{ path('logout') }}"><i class="fa fa-sign-out"></i></a></li>
                        <li class="icon float right"><a href="{{ path('profile_show') }}"><i class="fa fa-user"></i></a></li>
                        <li class="icon float right"><a href="{{ path('index') }}"><i class="fa fa-bell"></i></a></li>
                    {% else %}
                        <li class="icon float right">
                            <a href="http://my.bzflag.org/weblogin.php?action=weblogin&amp;url={{ url('login') ~ '?token=%TOKEN%&username=%USERNAME%'|e('url') }}">
                                <i class="fa fa-sign-in"></i>
                            </a>
                        </li>
                    {% endif %}

                    <div style="clear: both;"></div>
                </ul>
            </nav>

            <div class="notification">
                <i class="fa fa-check"></i><span>Your message was sent successfully</span>
            </div>
        </header>

        <div class="page">
            <div class="content wrapper">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    <script>
        var baseURL = "{{ request.getBaseURL()|e('js')  }}";
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ request.getBaseURL() }}/assets/js/main.js"></script>

    </body>
</html>
