<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        
        <title>{% spaceless %}{% block title %}BZiON{% endblock %}{% endspaceless %}</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css">
        <link rel="stylesheet" href="{{ asset('components/select2/select2.css') }}">
        <link rel="stylesheet" href="{{ asset('includes/ladda/dist/ladda.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/reset.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}

        {% endblock %}
    </head>

    <body>
        <header>
            <section>
                <ul class="mobile">
                    <li>
                        <span id="mobile-menu" class="bars"><i class="fa fa-bars"></i></span>
                    </li>
                </ul>

                <h1>
                    <a href="{{ path('index') }}">
                        <img src="{{ asset('assets/imgs/bzflag_icon.png') }}" />
                        <span>{{ siteTitle }}</span>
                    </a>
                </h1>

                {% include "navbar.html.twig" %}

                <div class="notification">
                    <i class="fa fa-check"></i><span></span>
                </div>
            </section>
        </header>

        {% for message in session.flashbag.all %}
            <p>{{ message.0 }}</p>
        {% endfor %}

        {% block content %}

        {% endblock %}

        <footer>
            <span>BZiON &copy; 2014</span>

            {% if constant('DEVELOPMENT') %}
                <span>&nbsp;<i class="fa fa-wrench"></i> {{ environment }}</span>
            {% endif %}

            <ul>
                {% for page in pages %}
                    {% if not page.isHomePage %}
                        <li>{{ link_to(page) }}</li>
                    {% endif %}
                {% endfor %}

                <li><a href="{{ path('server_list') }}">Servers</a></li>
                <li><a href="{{ path('admin_list') }}">Admins</a></li>
                <li><a href="{{ path('ban_list') }}">Banned Players</a></li>
            </ul>
        </footer>

        {% if constant('DEVELOPMENT') %}
            <section class="css-dev">
                <div class="desktop">Desktop</div>
                <div class="tablet">Tablet</div>
                <div class="phablet">Phablet</div>
                <div class="phone">Phone</div>
            </section>
        {% endif %}

        <script>
            var baseURLNoHost = "{{ request.baseURL|e('js')  }}";
            var baseURL = "{{ request.schemeAndHTTPHost|e('js') }}";

            var config  = {
                {% if socket.websocket.enabled %}
                    websocket: {
                        port: {{ socket.websocket.port }}
                    }
                {% else %}
                    websocket: false
                {% endif %}
            };
        </script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{{ asset('includes/favicojs/favico-0.3.5.min.js') }}"></script>
        <script src="{{ asset('assets/js/min/main-ck.js') }}"></script>
        <script src="{{ asset('assets/js/events.js') }}"></script>

        {% if constant('DEVELOPMENT') %}
            <script src="{{ asset('assets/js/debug.js') }}"></script>
        {% endif %}

        {{ configuration.count }}

        {% block javascripts %}

        {% endblock %}
    </body>
</html>
