<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% spaceless %}{% block title %}BZIon{% endblock %}{% endspaceless %}</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="{{ request.getBaseURL() }}/includes/chosen/chosen.min.css">
        <link rel="stylesheet" href="{{ request.getBaseURL() }}/includes/ladda/dist/ladda.min.css" />
        <link rel="stylesheet" href="{{ request.getBaseURL() }}/assets/css/main.css">
    </head>

    <body>
        <header>
            {% include "navbar.html.twig" %}

            <div class="notification">
                <i class="fa fa-check"></i><span>Your message was sent successfully</span>
            </div>
        </header>

        <div class="page">
            <div class="content wrapper">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    <script>
        var baseURLNoHost = "{{ request.getBaseURL()|e('js')  }}";
        var baseURL = "{{ request.getSchemeAndHTTPHost()|e('js') }}";
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ request.getBaseURL() }}/assets/js/main.js"></script>

    {% block javascripts %}

    {% endblock %}

    </body>
</html>
