{%- if me is not valid -%}
    {%- set loginUrl = 'https://my.bzflag.org/weblogin.php?action=weblogin&url=' ~ url('login') ~ '?token=%TOKEN%&username=%USERNAME%'|e('url') -%}
{%- endif -%}

<!DOCTYPE html>
<html class="t-{{ me.valid ? me.theme : app.defaultTheme }} no-js {{ pageWideCSS }}" lang="en">
    <head>
        {# ========================================================================================================== #}
        {#  Open Graph Markup  #}
        {#    reference: https://developers.facebook.com/docs/sharing/webmasters #}
        {# ========================================================================================================== #}

        {# If no Open Graph data is defined, let's define some default information #}
        {%- if opengraph is not defined -%}
            {% set opengraph = {
                url: request.uri,
                type: 'article',
                title: block('title') | trim,
                description: '',
                image: asset('assets/imgs/open-graph.jpg') | canonical
            } %}
        {%- endif -%}

        {# Required attributes: url, type, title, description, image #}
        {%- for attr in opengraph | keys -%}
            <meta property="og:{{ attr }}" content="{{ opengraph[attr] }}" />
        {% endfor -%}



        {# ========================================================================================================== #}
        {#  Generic information for this page  #}
        {# ========================================================================================================== #}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{% spaceless %}{% block title %}{{ app.siteTitle }}{% endblock %}{% endspaceless %}</title>
        <link rel="stylesheet" href="{{ asset('includes/ladda/dist/ladda-themeless.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}" />

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        {# Elements that are positioned absolutely or fixed w/CSS should be placed here BEFORE the app-body container #}

        <a href="#content" class="skip-to-content sr-only sr-only-focusable p2" tabindex="0">
            Skip to Content
        </a>

        <!--[if lte IE 9]>
            <div class="c-system-alert">
                <h1>You're using an unsupported browser</h1>
                <p>You are browsing this website with an unsupported browser both by BZiON and its vendor. Please consider using a real browser such as <a href="https://www.google.com/intl/en_us/chrome/browser/">Chrome</a>, <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a>, <a href="http://ultronbrowser.info/">Google Ultron</a>, or Safari.</p>
            </div>
        <![endif]-->

        {% if app.alertEnabled %}
            <div id="SystemAlert" class="collapsible-entity collapsible-entity--open" data-id="{{ app.alertId }}" data-savestatus="true">
                <div class="c-system-alert">
                    {% if app.alertCollapsible %}
                        <p class="collapsible-close" data-close="#SystemAlert" data-id="{{ app.alertId }}" title="Close this alert">
                            <i class="fa fa-close"></i>
                        </p>
                    {% endif %}

                    <h1>{{ app.alertHeader }}</h1>
                    <p>{{ app.alertMessage }}</p>
                </div>
            </div>
        {% endif %}

        {# @todo Update this element to share same CSS as the flashbag #}
        {#<div class="notification">#}
            {#<i class="fa fa-check"></i><span></span>#}
        {#</div>#}

        <div class="c-flashbag">
            {% for message in session.flashbag.all %}
                <p class="c-flashbag__item c-alert c-alert--info" role="alert">{{- message.0 -}}</p>
            {% endfor %}
        </div>

        {% if app.debug %}
            <div class="c-breakpoints">
                <div class="xxxl">xxxl</div>
                <div class="xxl">xxl</div>
                <div class="xl">xl</div>
                <div class="lg">lg</div>
                <div class="md">md</div>
                <div class="sm">sm</div>
                <div class="xs">xs</div>
            </div>
        {% endif %}


        {#  The container for all of the parts of this website. Anything that is absolutely positioned should be placed
            OUTSIDE of this container. #}

        <div class="app-body">
            <header class="c-header">
                <div class="container">
                    <div class="row align-items-center">
                        <label class="mb0" for="mobile-menu" tabindex="0" data-option="clickable-label">
                            <i class="fa fa-bars u-hide-lg" aria-hidden="true"></i>
                            <span class="sr-only">Press space to open navigation menu</span>
                        </label>
                        <input type="checkbox" id="mobile-menu" class="c-mobile-menu sr-only" tabindex="-1">

                        <div class="c-branding">
                            <a href="{{ path('index') }}">
                                <img src="{{ asset('assets/imgs/bzflag_icon.png') }}" aria-hidden="true" />
                                {{- app.siteTitle -}}
                            </a>
                        </div>

                        {% include "navbar.html.twig" %}
                    </div>
                </div>
            </header>

            <div class="c-page {{ scopeClass | default('') }}">
                {% block pageHeader %}
                    <div class="c-page-header bb mb2 mb3-md py2">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-7">
                                    {% block pageTitle %}{% endblock %}
                                </div>
                                <div class="col-lg-5 text-right u-hide u-show-lg">
                                    {% for button in pageButtons %}
                                        {% if button.condition %}
                                            <a class="c-button c-button--{{ button.color }}" href="{{ button.url }}">
                                                <i class="fa fa-{{ button.icon }}" aria-hidden="true"></i> {{- button.text -}}
                                            </a>
                                        {% endif %}
                                    {% endfor -%}

                                    {%- block headerOptions %}{% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock %}

                <main class="mb3" id="content" role="main">
                    {% block content %}{% endblock %}
                </main>
            </div>

            <footer class="bt py3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                {{ app.siteTitle }} &copy; {{ "now" | date("Y") }}

                                {% if app.debug %}
                                    <span class="c-footer__informational"><i class="fa fa-wrench"></i> {{ app.environment }}</span>
                                {% endif %}

                                {% if app.maintenance and app.controller.name != "Maintenance" %}
                                    <span class="c-footer__informational"><i class="fa fa-plug "></i> Maintenance mode</span>
                                {% endif %}
                            </p>
                        </div>

                        <div class="col-lg-3">
                            <ul class="has-no-padding m0">
                                {% for page in app.pages %}
                                    {% if not page.isHomePage %}
                                        <li>{{ link_to(page) }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="col-lg-3">
                            <ul class="has-no-padding m0">
                                <li><a href="{{ path('server_list') }}">Servers</a></li>
                                <li><a href="{{ path('map_list') }}">Maps</a></li>
                                <li><a href="{{ path('admin_list') }}">Admins</a></li>
                                <li><a href="{{ path('ban_list') }}">Banned Players</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                {% set showAdminBar = false %}

                {% if me.hasPermission(constant('Permission::CREATE_PAGE')) %}
                    {% set showAdminBar = true %}
                {% elseif me.hasPermission(constant('Permission::EDIT_PAGE')) %}
                    {% set showAdminBar = true %}
                {% elseif me.hasPermission(constant('Permission::EDIT_ROLE')) %}
                    {% set showAdminBar = true %}
                {% elseif me.hasPermission(constant('Permission::VIEW_VISITOR_LOG')) %}
                    {% set showAdminBar = true %}
                {% endif %}

                {% if showAdminBar %}
                    <div class="container bt mt2 pt2">
                        <p class="m0">
                            <strong class="mr2">[Admin Tools]</strong>

                            {% if me.hasPermission(constant('Permission::EDIT_PAGE')) or me.hasPermission(constant('Permission::EDIT_ROLE')) %}
                                <a class="mr2" href="{{ path('admin_landing') }}">Administration Panel</a>
                            {% endif %}

                            {% if me.hasPermission(constant('Permission::VIEW_VISITOR_LOG')) %}
                                <a class="mr2" href="{{ path('visit_list') }}">Visit Log</a>
                            {% endif %}
                        </p>
                    </div>
                {% endif %}
            </footer>
        </div>


        {# Everything relating to Javascript should be placed down here #}
        <script>
            var baseURLNoHost = "{{ request.baseURL|e('js')  }}";
            var baseURL = "{{ request.schemeAndHTTPHost|e('js') }}";

            var config  = {
                {% if app.socket.websocket.enabled %}
                    websocket: {
                        port: {{ app.socket.websocket.port }}
                    }
                {% else %}
                    websocket: false
                {% endif %}
            };
        </script>

        <script src="{{ asset('build/app.js') }}"></script>
        <script src="{{ asset('build/modernizr-bundle.js') }}"></script>

        <script src="{{ asset('includes/prefixfree.min.js') }}"></script>
        <script src="{{ asset('includes/favicojs/favico-0.3.10.min.js') }}"></script>

        {# JavaScript libraries that should be included BEFORE custom javascript #}
        {% block jsLibraries %}{% endblock %}

        <script src="{{ asset('assets/js/min/utilities.js') }}"></script>
        <script src="{{ asset('assets/js/events.js') }}"></script>

        {% if app.debug %}
            <script src="{{ asset('assets/js/animations.js') }}"></script>
            <script src="{{ asset('assets/js/main.js') }}"></script>

            <script src="{{ asset('assets/js/debug.js') }}"></script>
            <script src="{{ request.schemeAndHTTPHost }}:35729/livereload.js"></script>
        {% else %}
            <script src="{{ asset('assets/js/min/animations.js') }}"></script>
            <script src="{{ asset('assets/js/min/main.js') }}"></script>
        {% endif %}

        {{ configuration.count }}

        {# Javascript files we have written to target specific pages #}
        {% block jsCustom %}{% endblock %}
    </body>
</html>
