{% macro badge(number, class) %}
    <span class="c-badge {{ class }}">
        {%- if number -%}
            {{- number -}}
        {%- endif -%}
    </span>
{% endmacro %}

{% macro page(text, controller_name, path, icon, class, title) %}
    <li class="has-badge {{ class | default('') }} {{ app.controller.name == controller_name ? 'active' }}" {% if title is not null %}title="{{ title }}"{% endif %}>
        <a href="{{ path(path) }}">
            <i class="fa fa-{{ icon }} fa-fw" aria-hidden="true"></i>
            {{- text -}}
        </a>
    </li>
{% endmacro %}

{% macro userOptions(class) %}
    {# TODO: Don't count notifications and messages twice #}

    {{ _self.page(
        _self.badge(me.countUnreadNotifications, "js-counter__notifications"),
        'Notification', 'notification_list', 'bell', class, 'Notifications'
    ) }}
    {{ _self.page(
        _self.badge(me.countUnreadMessages, "js-counter__messages"),
        'Message', 'message_list', 'comments-o', class, 'Messages'
    ) }}
    {{ _self.page(
        null,
        'Profile', 'profile_edit', 'gear', class, 'My Profile'
    ) }}
{% endmacro %}

<nav class="c-navigation" role="navigation">
    <ul id="menu-pages" class="c-site_pages">
        {{ _self.page('News', 'News', 'news_list', 'thumb-tack') }}
        {{ _self.page('Teams', 'Team', 'team_list', 'users') }}
        {{ _self.page('Players', 'Player', 'player_list', 'user') }}
        {{ _self.page('Matches', 'Match', 'match_list', 'trophy') }}
        {{ _self.page('Season', 'Season', 'season_show', 'calendar') }}

        {% if me is valid %}
            <li class="u-show u-hide-sm">
                <ul class="by mr-last-reset is-horizontal text-center">
                    {{ _self.userOptions('mr2') }}
                </ul>
            </li>
        {% endif %}

        {% if pageButtons is not null %}
            {% for button in pageButtons if button.condition %}
                <li class="c-site_pages__action">
                    <a href="{{ button.url }}">
                        <i class="fa fa-{{ button.icon }} fa-fw" aria-hidden="true"></i> {{- button.text -}}
                    </a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>

    <ul class="c-user_cp">
        {% if me is valid %}
            {{ _self.userOptions('u-hide u-show-sm') }}

            <li class="c-user_cp__auth">
                <a href="{{ path('logout') }}">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <span class="u-hide u-show-md">Logout</span>
                </a>
            </li>
        {% else %}
            <li class="c-user_cp__auth">
                <a href="{{ loginUrl }}">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    <span class="u-hide u-show-md">Login/Register</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
