{% import _self as navbar %}

{% macro badge(number, type) %}
    <span class="c-badge {{ type }}">
        {%- if number -%}
            {{- number -}}
        {%- endif -%}
    </span>
{% endmacro %}

{% macro page(text, controller_name, path, icon, class, title) %}
    <li class="{{ class | default('') }} {{ app.controller.name == controller_name ? 'active' }}" {% if title is not null %}title="{{ title }}"{% endif %}>
        <a href="{{ path(path) }}">
            <i class="fa fa-{{ icon }} fa-fw"></i> {{ text }}
        </a>
    </li>
{% endmacro %}

{% macro userOptions() %}
    {% import _self as navbar %}

    {{ navbar.page(
        navbar.badge(me.countUnreadNotifications, "js-counter__notifications"),
        'Notification', 'notification_list', 'bell', 'c-useroptions', 'Notifications'
    )}}
    {{ navbar.page(
        navbar.badge(me.countUnreadMessages, "js-counter__messages"),
        'Message', 'message_list', 'comments-o', 'c-useroptions', 'Messages'
    )}}
    {{ navbar.page(
        null,
        'Profile', 'profile_edit', 'gear', 'c-useroptions', 'My Profile'
    )}}
{% endmacro %}

<nav class="c-navigation">
    <ul id="menu-pages" class="c-menulinks">
        {{ navbar.page('News', 'News', 'news_list', 'thumb-tack')}}
        {{ navbar.page('Teams', 'Team', 'team_list', 'users')}}
        {{ navbar.page('Players', 'Player', 'player_list', 'user')}}
        {{ navbar.page('Matches', 'Match', 'match_list', 'trophy')}}

        {% if me is valid %}
            <li class="c-useroptions">
                <hr>
                <ul>
                    {{ navbar.userOptions() }}
                </ul>
            </li>
        {% endif %}

        {% if pageButtons is not null %}
            {% set divisionRendered = false %}

            {% for button in pageButtons if button.condition %}
                {% if not divisionRendered %}
                    <li class="u-mobile-only"><hr></li>
                    {% set divisionRendered = true %}
                {% endif %}

                <li class="u-mobile-only">
                    <a href="{{ button.url }}">
                        <i class="fa fa-{{ button.icon }} fa-fw"></i> {{ button.text }}
                    </a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>

    <ul class="c-menuoptions">
        {% if me is valid %}
            {{ navbar.userOptions() }}

            <li>
                <a href="{{ path('logout') }}">
                    <i class="fa fa-sign-out"></i>
                    <span class="u-desktop-only">Logout</span>
                </a>
            </li>
        {% else %}
            <li>
                <a href="{{ loginUrl }}">
                    <i class="fa fa-sign-in"></i>
                    <span class="u-desktop-only">Login/Register</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
