{% import _self as navbar %}
{% macro badge(number, type) %}
    <span class="badge {{ type }}">
        {% if number %}
            {{- number -}}
        {% endif %}
    </span>
{% endmacro %}

{% macro page(title, controller_name, path, icon) %}
    {% set class = '' %}

    {% if controller.name == controller_name %}
        {% set class = ' class="active"' %}
    {% endif %}

    <li {{- class|raw -}} >
        <a href="{{ path(path) }}">
            <i class="fa fa-{{ icon }}"></i> {{ title }}
        </a>
    </li>
{% endmacro %}

<nav>
    <ul class="pages">
        {{ navbar.page('News', 'News', 'news_list', 'thumb-tack')}}
        {{ navbar.page('Teams', 'Team', 'team_list', 'users')}}
        {{ navbar.page('Players', 'Player', 'player_list', 'user')}}
        {{ navbar.page('Matches', 'Match', 'match_list', 'trophy')}}
    </ul>

    <ul class="user">
        {% if session.get('username') %}
            <li>
                <a href="#">
                    <i class="fa fa-bell"></i>
                    {{ navbar.badge(me.countUnreadNotifications, "unreadNotificationCount") }}
                </a>
            </li>
            {{ navbar.page(
                navbar.badge(me.countUnreadMessages, "unreadMessageCount"),
                'Message', 'message_list', 'comments-o'
            )}}
            <li>
                <a href="{{ path('logout') }}">
                    <i class="fa fa-sign-out"></i>
                </a>
            </li>
        {% else %}
            <li>
                <a href="http://my.bzflag.org/weblogin.php?action=weblogin&amp;url={{ url('login') ~ '?token=%TOKEN%&username=%USERNAME%'|e('url') }}">
                    <i class="fa fa-sign-in"></i>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
