{% import _self as navbar %}
{% macro badge(number, type) %}
    <span class="badge {{ type }}">
        {% if number %}
            {{- number -}}
        {% endif %}
    </span>
{% endmacro %}

{% macro page(title, controller_name, path, icon) %}
    {% set class = '' %}

    {% if app.controller.name == controller_name %}
        {% set class = ' class="active"' %}
    {% endif %}

    <li {{- class|raw -}} >
        <a href="{{ path(path) }}">
            <i class="fa fa-{{ icon }} fa-fw"></i> {{ title }}
        </a>
    </li>
{% endmacro %}

{% macro action(title, url, icon) %}
    <li class="u-mobile-only">
        <a href="{{ url }}">
            <i class="fa fa-{{ icon }} fa-fw"></i> {{ title }}
        </a>
    </li>
{% endmacro %}

<nav>
    <ul id="menu-pages" class="pages">
        {{ navbar.page('News', 'News', 'news_list', 'thumb-tack')}}
        {{ navbar.page('Teams', 'Team', 'team_list', 'users')}}
        {{ navbar.page('Players', 'Player', 'player_list', 'user')}}
        {{ navbar.page('Matches', 'Match', 'match_list', 'trophy')}}

        {% if pageButtons is not null %}
            <li class="u-mobile-only"><hr></li>
            {% for button in pageButtons %}
                {% if button.condition %}
                    {{ navbar.action(button.text, button.url, button.icon) }}
                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>

    <ul class="user">
        {% if session.get('username') %}
            {{ navbar.page(
                navbar.badge(me.countUnreadNotifications, "unreadNotificationCount"),
                'Notification', 'notification_list', 'bell'
            )}}
            {{ navbar.page(
                navbar.badge(me.countUnreadMessages, "unreadMessageCount"),
                'Message', 'message_list', 'comments-o'
            )}}
            {{ navbar.page(
                null,
                'Profile', 'profile_edit', 'gear'
            )}}
            <li>
                <a href="{{ path('logout') }}">
                    <i class="fa fa-sign-out"></i>
                </a>
            </li>
        {% else %}
            <li>
                <a href="https://my.bzflag.org/weblogin.php?action=weblogin&amp;url={{ url('login') ~ '?token=%TOKEN%&username=%USERNAME%'|e('url') }}">
                    <i class="fa fa-sign-in"></i>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
