<nav>
    <ul class="pages">
        <li>
            <a href="{{ path('news_list') }}">
                <i class="fa fa-thumb-tack"></i> News
            </a>
        </li>
        <li>
            <a href="{{ path('team_list') }}">
                <i class="fa fa-users"></i> Teams
            </a>
        </li>
        <li>
            <a href="{{ path('player_list') }}">
                <i class="fa fa-user"></i> Players
            </a>
        </li>
        <li>
            <a href="{{ path('match_list') }}">
                <i class="fa fa-trophy"></i> Matches
            </a>
        </li>
    </ul>

    <ul class="user">
        {% if session.get('username') %}
            <li>
                <a href="#">
                    <i class="fa fa-bell"></i>
                </a>
            </li>
            <li>
                <a href="{{ path('message_list') }}">
                    <i class="fa fa-comments-o"></i>
                </a>
            </li>
            <li>
                <a href="{{ path('logout') }}">
                    <i class="fa fa-sign-out"></i>
                </a>
            </li>
        {% else %}
            <li>
                <a href="http://my.bzflag.org/weblogin.php?action=weblogin&amp;url={{ url('login') ~ '?token=%TOKEN%&username=%USERNAME%'|e('url') }}">
                    <i class="fa fa-sign-in"></i>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>