{% set url = app.request.baseUrl %}
{% set disabledCSS = "c-pagination--disabled" %}
{% set showButtons = totalPages > 5 %}
{% set prev = showButtons and currentPage > 1 %}
{% set next = showButtons and currentPage < totalPages %}

<ul class="c-pagination">
    {% if showButtons %}
        <li class="{{ prev ?: disabledCSS }}">
            {% if prev %}
                <a href="{{ url }}?page={{ currentPage - 1 }}"><i class="fa fa-angle-left"></i></a>
            {% else %}
                <i class="fa fa-angle-left"></i>
            {% endif %}
        </li>
    {% endif %}

    {% if totalPages <= 5 %}
        {% set begin = 1 %}
        {% set end = totalPages %}
    {% else %}
        {% if currentPage < 3 %}
            {% set begin = 1 %}
            {% set end = begin + 4 %}
        {% elseif currentPage + 2 >= totalPages %}
            {% set begin = totalPages - 4 %}
            {% set end = totalPages %}
        {% else %}
            {% set begin = currentPage - 2 %}
            {% set end = currentPage + 2 %}
        {% endif %}
    {% endif %}

    {% for i in begin..end if totalPages > 0 %}
        {% if i == currentPage %}
            <li class="c-pagination--current">{{ i }}</li>
        {% else %}
            <li><a href="{{ url }}?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}

    {% if showButtons %}
        <li class="{{ next ?: disabledCSS }}">
            {% if next %}
                <a href="{{ url }}?page={{ currentPage + 1 }}"><i class="fa fa-angle-right"></i></a>
            {% else %}
                <i class="fa fa-angle-right"></i>
            {% endif %}
        </li>
    {% endif %}
</ul>
