{% macro timestamp(timestamp, attrs) -%}
    {% set attrs = attrs | extend_hash({ 'class': 'c-calendar--day' }) %}

    <time datetime="{{ timestamp | date(constant('TimeDate::FULL')) }}" title="{{ timestamp | date('F d, Y h:ia') }}" {{ _self.html_attr(attrs) }} >
        <span class="month">{{ timestamp | date('M') }}</span>
        <span class="date">{{ timestamp | date('d') }}</span>
    </time>
{%- endmacro %}

{% macro html_attr(dictionary) %}
    {%- for attr in dictionary | keys if attr != 'data' -%}
        {{ attr }}="{{ dictionary[attr] | join(' ') }}"
    {% endfor -%}

    {%- for attr in dictionary['data'] | default([]) | keys -%}
        data-{{ attr }}="{{ dictionary['data'][attr] | join(' ') }}"
    {% endfor -%}
{% endmacro %}
