{% from 'avatar-editor.html.twig' import avatar_editor %}
{% from 'md-editor.html.twig' import md_editor %}

<div class="container">
    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="row">
            <div class="col-sm-8 offset-sm-2 offset-md-reset col-md-4 col-lg-3">
                {{ avatar_editor(avatar, form.avatar, form.delete_avatar) }}
            </div>

            <div class="col-md-8 col-lg-9">
                {{ form_row(form.name, { 'container_attr': { 'class': 'mb3' } }) }}

                <div class="mb3">
                    {{ md_editor(form.description) }}
                </div>

                <div class="row">
                    {# Only show the option to edit leadership if we're editing an existing team #}
                    {% if form.leader is not null %}
                        <div class="col-md-6 col-lg-3 mb3">
                            {{ form_row(form.leader, { 'container_attr': { 'class': 'c-select--full-width' } }) }}
                        </div>
                    {% endif %}

                    <div class="col-md-6 col-lg-3 mb3">
                        {{ form_row(form.status, { 'container_attr': { 'class': 'c-select--full-width' } }) }}
                    </div>
                </div>

                {{ form_rest(form) }}
            </div>
        </div>
    {{ form_end(form) }}
</div>
