<main class="c-page s-team-form">
    <section class="c-page__header">
        <div class="c-page__header__container">
            <section class="c-page__header__container__title">
                <h1>{{ pageTitle }}</h1>
            </section>
        </div>
    </section>

    {{ form_start(form, { 'attr': { 'class': 'c-form s-avatar-form' } }) }}
        <section class="o-row c-form__editor">
            <article class="o-row__column--with-sidebar c-form__editor__body">
                {{ form_row(form.name) }}
                {{ form_row(form.description, { 'attr': { 'class': 'c-form__editor__body__content' } }) }}
            </article>

            <aside class="o-row__sidebar c-form__editor__meta c-avatar-container">
                <div class="c-avatar-container__image">
                    {# Only show an avatar if we're editing an existing team #}
                    {% if avatar is not null %}
                        <img src="{{ avatar | imagine_filter('huge_thumb') }}" />
                    {% endif %}
                </div>

                <div class="c-avatar-container__options">
                    <div class="c-avatar-container__options__upload">
                        {{ form_label(form.avatar) }}
                        {{ form_errors(form.avatar) }}
                        {{ form_widget(form.avatar) }}
                    </div>

                    {# Only show the option to delete an avatar if we're editing an existing team #}
                    {% if form.delete_avatar is not null %}
                        {{ form_row(form.delete_avatar) }}
                    {% endif %}
                </div>
            </aside>
        </section>

        <section class="o-row c-form__actions">
            <section class="o-row__column--full">
                {# Only show the option to edit leadership if we're editing an existing team #}
                {% if form.leader is not null %}
                    {{ form_row(form.leader) }}
                {% endif %}

                {{ form_row(form.status) }}
            </section>
        </section>

        <section class="o-row o-row--no-margin c-form__buttons">
            {{ form_rest(form) }}
        </section>
    {{ form_end(form) }}
</main>