<main class="c-page s-team-form">
    <section class="c-page__header">
        <div class="c-page__header__container">
            <section class="c-page__header__container__title">
                <h1>{{ pageTitle }}</h1>
            </section>
        </div>
    </section>

    {{ form_start(form, { 'attr': { 'class': 'c-form' } }) }}
        <section class="o-layout c-form__editor">
            <article class="o-layout__body--with-sidebar c-form__editor__body">
                {{ form_row(form.name) }}
                {{ form_row(form.description, { 'attr': { 'class': 'c-form__editor__body__content' } }) }}
            </article>

            <aside class="o-layout__sidebar c-form__editor__meta">
                <div class="c-form__editor__meta__avatar">
                    {% if avatar is not null %}
                        <img src="{{ avatar | imagine_filter('huge_thumb') }}" />
                    {% endif %}
                </div>

                {{ form_row(form.avatar) }}
                {{ form_row(form.delete_avatar) }}
            </aside>
        </section>

        <section class="o-layout c-form__actions">
            <section class="o-layout__body--full">
                {{ form_row(form.leader) }}
                {{ form_row(form.status) }}
            </section>
        </section>

        <section class="o-layout o-layout--no-margin c-form__actions">
            {{ form_rest(form) }}
        </section>
    {{ form_end(form) }}
</main>