{% extends 'layout.html.twig' %}

{% set scopeClass = "s-teams" %}
{% set pageButtons = [
    {
        'color': 'blue',
        'url': path('team_new'),
        'icon': 'plus',
        'text': 'Create Team',
        'condition': me.Teamless and me.canCreate("Team")
    }
] %}

{% macro teamWidget(team) %}
    <div class="c-team-widget bb mb2 pb2 d-flex"
         data-name="{{ team.name }}"
         data-status="{{ team.status }}"
         data-elo="{{ team.elo }}"
    >
        <div class="mr2">
            {{ team.rankImageLiteral | raw }}
        </div>

        <article class="flex-grow">
            <header class="row">
                <div class="col-md-9">
                    <span class="t2">{{ link_to(team) }}</span>
                    <small title="{{ team.name }}'s ELO rating">({{ team.elo }})</small>
                </div>
                <div class="col-md-3 text-right u-hide u-show-md">
                    <a href="{{ path('match_by_team_list_sort', {team: team.alias, type: 'wins'}   )}}" title="Wins">{{ team.matchesWon }}</a> -
                    <a href="{{ path('match_by_team_list_sort', {team: team.alias, type: 'losses'} )}}" title="Losses">{{ team.matchesLost }}</a> -
                    <a href="{{ path('match_by_team_list_sort', {team: team.alias, type: 'draws'}  )}}" title="Draws">{{ team.matchesDraw }}</a>
                </div>
            </header>

            <div class="row">
                <section class="col-md-8">
                    <small class="mr2 d-block d-inline-sm"
                           title="{{ team.name }}'s leader"
                    >
                        <i class="fa fa-star" aria-hidden="true"></i>
                        {{ link_to(team.leader) }}
                    </small>

                    <small class="mr2 d-block d-inline-sm"
                           title="{{ team.name }}'s member count"
                    >
                        <i class="fa fa-users" aria-hidden="true"></i>
                        {{ 'member' | plural(team.numMembers) }}
                    </small>

                    <small class="d-block d-inline-sm"
                           title="Matches per day"
                    >
                        <i class="fa fa-bar-chart-o" aria-hidden="true"></i>
                        {{ team.activity | number_format(2) }}
                    </small>
                </section>

                <footer class="col-md-4 text-right-md">
                    {% if me is valid %}
                        {% if me.teamless and team.status == "open" %}
                            <small>
                                <a href="{{ team.url('join') }}">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    Join Team
                                </a>
                            </small>
                        {% elseif me.team == team %}
                            <small>
                                <a href="{{ team.url('abandon') }}">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    Leave Team
                                </a>
                            </small>
                        {% endif %}
                    {% endif %}
                </footer>
            </div>
        </article>
    </div>
{% endmacro %}

{% block title %}Teams{% endblock %}

{% block pageTitle %}
    <h1>Teams</h1>
{% endblock %}

{% block content %}
    <section class="container mb3">
        <div class="row mb2">
            <div class="col-md-8">
                <h2 class="mb0">
                    Active Teams
                    {% if not showAll %}<small><a href="{{ url_modify({'showAll': 1}) }}">[Show All]</a></small>{% endif %}
                </h2>
            </div>
            <div class="col-md-4 u-hide u-show-md text-right">
                <p class="mb0 mt1">Wins - Losses - Draws</p>
            </div>
        </div>

        <div class="bb-last-reset mb-last-reset pb-last-reset">
            {% for team in teams if team.activity > 0 %}
                {{ _self.teamWidget(team) }}
            {% endfor %}
        </div>

        {% if showAll %}
            <div class="row mb2 mt3">
                <div class="col-md-8">
                    <h2 class="mb0">
                        Inactive Teams
                        {% if showAll %}<small><a href="{{ url_modify({'showAll': null}) }}">[Hide Inactive]</a></small>{% endif %}
                    </h2>
                </div>
                <div class="col-md-4 u-hide u-show-md text-right">
                    <p class="mb0 mt1">Wins - Losses - Draws</p>
                </div>
            </div>

            <div class="bb-last-reset mb-last-reset pb-last-reset">
                {% for team in teams if team.activity == 0 %}
                    {{ _self.teamWidget(team) }}
                {% endfor %}
            </div>
        {% endif %}
    </section>
{% endblock %}
