{% extends 'layout.html.twig' %}

{% block title %}Teams{% endblock %}

{% block content %}
    <main class="o-page teams">
        <section class="o-page__header">
            <div class="o-page__header__container">
                <section class="o-page__header__container__title">
                    <h1>Active Teams</h1>
                </section>

                <section class="o-page__header__container__options">
                    {% if me.Team is null and me.canCreate("Team") %}
                        <a class="button blue notextshadow" href="{{ path('team_new') }}"><i class="fa fa-plus"></i> Create Team</a>
                    {% endif %}
                </section>
            </div>
        </section>

        <ul class="list">
            {% for team in teams %}
                <li>
                    {{  team.rankImageLiteral | raw }}
                    <section>
                        <article class="team_stats">
                            <section class="team">
                                <p class="name">{{ link_to(team) }}</p>
                                <p class="elo">{{ team.elo }}</p>
                            </section>

                            <section class="stats">
                                <p class="match_stats">
                                    <a href="{{ path('match_by_team_list_sort', {team: team.alias, type: 'wins'}   )}}">{{ team.matchesWon }}</a> -
                                    <a href="{{ path('match_by_team_list_sort', {team: team.alias, type: 'losses'} )}}">{{ team.matchesLost }}</a> -
                                    <a href="{{ path('match_by_team_list_sort', {team: team.alias, type: 'draws'}  )}}">{{ team.matchesDraw }}</a>
                                </p>
                            </section>
                        </article>

                        <article class="meta">
                            <p><i class="fa fa-star"></i> {{ link_to(team.leader) }}</p>
                            <p><i class="fa fa-users"></i> {{ 'member'|plural(team.numMembers) }}</p>
                            <p><i class="fa fa-bar-chart-o"></i> {{ team.activity }}</p>
                        </article>
                    </section>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
