{% extends 'layout.html.twig' %}

{% import _self as self %}

{% set scopeClass = "s-teams" %}
{% set pageButtons = [
    {
        'color': 'blue',
        'url': path('team_new'),
        'icon': 'plus',
        'text': 'Create Team',
        'condition': me.Teamless and me.canCreate("Team")
    }
] %}

{% macro teamWidget(team) %}
    <article class="c-team-widget">
        {{ team.rankImageLiteral | raw }}
        <section class="c-team-widget__body">
            <article class="c-team-widget__header">
                <section class="c-team-widget__summary">
                    <span class="c-team-widget__summary__name">{{ link_to(team) }}</span>
                    <span class="c-team-widget__summary__elo">{{ team.elo }}</span>
                </section>

                <section class="c-team-widget__matches">
                    <p>
                        <a href="{{ path('match_by_team_list_sort', {team: team.alias, type: 'wins'}   )}}" title="Wins">{{ team.matchesWon }}</a> -
                        <a href="{{ path('match_by_team_list_sort', {team: team.alias, type: 'losses'} )}}" title="Losses">{{ team.matchesLost }}</a> -
                        <a href="{{ path('match_by_team_list_sort', {team: team.alias, type: 'draws'}  )}}" title="Draws">{{ team.matchesDraw }}</a>
                    </p>
                </section>
            </article>

            <article class="c-team-widget__details">
                <span><i class="fa fa-star"></i> {{ link_to(team.leader) }}</span>
                <span><i class="fa fa-users"></i> {{ 'member' | plural(team.numMembers) }}</span>
                <span title="{{ team.activity|number_format(3) }}">
                    <i class="fa fa-bar-chart-o"></i> {{ team.activity|number_format(2) }}
                </span>

                {% if me.teamless and team.status == "open" %}
                    <span>
                        <a href="{{ team.url('join') }}"><i class="fa fa-plus"></i> Join Team</a>
                    </span>
                {% endif %}
            </article>
        </section>
    </article>
{% endmacro %}

{% block title %}Teams{% endblock %}

{% block pageTitle %}
    <h1>Teams</h1>
{% endblock %}

{% block content %}
    <section class="o-container o-section">
        <section class="c-team-list__header">
            <h2>Active Teams</h2>
            <p>Wins - Losses - Draws</p>
        </section>

        {% for team in teams if team.activity > 0 %}
            {{ self.teamWidget(team) }}
        {% endfor %}
    </section>

    <section class="o-container o-section">
        <section class="c-team-list__header">
            <h2>Inactive Teams</h2>
            <p>Wins - Losses - Draws</p>
        </section>

        {% for team in teams if team.activity == 0 %}
            {{ self.teamWidget(team) }}
        {% endfor %}
    </section>
{% endblock %}
