{% extends 'layout.html.twig' %}

{% block title %}Teams{% endblock %}

{% block content %}
    <main class="teams">
        <section class="content_header">
            <article class="wrapper">
                <h1>Active Teams</h1>
            </article>
        </section>

        <ul class="list">
            {% for team in teams %}
                <li>
                    {{  team.rankImageLiteral | raw }}
                    <section>
                        <article class="team_stats">
                            <section class="team">
                                <p class="name">{{ link_to(team) }}</p>
                                <p class="elo">{{ team.elo }}</p>
                            </section>

                            <section class="stats">
                                <p class="match_stats">
                                    <a href="matches/{{ team.alias }}/wins">{{ team.matchesWon }}</a> -
                                    <a href="matches/{{ team.alias }}/losses">{{ team.matchesLost }}</a> -
                                    <a href="matches/{{ team.alias }}/draws">{{ team.matchesDraw }}</a>
                                </p>
                            </section>
                        </article>

                        <article class="meta">
                            <p><i class="fa fa-star"></i> {{ link_to(team.leader) }}</p>
                            <p><i class="fa fa-users"></i> {{ plural(team.numMembers, 'member') }}</p>
                            <p><i class="fa fa-bar-chart-o"></i> {{ team.activity }}</p>
                        </article>
                    </section>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
