{% extends 'layout.html.twig' %}

{% set pageButtons = [
    {
        'color': 'blue',
        'url': path('team_new'),
        'icon': 'plus',
        'text': 'Create Team',
        'condition': me.Teamless and me.canCreate("Team")
    }
] %}

{% block title %}Teams{% endblock %}

{% block content %}
    <main class="c-page s-teams">
        <section class="c-page__header">
            <div class="c-page__header__container">
                <section class="c-page__header__container__title">
                    <h1>Active Teams</h1>
                </section>

                {% include "button-repeater.html.twig" with { 'buttons': pageButtons } %}
            </div>
        </section>

        <section class="o-container">
            {% for team in teams %}
                <article class="o-section c-team-widget">
                    {{ team.rankImageLiteral | raw }}
                    <section class="c-team-widget__info">
                        <article class="c-team-widget__info__header">
                            <section class="c-team-widget__info__header__summary">
                                <span class="c-team-widget__info__header__summary__name">{{ link_to(team) }}</span>
                                <span class="c-team-widget__info__header__summary__elo">{{ team.elo }}</span>
                            </section>

                            <section class="c-team-widget__info__header__matches">
                                <p class="c-team-widget__info__header__matches__stats">
                                    <a href="{{ path('match_by_team_list_sort', {team: team.alias, type: 'wins'}   )}}">{{ team.matchesWon }}</a> -
                                    <a href="{{ path('match_by_team_list_sort', {team: team.alias, type: 'losses'} )}}">{{ team.matchesLost }}</a> -
                                    <a href="{{ path('match_by_team_list_sort', {team: team.alias, type: 'draws'}  )}}">{{ team.matchesDraw }}</a>
                                </p>
                            </section>
                        </article>

                        <article class="c-team-widget__info__meta">
                            <span><i class="fa fa-star"></i> {{ link_to(team.leader) }}</span>
                            <span><i class="fa fa-users"></i> {{ 'member' | plural(team.numMembers) }}</span>
                            <span><i class="fa fa-bar-chart-o"></i> {{ team.activity }}</span>
                        </article>
                    </section>
                </article>
            {% endfor %}
        </section>
    </main>
{% endblock %}
