{% extends 'layout.html.twig' %}

{% block title %}Teams{% endblock %}

{% block content %}
    <main class="teams">
        <section class="content_header">
            <article class="wrapper">
                <h1>Active Teams</h1>
            </article>
        </section>

        <ul class="list">
            {% for team in teams %}
                <li>
                    {{  team.rankImageLiteral | raw }}
                    <section>
                        <article class="team_stats">
                            <section class="team">
                                <p class="name">{{ team.linkLiteral | raw }}</p>
                                <p class="elo">{{ team.elo }}</p>
                            </section>

                            <section class="stats">
                                <p class="match_stats">
                                    {# @TODO Generate URL for specific match types (wins, draws, losses) #}
                                    <a href="#">{{ team.matchesWon }}</a> -
                                    <a href="#">{{ team.matchesDraw }}</a> -
                                    <a href="#">{{ team.matchesLost }}</a>
                                </p>
                            </section>
                        </article>

                        <article class="meta">
                            <p><i class="fa fa-star"></i> {{ team.leader.linkLiteral | raw }}</p>
                            <p><i class="fa fa-users"></i> {{ team.numMembers }} members</p>
                            <p><i class="fa fa-bar-chart-o"></i> {{ team.activity }}</p>
                        </article>
                    </section>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}