{% extends 'layout.html.twig' %}

{% set scopeClass = "s-teams" %}
{% set pageButtons = [
    {
        'color': 'blue',
        'url': path('team_new'),
        'icon': 'plus',
        'text': 'Create Team',
        'condition': me.Teamless and me.canCreate("Team")
    }
] %}

{% block title %}Teams{% endblock %}

{% block pageTitle %}
    <h1>Active Teams</h1>
{% endblock %}

{% block content %}
    <section class="o-container o-section">
        {% for team in teams %}
            <article class="c-team-widget">
                {{ team.rankImageLiteral | raw }}
                <section class="c-team-widget__body">
                    <article class="c-team-widget__header">
                        <section class="c-team-widget__summary">
                            <span class="c-team-widget__summary__name">{{ link_to(team) }}</span>
                            <span class="c-team-widget__summary__elo">{{ team.elo }}</span>
                        </section>

                        <section class="c-team-widget__matches">
                            <p>
                                <a href="{{ path('match_by_team_list_sort', {team: team.alias, type: 'wins'}   )}}">{{ team.matchesWon }}</a> -
                                <a href="{{ path('match_by_team_list_sort', {team: team.alias, type: 'losses'} )}}">{{ team.matchesLost }}</a> -
                                <a href="{{ path('match_by_team_list_sort', {team: team.alias, type: 'draws'}  )}}">{{ team.matchesDraw }}</a>
                            </p>
                        </section>
                    </article>

                    <article class="c-team-widget__details">
                        <span><i class="fa fa-star"></i> {{ link_to(team.leader) }}</span>
                        <span><i class="fa fa-users"></i> {{ 'member' | plural(team.numMembers) }}</span>
                        <span><i class="fa fa-bar-chart-o"></i> {{ team.activity }}</span>

                        {% if me.teamless and team.status == "open" %}
                            <span><i class="fa fa-plus"></i> Join Team</span>
                        {% endif %}
                    </article>
                </section>
            </article>
        {% endfor %}
    </section>
{% endblock %}
