{% extends 'layout.html.twig' %}
{% from 'accessibility_charts.html.twig' import accessible_pie %}

{% set opengraph = {
    url: team.url | canonical,
    type: 'article',
    title: app.siteTitle ~ ' :: ' ~ team.name,
    description: team.description | truncate(100),
    image: team.avatar | imagine_filter('open_graph')
} %}

{% set pageButtons = [
    {
        'color': 'grey',
        'url': team.url('edit'),
        'icon': 'pencil',
        'text': 'Edit',
        'condition': me.canEdit(team)
    },
    {
        'color': 'blue',
        'url': path('message_compose', { recipients: 'team:' ~ team.id }),
        'icon': 'send',
        'text': 'Send Message',
        'condition': me.hasPermission(constant('Permission::SEND_PRIVATE_MSG'))
    },
    {
        'color': 'grey',
        'url': team.url('join'),
        'icon': 'plus',
        'text': 'Join',
        'condition': me is valid and me.team ~/~ team and me.isTeamless and team.status == 'open'
    },
    {
        'color': 'grey',
        'url': team.url('abandon'),
        'icon': 'sign-out',
        'text': 'Abandon',
        'condition': me is valid and me.team ~~ team
    },
    {
        'color': 'red',
        'url': team.url('delete'),
        'icon': 'trash-o',
        'text': 'Delete',
        'condition': me.canDelete(team)
    }
] %}

{% block title %}Teams :: {{ team.name }}{% endblock %}

{% block pageTitle %}
    <div class="u-display-flex">
        {{ team.rankImageLiteral | raw }}

        <div class="ml1">
            <h1 class="mb0 u-font-weight-100">{{- team.name -}}</h1>
            <small title="{{ team.name }}'s ELO rating">{{- team.elo -}}</small>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-3">
                <img src="{{ team.avatar | imagine_filter('huge_thumb') }}"
                     class="u-image-responsive mb2"
                     alt="Profile picture for {{ team.name }}"
                >

                <p class="mb0"><strong>Founded:</strong> {{ team.creationDate | humanTime(constant('TimeDate::DATE_FULL'), tooltip = false) }}</p>
                <p class="mb0"><strong>Activity:</strong>
                    <span title="{{ team.activity|number_format(3) }}">
                        {{ team.activity|number_format(2) }}
                    </span>
                    matches per day
                </p>
            </div>

            <div class="col-lg-9">
                <div class="c-tabs">
                    <ul class="c-tabs__header" role="tablist">
                        {# "Overview" Tab #}
                        <li id="tabs__header__overview"
                            role="tab"
                            aria-controls="tabs__panel__overview"
                            aria-selected="true"
                            tabindex="0"
                        >
                            Overview
                        </li>

                        {# "Statistics" Tab #}
                        <li id="tabs__header__statistics"
                            role="tab"
                            aria-controls="tabs__panel__statistics"
                            aria-selected="false"
                            tabindex="0"
                        >
                            Statistics
                        </li>

                        {# "Members" Tab #}
                        <li id="tabs__header__members"
                            role="tab"
                            aria-controls="tabs__panel__members"
                            aria-selected="false"
                            tabindex="0"
                        >
                            Members
                        </li>

                        {# "Matches" Tab #}
                        <li id="tabs__header__matches"
                            role="tab"
                            aria-controls="tabs__panel__matches"
                            aria-selected="false"
                            tabindex="0"
                        >
                            Matches
                        </li>
                    </ul>

                    <div class="c-tabs__canvas">
                        {# "Overview" panel #}
                        <div id="tabs__panel__overview"
                             class="c-tabs__panel"
                             role="tabpanel"
                             aria-labelledby="tabs__header__overview"
                             aria-hidden="false"
                        >
                            {% set bio = team.description | markdown %}
                            {% if bio | length > 0 %}
                                <article class="s-markdown">
                                    {{ bio | raw }}
                                </article>
                            {% else %}
                                <article>
                                    <p>This team prefers to keep a certain air of mystery.</p>
                                </article>
                            {% endif %}
                        </div>

                        {# "Statistics" panel #}
                        <div id="tabs__panel__statistics"
                             class="c-tabs__panel"
                             role="tabpanel"
                             aria-labelledby="tabs__header__statistics"
                             aria-hidden="true"
                        >
                            <div class="row">
                                <div class="col-lg-6">
                                    <h4>Match Statistics</h4>
                                    <section class="c-team__stats__container flex-column">
                                        {% set matchBreakdownGraph = {
                                            'series': [
                                                {
                                                    'value': team.matchesWon,
                                                    'name': 'Wins',
                                                    'className': 'ct-chart-series--wins'
                                                },
                                                {
                                                    'value': team.matchesLost,
                                                    'name': 'Losses',
                                                    'className': 'ct-chart-series--losses'
                                                },
                                                {
                                                    'value': team.matchesDraw,
                                                    'name': 'Draws',
                                                    'className': 'ct-chart-series--draws'
                                                }
                                            ],
                                            'table': {
                                                'cols': ['Result', 'Count', 'Percent'],
                                                'values': [
                                                    '{{ series.name }}',
                                                    '{{ series.value }}',
                                                    '{{ ((series.value / meta.sum) * 100) | round }}%'
                                                ]
                                            },
                                            'meta': {
                                                'sum': team.matchesWon + team.matchesLost + team.matchesDraw
                                            }
                                        } %}

                                        <div id="team-matches-pie"
                                             class="ct-chart ct-minor-seventh c-chart c-chart--wld mb2"
                                             data-graph="pie"
                                             data-chart="{{ matchBreakdownGraph | json_encode }}"
                                             aria-hidden="true"
                                        ></div>

                                        {{ accessible_pie(
                                            "A breakdown of the number of wins, losses, and draws of " ~ team.name,
                                            matchBreakdownGraph,
                                            {
                                                'class': ['c-table', 'c-table--wld']
                                            }
                                        ) }}

                                        <ul class="c-legend">
                                            <li class="c-legend__item">
                                                <div class="c-legend__box c-legend__box--wld--wins" aria-hidden="true"></div> {{ 'win' | plural(team.matchesWon) }}
                                            </li>
                                            <li class="c-legend__item">
                                                <div class="c-legend__box c-legend__box--wld--losses" aria-hidden="true"></div> {{ 'loss' | plural(team.matchesLost) }}
                                            </li>
                                            <li class="c-legend__item">
                                                <div class="c-legend__box c-legend__box--wld--draws" aria-hidden="true"></div> {{ 'draw' | plural(team.matchesDraw) }}
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                                <div class="col-lg-6">
                                    <h4>Team Activity</h4>
                                    <section class="c-team__stats__container flex-column">
                                        {% set matchLabels %}
                                            {%- set labelPeriod = ((matches|length) / 12)|round ?: 1 %}
                                            {%- for date in matches | keys -%}
                                                {%- set farEnoughFromEdge = loop.revindex > (matches|length) / 20 -%}
                                                {%- if loop.last or (loop.index % labelPeriod == 0 and farEnoughFromEdge) -%}
                                                    {{ date }},
                                                {%- else -%}
                                                    ,
                                                {%- endif -%}
                                            {%- endfor -%}
                                        {% endset %}

                                        {% set winAmounts = [] %}
                                        {% for date in matches|keys %}
                                            {% set winAmounts = winAmounts | merge([wins[date] | default(0)]) %}
                                        {% endfor %}

                                        {% set matchData = {
                                            'series': [
                                                matches | values,
                                                winAmounts
                                            ],
                                            'labels': matchLabels | split(',')
                                        } %}
                                        <div id="team-match-activity"
                                             class="ct-chart ct-minor-seventh c-chart c-chart--activity mb2"
                                             data-graph="line"
                                             data-chart="{{ matchData | json_encode }}"
                                        ></div>

                                        <ul class="c-team__stats__legend">
                                            <li>
                                                <div id="drawColor" class="draws"></div> {{ 'match' | plural(team.numTotalMatches) }}
                                            </li>
                                            <li>
                                                <div id="winsColor" class="wins"></div> {{ 'win' | plural(team.matchesWon) }}
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                        </div>

                        {# "Members" panel #}
                        <div id="tabs__panel__members"
                             class="c-tabs__panel"
                             role="tabpanel"
                             aria-labelledby="tabs__header__members"
                             aria-hidden="true"
                        >
                            <h4 class="mb2">Led By</h4>
                            {% set leader = team.leader %}

                            {% include 'Player/widget.html.twig' with {
                                player: leader,
                                attrs: {
                                    class: 'mb2'
                                }
                            } %}

                            <h4 class="mb2">Members</h4>
                            <div class="row">
                                {% for player in team.members if player != leader %}
                                    <div class="col-lg-6 u-display-flex align-items-center">
                                        {% include 'Player/widget.html.twig' with {
                                            player: player,
                                            attrs: {
                                                class: 'flex-grow'
                                            }
                                        } %}

                                        {% if me.canEdit(team) %}
                                            <div>
                                                <a href="{{ path('team_kick', {team: team.alias, player: player.alias}) }}"
                                                   title="Kick {{ player.username }} from team">
                                                    <i class="fa fa-fw fa-eject" aria-hidden="true"></i>
                                                    <span class="sr-only">Kick {{ player.username }} from team</span>
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        {# "Matches" panel #}
                        <div id="tabs__panel__matches"
                             class="c-tabs__panel"
                             role="tabpanel"
                             aria-labelledby="tabs__header__matches"
                             aria-hidden="true"
                        >
                            {% for match in team.matches %}
                                <a class="c-table__row c-team__match" href="{{ match.url }}">
                            <span class="c-table__row__column c-team__match__date">
                                {{ match.timestamp | humanTime('D, M d') }}
                            </span>
                                    <span class="c-table__row__column c-team__match__opponent">
                                <strong>vs.</strong> {{ match.opponent(team.id).name }}
                            </span>
                                    <span class="c-table__row__column c-team__match__score">
                                <strong class="u-match-outcome">{{ match.matchLetter(team.id) }}</strong> {{ match.score(team.id) }} - {{ match.opponentScore(team.id) }}
                            </span>
                                </a>
                            {% endfor %}
                            <a class="c-table__row c-team__matches__more" href="{{ path('match_by_team_list', { team: team.alias }) }}">
                                View more matches...
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
