{% extends 'layout.html.twig' %}

{% set pageButtons = [
    {
        'color': 'grey',
        'url': team.url('edit'),
        'icon': 'pencil',
        'text': 'Edit',
        'condition': me.canEdit(team)
    },
    {
        'color': 'grey',
        'url': team.url('join'),
        'icon': 'plus',
        'text': 'Join',
        'condition': me is valid and me.team.id != team.id and me.isTeamless and team.status == 'open'
    },
    {
        'color': 'grey',
        'url': team.url('abandon'),
        'icon': 'sign-out',
        'text': 'Abandon',
        'condition': me is valid and me.team.id == team.id
    },
    {
        'color': 'red',
        'url': team.url('delete'),
        'icon': 'trash-o',
        'text': 'Delete',
        'condition': me.canDelete(team)
    }
] %}

{% block title %}Teams :: {{ team.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('includes/tipsy/src/stylesheets/tipsy.css') }}" />
{% endblock %}

{% block content %}
    <main class="c-page s-team-profile">
        <section class="c-page__header">
            <div class="c-page__header__container">
                <section class="c-page__header__container__title">
                    {{ team.rankImageLiteral | raw }}

                    <div>
                        <h1>{{ team.name }}</h1>
                        <small>{{ team.elo }}</small>
                    </div>
                </section>

                {% include "button-repeater.html.twig" with { 'buttons': pageButtons } %}
            </div>
        </section>

        <section class="o-container c-team">
            <section class="o-row o-section">
                <section class="o-row__column--with-sidebar c-team__information">
                    <p><strong>Founded:</strong> {{ team.creationDateFormat }}</p>
                    {% spaceless %}
                        <article class="c-team__information__bio s-markdown u-hide-on-empty">
                            {{ team.description | markdown }}
                        </article>
                    {% endspaceless %}
                </section>

                <section class="o-row__sidebar c-team__profile-picture">
                    <img src="{{ team.avatar | imagine_filter('huge_thumb') }}" class="team_avatar">
                </section>
            </section>

            <section class="o-row o-section">
                <section class="o-row__column--half c-team__match-stats">
                    <h4 class="o-section__header">
                        Match Statistics
                        <small>
                            [<a id="match_stats" href="#" original-title="Like match stats? There's more!">?</a>]
                        </small>
                    </h4>
                    <section class="c-team__match-stats__visual">
                        <canvas id="teamMatchStats" class="c-team__match-stats__visual__graph"></canvas>
                        <ul class="c-team__match-stats__visual__legend">
                            <li>
                                <div id="winsColor" class="wins"></div> {{ 'win'|plural(team.matchesWon) }}
                            </li>
                            <li>
                                <div id="lossColor" class="losses"></div> {{ 'loss'|plural(team.matchesLost) }}
                            </li>
                            <li>
                                <div id="drawColor" class="draws"></div> {{ 'draw'|plural(team.matchesDraw) }}
                            </li>
                        </ul>
                    </section>
                </section>

                <section class="o-row__column--half c-team__activity">
                    <h4 class="o-section__header">
                        Team Activity
                        <small>
                            [<a id="activity_stats" href="#" original-title="Like activity stats? There's more!">?</a>]
                        </small>
                    </h4>
                </section>
            </section>

            <section class="o-row o-section">
                <section class="o-row__column--half c-team__roster">
                    <h4 class="o-section__header">Team Members</h4>
                    <article class="c-table c-table--no-border c-table--no-hover">
                        {% for player in team.members %}
                            <div class="c-table__row">
                                {% if me.canEdit(team) %}
                                    <div class="c-table__row__column c-team__roster__option">
                                        <a href="{{ path('team_kick', {team: team.alias, player: player.alias}) }}" title="Kick {{ player.username }} from team">
                                            <i class="fa fa-eject"></i>
                                        </a>
                                    </div>
                                {% endif %}

                                <div class="c-table__row__column c-team__roster__callsign">
                                    {{ player.country.flagLiteral | raw }} {{ link_to(player) }}

                                    {% if player.id == team.leader.id %}
                                        <i class="fa fa-star" title="Team Leader"></i>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </article>
                </section>

                <section class="o-row__column--half c-team__matches">
                    <h4 class="o-section__header">Recent Matches</h4>
                    <article class="c-table">
                        {% for match in team.matches %}
                            <a class="c-table__row" href="#">
                            <span class="c-table__row__column u-date">
                                {{ match.timestamp('D, M d') }}
                            </span>
                            <span class="c-table__row__column u-opponent">
                                <strong>vs.</strong> {{ match.opponent(team.id).name }}
                            </span>
                            <span class="c-table__row__column u-score">
                                <strong class="u-match-outcome">{{ match.matchLetter(team.id) }}</strong> {{ match.score(team.id) }} - {{ match.opponentScore(team.id) }}
                            </span>
                            </a>
                        {% endfor %}
                    </article>
                </section>
            </section>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('includes/chartjs/Chart.min.js') }}"></script>
    <script src="{{ asset('includes/tipsy/src/javascripts/jquery.tipsy.js') }}"></script>
    <script>
        var teamWins   = {{ team.matchesWon }};
        var teamLosses = {{ team.matchesLost }};
        var teamDraws  = {{ team.matchesDraw }};

        $("#match_stats").tipsy({gravity: 's'});
        $("#activity_stats").tipsy({gravity: 's'});
    </script>
    <script src="{{ asset('assets/js/min/teams.js') }}"></script>
{% endblock %}
