{% extends 'layout.html.twig' %}

{% block title %}Teams :: {{ team.name }}{% endblock %}

{% block content %}
    <main class="team_profile">
        <section class="content_header">
            <article>
                {{ team.rankImageLiteral | raw }}
                <div>
                    <h1>{{ team.name }}</h1>
                    <small>{{ team.elo }}</small>
                </div>

                <div class="buttons">
                    {% if me.hasPermission("del_team") or me.team.id == team.id %}
                        <a class="button red" href="#"><i class="fa fa-trash-o"></i> Delete</a>
                    {% endif %}

                    {% if me.hasPermission("edit_team") or me.team.id == team.leader.id %}
                        <a class="button grey notextshadow" href="#"><i class="fa fa-pencil"></i> Edit</a>
                    {% endif %}

                    {% if me.isValid and me.team.id != team.id and me.isTeamless %}
                        <a class="button grey notextshadow" href="#"><i class="fa fa-plus"></i> Join</a>
                    {% endif %}
                </div>
            </article>
        </section>
    </main>

    <div class='team_name'>{{ team.name }}</div><br />
    <div class='team_rating'>ELO: {{ team.elo }}</div><br />
    <div class='team_leader'>Leader: <a href="{{ team.leader.url }}">{{ team.leader.username }}</a></div><br />
    Matches: <a href="{{ team.matchesURL }}">{{ team.numTotalMatches }}</a><br />
    Members: {{ team.numMembers }}<br />
    Activity: {{ team.activity }}<br />
    Created: {{ team.created }}<br /><br />
{% endblock %}
