{% extends 'layout.html.twig' %}

{% block title %}Teams :: {{ team.name }}{% endblock %}

{% block content %}
    <main class="team_profile">
        <section class="content_header">
            <article>
                {{ team.rankImageLiteral | raw }}
                <div>
                    <h1>{{ team.name }}</h1>
                    <small>{{ team.elo }}</small>
                </div>

                <div class="buttons">
                    {% if me.hasPermission(constant('Permission::SOFT_DELETE_TEAM')) or me.team.id == team.id %}
                        <a class="button red" href="#"><i class="fa fa-trash-o"></i> Delete</a>
                    {% endif %}

                    {% if me.hasPermission(constant('Permission::EDIT_TEAM')) or me.team.id == team.leader.id %}
                        <a class="button grey notextshadow" href="#"><i class="fa fa-pencil"></i> Edit</a>
                    {% endif %}

                    {% if me.isValid and me.team.id != team.id and me.isTeamless %}
                        <a class="button grey notextshadow" href="#"><i class="fa fa-plus"></i> Join</a>
                    {% endif %}

                    {% if me.isValid and me.team.id == team.id %}
                        <a class="button grey notextshadow" href="#"><i class="fa fa-sign-out"></i> Abandon</a>
                    {% endif %}
                </div>
            </article>
        </section>

        <section class="profile">
            <section class="team_row">
                <section class="description">
                    {{ team.description | raw }}
                </section>

                <section class="profile_picture">
                    <img src="{{ team.identicon }}">
                </section>
            </section>

            <section class="team_row">
                <section class="match_stats">
                    <h4>Match Statistics</h4>
                    <canvas id="teamMatchStats" class="teamMatchStats"></canvas>
                    <article class="legend">
                        <div class="item">
                            <div class="block wins"></div> {{ team.matchesWon }} wins
                        </div>
                        <div class="item">
                            <div class="block losses"></div> {{ team.matchesLost }} losses
                        </div>
                        <div class="item">
                            <div class="block draws"></div> {{ team.matchesDraw }} draws
                        </div>
                    </article>
                </section>

                <section class="activity">
                    <h4>Team Activity</h4>
                </section>
            </section>

            <section class="team_row">
                <section class="members">
                    <h4>Team Members</h4>
                    <article class="css-table team_members">
                        {% for player in team.members %}
                            <div class="row">
                                <div class="column">
                                    {% if player.id == team.leader.id %}
                                        <i class="fa fa-star" title="Team Leader"></i>
                                    {% endif %}
                                </div>
                                <div class="column">
                                    {{ player.username }}
                                </div>

                                {% if me.hasPermission(constant('Permission::EDIT_TEAM')) or me.id == team.leader.id %}
                                    <div class="column">
                                        <a href="#"><i class="fa fa-eject" title="Kick {{ player.username }} from team"></i></a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </article>
                </section>

                <section class="matches">
                    <h4>Recent Matches</h4>
                    <ul>
                        {% for match in team.matches %}
                            <li>
                                {{ match.score(team.id) }} - {{ match.opponentScore(team.id) }} {{ match.matchDescription(team.id) }} against {{ match.opponent(team.id).linkLiteral | raw }}
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            </section>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ request.getBaseURL() }}/includes/chartjs/Chart.min.js"></script>
    <script>
        var teamWins   = {{ team.matchesWon }};
        var teamLosses = {{ team.matchesLost }};
        var teamDraws  = {{ team.matchesDraw }};
    </script>
    <script src="{{ request.getBaseURL() }}/assets/js/min/teams-ck.js"></script>
{% endblock %}
