{% extends 'Message/layout.html.twig' %}

{% from 'md-editor.html.twig' import md_editor %}

{% set pageButtons = [
    {
        'color': 'blue',
        'url': path('message_list'),
        'icon': 'inbox',
        'text': 'Inbox',
        'condition': true
    }
] %}

{% set viewTitle = "Compose Message" %}

{% block messages_body %}
    <section id="conversationMessages">
        {{ form_start(form, { attr: {class: 'compose_form', autocomplete: 'off'} }) }}
            {{ form_errors(form) }}

            {{ form_row(form.Recipients, {
                container_attr: {
                    class: 'mb3'
                }
            }) }}

            {{ form_row(form.Subject, {
                label: 'Subject: ',
                container_attr: {
                    class: 'mb3',
                },
                attr: {
                    placeholder: 'Enter message subject'
                }
            }) }}

            <div class="mb3">
                {{ form_errors(form.Message) }}
                {{ form_label(form.Message) }}
                {{ md_editor(form.Message) }}
            </div>

            {{ form_row(form.Send, {
                id: 'composeButton',
                attr: {
                    'data-style': 'expand-right'
                }
            }) }}
        {{ form_end(form) }}
    </section>
{% endblock %}
