{% extends 'Message/layout.html.twig' %}

{% set pageButtons = [
    {
        'color': 'blue',
        'url': path('message_list'),
        'icon': 'inbox',
        'text': 'Inbox',
        'condition': true
    }
] %}

{% set viewTitle = "Compose Message" %}

{% block messages_body %}
    <section id="conversationMessages">
        <div>
            {{ form_start(form, { attr: {class: 'compose_form', autocomplete: 'off'} }) }}
                {{ form_errors(form) }}
                <div class="input_conversation">
                    {{ form_row(form.Recipients) }}
                    {{ form_row(form.Subject, { label: 'Subject: ', attr: { placeholder: 'Enter message subject'} }) }}
                </div>
                <div class="editor">
                    {{ form_row(form.Message, { attr: { 'placeholder': 'Enter your message here...'} }) }}
                </div>

                <div class="buttons">
                    {{ form_row(form.Send, {id: 'composeButton', attr: {'data-style': 'expand-right'} }) }}
                </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
