{% extends 'Message/layout.html.twig' %}

{% block messages %}
    <div id="groupMessages" class="chat_area">
        <div class="chat_details">
            <div class="chat_options">
                <div class="subject">Compose a new message</div>
                <div style="clear: both"></div>
            </div>
        </div>
        {{ form_start(form, {'attr': {'class': 'compose_form', 'autocomplete': 'off'} }) }}
            {{ form_errors(form) }}
            <div class="input_group">
                <div class="input_group_row">
                    {{ form_row(form.recipients, { 'label': 'Recipients: ', 'id': 'compose_recipients', 'attr': { 'class': 'input_group_main', 'placeholder': 'brad, kierra, ...'} }) }}
                </div>
                <div class="input_group_row">
                    {{ form_row(form.subject,    { 'label': 'Subject: ', 'attr': { 'placeholder': 'Enter message subject'} }) }}
                </div>
            </div>
                {{ form_row(form.message,    { 'attr': { 'placeholder': 'Enter your message here...'} }) }}
            <div class="buttons">
                {{ form_row(form.Send, {'id': 'composeButton', 'attr': {'class': 'ladda-button', 'data-style': 'zoom-out'} }) }}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
