<section class="{{ customClass }} c-messages__inbox">
    {% for group in groups %}
        <a class="c-messages__inbox__message" data-id="{{ group.id }}" href="{{ group.url }}">
            <section class="c-messages__inbox__message__meta">
                <p class="c-messages__inbox__message__meta__subject">{{ group.subject }}</p>
                <p class="c-messages__inbox__message__meta__timestamp">{{ group.lastActivity }}</p>
            </section>

            <p class="c-messages__inbox__message__members">
                {% if group.members is not empty %}
                    {% for member in group.members %}
                        {{- member.name -}}
                        {%- if not loop.last -%}
                            {{- ', ' -}}
                        {%- endif -%}
                    {% endfor %}
                {% else %}
                    No other recipients
                {% endif %}
            </p>

            <article class="c-messages__inbox__message__latest-message">
                {% set lastmessage = group.lastmessage %}
                {% if lastmessage is valid %}
                    <strong>{{ lastmessage.author.username }}:</strong>
                    {{ lastmessage.content|markdown(true, false)|striptags|truncate(50)|raw }}
                {% endif %}
            </article>
        </a>
    {% endfor %}
</section>