{% import "Message/utilities.html.twig" as msgutils %}

<section class="c-conversations {{ customClass }}">
    {% for conversation in conversations %}
        <a class="c-conversation" data-id="{{ conversation.id }}" href="{{ conversation.url }}">
            <section class="c-conversation__meta">
                <p class="c-conversation__subject">{{ conversation.subject }}</p>
                <p class="c-conversation__timestamp">
                    <span class="human-date">{{ conversation.lastActivity | humanTime(tooltip = false) }}</span>
                    <span class="short-date">{{ conversation.lastActivity | date(constant("TimeDate::DATE_SHORT")) }}</span>
                </p>
            </section>

            <p class="c-conversation__members">
                {% set members = conversation.members %}

                {%- if members|length == 2 -%}
                    <span class="always-view">{{ msgutils.listMembers(members, false) }}</span>
                {%- elseif members|length > 2 -%}
                    <span class="summed-view">{{ members | length }} participants</span>
                    <span class="extend-view">{{ msgutils.listMembers(members, false) }}</span>
                {%- else -%}
                    <span class="always-view">No other recipients</span>
                {%- endif -%}
            </p>

            <article class="c-conversation__latest-message">
                {% set lastmessage = conversation.lastmessage %}
                {% if lastmessage is valid %}
                    <strong>{{ lastmessage.author.username }}:</strong>
                    {{ lastmessage.content|markdown(true, false)|striptags|truncate(50)|raw }}
                {% endif %}
            </article>
        </a>
    {% endfor %}
</section>