{% import _self as self %}

{% macro listMembers(members) %}
    {%- for member in members -%}
        {%- set next  = members[loop.index0 + 1] -%} {# The next item in the loop #}
        {%- set after = members[loop.index0 + 2] -%} {# The next next item in the loop #}

        {# We don't want to output or own names #}
        {%- if member.name != me.name -%}
            {{- member.name -}}

            {%- if not loop.last and (next.name != me.name or after is not null) -%}
                {{- ', ' -}}
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
{% endmacro %}

<section class="c-conversations {{ customClass }}">
    {% for conversation in conversations %}
        <a class="c-conversation" data-id="{{ conversation.id }}" href="{{ conversation.url }}">
            <section class="c-conversation__meta">
                <p class="c-conversation__subject">{{ conversation.subject }}</p>
                <p class="c-conversation__timestamp">
                    <span class="human-date">{{ conversation.lastActivity | humanTime(tooltip = false) }}</span>
                    <span class="short-date">{{ conversation.lastActivity | date(constant("TimeDate::DATE_SHORT")) }}</span>
                </p>
            </section>

            <p class="c-conversation__members">
                {% set members = conversation.members %}

                {%- if members|length == 2 -%}
                    <span class="always-view">{{ self.listMembers(members) }}</span>
                {%- elseif members|length > 2 -%}
                    <span class="summed-view">{{ members | length }} participants</span>
                    <span class="extend-view">{{ self.listMembers(members) }}</span>
                {%- else -%}
                    <span class="always-view">No other recipients</span>
                {%- endif -%}
            </p>

            <article class="c-conversation__latest-message">
                {% set lastmessage = conversation.lastmessage %}
                {% if lastmessage is valid %}
                    <strong>{{ lastmessage.author.username }}:</strong>
                    {{ lastmessage.content|markdown(true, false)|striptags|truncate(50)|raw }}
                {% endif %}
            </article>
        </a>
    {% endfor %}
</section>