{% extends 'layout.html.twig' %}

{% block title %}Messages{% endblock %}

{% block button_row %}
    {% set type = type|default('submit') %}
    {% spaceless %}
        <button type="{{ type }}" {{ block('widget_attributes') }}>
            <span class="ladda-label">{{ form.vars.name }}</span>
        </button>
    {% endspaceless %}
{% endblock button_row %}

{% block content %}
    <main class="messaging">
        <section class="content_header">
            <article class="wrapper">
                <h1>Messages</h1>
            </article>
        </section>

        <section class="messages">
            <section class="conversations">
                {{ form_start(searchForm, { attr: { class: "search" } } ) }}
                    <div class="icon">
                        <i class="fa fa-search"></i>
                    </div>
                    {{ form_widget(searchForm.q, { attr: { class: "field", placeholder: "Search..."} } ) }}
                    <div class="icon">
                        <i class="fa fa-cog"></i>
                    </div>
                {{ form_end(searchForm) }}

                <section class="chat_messages">
                    <ul class="chats">
                        {% for group in groups %}
                            <li>
                                <a data-id="{{ group.id }}" href="{{ group.url }}">
                                    <section class="meta">
                                        <p class="subject">{{ group.subject }}</p>
                                        <p class="timestamp">{{ group.lastActivity }}</p>
                                    </section>

                                    <p class="members">
                                        {% if group.members is not empty %}
                                            {% for member in group.members %}
                                                {{- member.username -}}
                                                {%- if not loop.last -%}
                                                    {{- ', ' -}}
                                                {%- endif -%}
                                            {% endfor %}
                                        {% else %}
                                            No other recipients
                                        {% endif %}
                                    </p>

                                    <article class="last_message">
                                        <strong>{{ group.lastmessage.author.username }}:</strong> {{ group.lastmessage.summary(50) }}
                                    </article>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            </section>

            {% block messages %}

            {% endblock %}
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('includes/ladda/dist/spin.min.js') }}"></script>
    <script src="{{ asset('includes/ladda/dist/ladda.min.js') }}"></script>
    <script src="{{ asset('components/select2/select2.js') }}"></script>
    <script src="{{ asset('assets/js/messages.js') }}"></script>
{% endblock %}
