{% extends 'layout.html.twig' %}

{% block title %}{{ viewTitle }}{% endblock %}

{% block button_row %}
    {% set type = type|default('submit') %}
    {% spaceless %}
        <button type="{{ type }}" {{ block('widget_attributes') }}>
            <span class="ladda-label">{{ form.vars.name }}</span>
        </button>
    {% endspaceless %}
{% endblock button_row %}

{% block content %}
    <main class="c-page s-messaging">
        <section class="c-page__header">
            <div class="c-page__header__container">
                <section class="c-page__header__container__title">
                    <h1>{{ viewTitle }}</h1>
                </section>

                {% include "button-repeater.html.twig" with { 'buttons': pageButtons } %}
            </div>
        </section>

        <div class="o-container">
            {% block messages_body %}

            {% endblock %}
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('includes/ladda/dist/spin.min.js') }}"></script>
    <script src="{{ asset('includes/ladda/dist/ladda.min.js') }}"></script>
    <script src="{{ asset('components/select2/dist/js/select2.js') }}"></script>
    {#<script src="{{ asset('assets/js/messages.js') }}"></script>#}
{% endblock %}

{% macro member(member) -%}
    {{- link_to(member, icon = member.type == 'team' ? 'users', forceText = true) -}}
{%- endmacro %}
