{% if messages %}
    <a href="{{ path('message_show_discussion', {discussion: group.id, start: (messages|last).id }) }}" class="older_messages">
        Load older messages
    </a>
{% endif %}

{% for message in messages|reverse %}
    <li data-id="{{ message.id }}">
        {% if message.author.id == me.id %}
            <div class="bubble me">
        {% else %}
            <div class="bubble">
        {% endif %}
                {# Only display the author details for when the message wasn't sent from the previous user #}

                {% if message.author.id != previousAuthor %}
                    <div class="message_details">
                        <div class='author'>{{ message.author.username }}</div>
                        <div class='date'>{{ message.creationDate }}</div>
                    </div>
                {% endif %}

                <p>{{ message.content|nl2br }}</p>
            </div>
    </li>

    {% set previousAuthor = message.author.id %}
{% endfor %}
