{% if messages %}
    <div class="c-messenger__conversation__archiver">
        <a href="{{ path('message_conversation_show', {conversation: conversation.id, start: (messages|last).id }) }}">
            <i class="fa fa-refresh"></i>
            <span>Load older messages</span>
        </a>
    </div>
{% endif %}

{% if previousMessage %}
    {% set previousAuthor = previousMessage.author.id %}
    {% set previousMessage = previousMessage.timestamp %}
{% endif %}

<ul class="c-messenger__conversation">
    {% for message in messages|reverse %}
        {% if message.isMessage %}
            <li class="c-message" data-id="{{ message.id }}">
                {%- if message.author.id != previousAuthor or not previousMessage.isSameDay(message.timestamp) %}
                    <div class="row mb2">
                        <div class="col-xs-6 col-md-10">
                            {{ link_to(message.author) }}
                        </div>
                        <div class="col-xs-6 col-md-2 text-right">
                            {{ message.timestamp | humanTime }}
                        </div>
                    </div>
                {% endif -%}

                <div class="row">
                    <div class="c-message__body col-md-10">
                        {{ message.content | markdown(true, false) }}
                    </div>
                    <div class="c-message__time col-md-2 text-right text-muted">
                        <span title="{{ message.timestamp | date(constant('\TimeDate::FULL')) }}">
                            {{ message.timestamp | date('h:ia') }}
                        </span>
                    </div>
                </div>
            </li>
        {% else %}
            {% set type = message.category %}
            {% set event = message.event %}

            <li class="c-action" data-id="{{ message.id }}">
                <div class="c-action__time">
                    <span title="{{ message.timestamp | date(constant('\TimeDate::FULL')) }}">
                        {{ message.timestamp | date('h:ia') }}
                    </span>
                </div>

                {% if type == 'conversation.rename' %}
                    <i class="fa fa-pencil"></i> {{ link_to(event.player) }} renamed the discussion to "{{ event.newSubject }}"
                {% elseif type == 'conversation.abandon' %}
                    <i class="fa fa-hand-o-left"></i> {{ link_to(event.member) }} left the discussion
                {% elseif type == 'conversation.kick' %}
                    <i class="fa fa-hand-o-left"></i> {{ link_to(event.kicked) }} left the discussion
                {% elseif type == 'conversation.join' %}
                    <i class="fa fa-plus-circle"></i>
                    {% for member in event.newMembers -%}
                        {%- if not loop.first -%}
                            {%- if loop.last %} and
                            {% else -%} ,
                            {% endif -%}
                        {%- endif -%}

                        {{ link_to(member) }}
                    {%- else -%}
                        Nobody
                    {%- endfor %}
                    joined the discussion
                {% elseif type == 'team.join' %}
                    <i class="fa fa-plus-circle"></i> {{ link_to(event.player) }} joined {{ link_to(event.team) }}
                {% elseif type == 'team.abandon' %}
                    <i class="fa fa-hand-o-left"></i> {{ link_to(event.player) }} left {{ link_to(event.team) }}
                {% elseif type == 'team.kick' %}
                    <i class="fa fa-hand-o-left"></i> {{ link_to(event.kicked) }} left {{ link_to(event.team) }}
                {% endif %}
            </li>
        {% endif %}

        {% set previousAuthor = message.author.id %}
        {% set previousMessage = message.timestamp %}
    {% endfor %}
</ul>
