{% import _self as self %}
{% import 'Message/utilities.html.twig' as msgutils %}

{% extends 'Message/layout.html.twig' %}

{% set pageButtons = [
    {
        'color': 'blue',
        'url': path('message_list'),
        'icon': 'inbox',
        'text': 'Inbox',
        'condition': true
    },
    {
        'color': 'blue',
        'url': path('message_compose'),
        'icon': 'pencil',
        'text': 'Compose',
        'condition': me.hasPermission(constant('Permission::SEND_PRIVATE_MSG'))
    }
] %}

{% set viewTitle = "Subject: " ~ conversation.subject %}
{% set pageWideCSS = "s-fullflex" %}

{% macro conversation_action(id, form, input, action) %}
    <div id="{{ id }}" class="c-messenger__option collapsible-entity">
        {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="c-messenger__option__action">
                <p class="c-messenger__option__action__close collapsible-close" data-close="#{{ id }}">
                    <i class="fa fa-close"></i>
                </p>

                {{ form_row(input, {
                    'container_attr': {
                        'class': 'c-messenger__option__action__input'
                    }
                }) }}

                {{ form_row(action, {
                    'container_attr': {
                        'class': 'c-messenger__option__action__buttons'
                    }
                }) }}
            </div>

            {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endmacro %}

{% block messages_body %}
    <section class="c-messenger">
        <aside class="c-messenger__sidebar c-fullflex--scrollable">
            {% include "Message/searchbar.html.twig" %}
            {% include "Message/conversations.html.twig" with { customClass: 'c-conversation--compressed' } %}
        </aside>

        <section class="c-messenger__conversation" data-id="{{ conversation.id }}" id="conversationMessages">
            <section class="c-messenger__conversation__options">
                <div class="c-messenger__options__header o-row">
                    <p class="c-messenger__options__header__meta">
                        Conversation with {{ msgutils.listMembers(conversation.members, true) }}
                    </p>
                    <p class="c-messenger__options__header__actions">
                        {% if me.canEdit(conversation) %}
                            <i class="fa fa-user-plus collapsible-trigger" data-toggle="#InviteForm"></i>
                            <i class="fa fa-pencil collapsible-trigger" data-toggle="#SubjectRenameForm"></i>
                        {% endif %}
                    </p>
                </div>

                {% if me.canEdit(conversation) %}
                    {{ self.conversation_action("SubjectRenameForm", renameForm, renameForm.subject, renameForm.Rename) }}
                    {{ self.conversation_action("InviteForm", inviteForm, inviteForm.players, inviteForm.Invite) }}
                {% endif %}
            </section>

            <section id="messageView" class="c-messenger__conversation__scrolling">
                {% include 'Message/messages.html.twig' %}
            </section>

            {{ form_start(form, {'attr': {'class': 'c-messenger__conversation__response', 'autocomplete': 'off'} }) }}
                {{ form_errors(form) }}
                <div class="quick_reply">
                    {{ form_errors(form.message) }}
                    {{ form_widget(form.message, {id: 'composeArea', attr: {'autofocus': 'autofocus', class: 'input_compose_area', placeholder: 'Enter your message here...'} }) }}

                    {{ form_row(form.Send, {id: 'composeButton', attr: {'data-style': 'expand-right'} }) }}
                </div>
            {{ form_end(form) }}
        </section>
    </section>
{% endblock %}
