{% import 'Message/utilities.html.twig' as msgutils %}
{% extends 'Message/layout.html.twig' %}

{% set pageButtons = [
    {
        'color': 'blue',
        'url': path('message_list'),
        'icon': 'inbox',
        'text': 'Inbox',
        'condition': true
    },
    {
        'color': 'blue',
        'url': path('message_compose'),
        'icon': 'pencil',
        'text': 'Compose',
        'condition': me.hasPermission(constant('Permission::SEND_PRIVATE_MSG'))
    }
] %}

{% set viewTitle = "Subject: " ~ conversation.subject %}
{% set pageWideCSS = "s-fullflex" %}

{% block messages_body %}
    <section class="c-messenger">
        <aside class="c-messenger__sidebar c-fullflex--scrollable">
            {% include "Message/searchbar.html.twig" %}
            {% include "Message/conversations.html.twig" with { customClass: 'c-conversation--compressed' } %}
        </aside>

        <section class="c-messenger__conversation" data-id="{{ conversation.id }}" id="conversationMessages">
            <div class="c-messenger__conversation__container dimmable">
                <section class="c-messenger__conversation__options">
                    <div class="o-row">
                        <p class="o-col--half">
                            Conversation with {{ msgutils.listMembers(conversation.members, true) }}
                        </p>
                        <p class="o-col--half u-text-right">
                            {% if me.canEdit(conversation) %}
                                <i class="fa fa-user-plus collapsible-trigger" data-toggle="#InviteForm"></i>
                                <i class="fa fa-pencil collapsible-trigger" data-toggle="#SubjectRenameForm"></i>
                            {% endif %}
                        </p>
                    </div>

                    {% if me.canEdit(conversation) %}
                        <div id="SubjectRenameForm" class="c-messenger__option collapsible-entity">
                            {{ form(renameForm)}}
                        </div>

                        <div id="InviteForm" class="c-messenger__option collapsible-entity">
                            {{ form(inviteForm)}}
                        </div>
                    {% endif %}
                </section>

                <section class="c-messenger__conversation__scrolling">
                    {% include 'Message/messages.html.twig' %}
                </section>

                {{ form_start(form, {'attr': {'class': 'c-messenger__conversation__response', 'autocomplete': 'off'} }) }}
                    {{ form_errors(form) }}
                    <div class="quick_reply">
                        {{ form_errors(form.message) }}
                        {{ form_widget(form.message, {id: 'composeArea', attr: {'autofocus': 'autofocus', class: 'input_compose_area', placeholder: 'Enter your message here...'} }) }}

                        {{ form_row(form.Send, {id: 'composeButton', attr: {class: 'ladda-button', 'data-style': 'zoom-out', 'data-size': 'xs'} }) }}
                    </div>
                {{ form_end(form) }}
            </div>
        </section>
    </section>
{% endblock %}
