{% import _self as self %}
{% import 'Message/utilities.html.twig' as msgutils %}

{% extends 'Message/layout.html.twig' %}

{% set pageButtons = [
    {
        'color': 'blue',
        'url': path('message_list'),
        'icon': 'inbox',
        'text': 'Inbox',
        'condition': true
    },
    {
        'color': 'blue',
        'url': path('message_compose'),
        'icon': 'pencil',
        'text': 'Compose',
        'condition': me.hasPermission(constant('Permission::SEND_PRIVATE_MSG'))
    }
] %}

{% set viewTitle = "Subject: " ~ conversation.subject %}
{% set pageWideCSS = "s-fullflex" %}

{% macro conversation_action(id, form, input, action) %}
    <div id="{{ id }}" class="c-messenger__option collapsible-entity">
        {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="c-messenger__option__action">
                <p class="c-messenger__option__action__close collapsible-close" data-close="#{{ id }}">
                    <i class="fa fa-close"></i>
                </p>

                {{ form_row(input, {
                    'container_attr': {
                        'class': 'c-messenger__option__action__input'
                    }
                }) }}

                {{ form_row(action, {
                    'container_attr': {
                        'class': 'c-messenger__option__action__buttons'
                    }
                }) }}
            </div>

            {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endmacro %}

{% block messages_body %}
    <section class="c-messenger">
        {# @TODO Include this once we have AJAX fetching for messages #}
        {#<aside class="c-messenger__sidebar c-fullflex--scrollable">#}
            {#{% include "Message/searchbar.html.twig" %}#}
            {#{% include "Message/conversations.html.twig" with { customClass: 'c-conversation--compressed' } %}#}
        {#</aside>#}

        <section class="c-messenger__conversation" data-id="{{ conversation.id }}" id="conversationMessages">
            <section class="c-messenger__conversation__options">
                <div class="c-messenger__options__header o-row">
                    <p class="c-messenger__options__header__meta">
                        Conversation with {{ msgutils.listMembers(conversation.members, true) }}
                    </p>
                    <p class="c-messenger__options__header__actions">
                        {% if me.canEdit(conversation) %}
                            <i class="fa fa-user-plus collapsible-trigger" data-toggle="#InviteForm" title="Invite players to the conversation"></i>
                            <i class="fa fa-user-times"></i>
                            <i class="fa fa-pencil collapsible-trigger" data-toggle="#SubjectRenameForm" title="Rename conversation"></i>
                        {% endif %}
                        {% if me.canEdit(me.team) and conversation.isMember(me.team) %}
                            <a href="{{ conversation.url('team_leave') }}" title="Remove {{ me.team.name }} from conversation">
                                {# TODO: Find a better icon #}
                                <i class="fa fa-bolt"></i>
                            </a>
                        {% endif %}
                        {% if me ~/~ conversation.creator and not conversation.isTeamMember(me) %}
                            <a href="{{ conversation.url('leave') }}" title="Leave conversation">
                                <i class="fa fa-sign-out"></i>
                            </a>
                        {% endif %}
                    </p>
                </div>

                {% if me.canEdit(conversation) %}
                    {{ self.conversation_action("SubjectRenameForm", renameForm, renameForm.subject, renameForm.Rename) }}
                    {{ self.conversation_action("InviteForm", inviteForm, inviteForm.players, inviteForm.Invite) }}
                {% endif %}
            </section>

            <section id="messageView" class="c-messenger__conversation__scrolling">
                {% include 'Message/messages.html.twig' %}

                <noscript>
                    <div class="c-messenger__conversation__archiver">
                        <a href="{{ path('message_conversation_show', {conversation: conversation.id, end: (messages|first).id }) }}">
                            <i class="fa fa-refresh"></i>
                            <span>Load more recent messages</span>
                        </a>
                    </div>
                </noscript>
            </section>

            {{ form_start(form, {'attr': {'class': 'c-messenger__conversation__response', 'autocomplete': 'off'} }) }}
                {{ form_errors(form) }}
                <div class="quick_reply">
                    {{ form_errors(form.message) }}
                    {{ form_widget(form.message, {id: 'composeArea', attr: {'autofocus': 'autofocus', class: 'input_compose_area', placeholder: 'Enter your message here...'} }) }}

                    {{ form_row(form.Send, {id: 'composeButton', attr: {'data-style': 'expand-right'} }) }}
                </div>
            {{ form_end(form) }}
        </section>
    </section>
{% endblock %}
