{% extends 'Message/layout.html.twig' %}

{% set pageButtons = [
    {
        'color': 'blue',
        'url': path('message_list'),
        'icon': 'inbox',
        'text': 'Inbox',
        'condition': true
    },
    {
        'color': 'blue',
        'url': path('message_compose'),
        'icon': 'pencil',
        'text': 'Compose',
        'condition': me.hasPermission(constant('Permission::SEND_PRIVATE_MSG'))
    }
] %}

{% set viewTitle = "Subject: " ~ conversation.subject %}
{% set pageWideCSS = "s-fullflex" %}

{% block messages_body %}
    <section class="c-messenger">
        <aside class="c-messenger__sidebar c-fullflex--scrollable">
            {% include "Message/searchbar.html.twig" %}
            {% include "Message/conversations.html.twig" %}
        </aside>

        <section class="c-messenger__conversation" data-id="{{ conversation.id }}" id="conversationMessages">
            <div class="c-messenger__conversation__container dimmable">
                <section class="c-messenger__conversation__details">
                    <p class="c-messenger__conversation__details__members">
                        Conversation with
                        {% if conversation.members is not empty %}
                            {% for member in conversation.members %}
                                {% if me.name != member.name %}
                                    {{- link_to(member) -}}
                                    {%- if not loop.last -%}
                                        {{- ', ' -}}
                                    {%- endif -%}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            No other recipients
                        {% endif %}
                    </p>
                </section>

                <section class="c-messenger__conversation__scrolling">
                    <ul id="messageView" class="c-messenger__conversation__messages">
                        {% include 'Message/messages.html.twig' %}
                    </ul>
                </section>

                {{ form_start(form, {'attr': {'class': 'c-messenger__conversation__response', 'autocomplete': 'off'} }) }}
                    {{ form_errors(form) }}
                    <div class="quick_reply">
                        {{ form_errors(form.message) }}
                        {{ form_widget(form.message, {id: 'composeArea', attr: {'autofocus': 'autofocus', class: 'input_compose_area', placeholder: 'Enter your message here...'} }) }}

                        {{ form_row(form.Send, {id: 'composeButton', attr: {class: 'ladda-button', 'data-style': 'zoom-out', 'data-size': 'xs'} }) }}
                    </div>
                {{ form_end(form) }}
            </div>
        </section>
    </section>
{% endblock %}
