{%- set type = notification.category -%}
{%- set event = notification.event -%}

{%- set icons = {
    "team.invite": 'envelope-square',
    "team.kick": 'hand-o-left',
    "team.abandon": 'hand-o-left',
    "team.join": 'plus-circle',
    "team.leader_change": 'chevron-circle-up',
    "team.delete": 'minus-circle'
} -%}

{%- if icons[type] -%}
    <i class="fa fa-{{ icons[type] }}"></i>
{% endif -%}

<span class="c-notifications__notification__text">
    {%- if type == "welcome" %}
        {{ event.message }}
    {% elseif type == "team.invite" %}
        You were invited to {{ link_to(event.invitation.team) }}
        {% if event.invitation.text %}
            <span class="c-notifications__notification__info">
                {{ event.invitation.text }}
            </span>
        {% endif %}
    {% elseif type == "team.kick" %}
        You left {{ link_to(event.team) }}
    {% elseif type == "team.abandon" %}
        {{ link_to(event.player) }} left {{ link_to(event.team) }}
    {% elseif type == "team.join" %}
        {{ link_to(event.player) }} joined {{ link_to(event.team) }}
    {% elseif type == "team.leader_change" %}
        You have been appointed as a leader of {{ link_to(event.team) }}
    {% elseif type == "team.delete" %}
        The team {{ link_to(event.team) }} was deleted
    {% else %}
        {{ type }}
    {% endif %}
</span>