{% extends 'layout.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block content %}
    <main class="c-page s-notifications">
        <section class="c-page__header">
            <div class="c-page__header__container">
                <section class="c-page__header__container__title">
                    <h1>Notifications</h1>
                </section>
            </div>
        </section>

        <section class="o-container">
            {% for month in notifications %}
                <section>
                    <h3>{{ month.date.format('F Y') }}</h3>

                    <ul class="c-notifications has-no-padding">
                        {% for notification in month.notifications %}
                            {% set class = (notification.read) ? "read" : "unread" %}

                            <li class="c-notifications__notification c-notifications__notification--{{ class }}">
                                <span class="c-notifications__notification__message">{{ include('Notification/item.html.twig') }}</span>
                                <span class="c-notifications__notification__timestamp">{{ notification.timestamp | humanTime }}</span>
                                {% for title, link in notification.actions %}
                                    <a class="c-notifications__notification__action" href="{{ link }}">[{{ title }}]</a>
                                {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            {% endfor %}
        </section>
    </main>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('assets/js/notifications.js') }}"></script>
{% endblock %}
