{% extends 'layout.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block pageTitle %}
    <h1>Notifications</h1>
{% endblock %}

{% macro render_notification(notification) %}
    {% set type = notification.category %}
    {% set event = notification.event %}
    {% set icons = {
        'team.invite': 'envelope-square',
        'team.kick': 'hand-o-left',
        'team.abandon': 'hand-o-left',
        'team.join': 'plus-circle',
        'team.leader_change': 'chevron-circle-up',
        'team.delete': 'minus-circle'
    } %}

    <div class="py2">
        <div class="row">
            <div class="col-md-9">
                <i class="fa fa-fw fa-{{ icons[type] }}" aria-hidden="true"></i>

                {%- if type == 'welcome' %}
                    {{ event.message }}
                {% elseif type == 'team.invite' %}
                    You were invited to {{ link_to(event.invitation.team) }} by {{ link_to(event.invitation.sentBy) }}.
                    {% if event.invitation.text %}
                        <blockquote>
                            {{ event.invitation.text }}
                        </blockquote>
                    {% endif %}
                {% elseif type == 'team.kick' %}
                    You left {{ link_to(event.team) }}
                {% elseif type == 'team.abandon' %}
                    {{ link_to(event.player) }} left {{ link_to(event.team) }}
                {% elseif type == 'team.join' %}
                    {{ link_to(event.player) }} joined {{ link_to(event.team) }}
                {% elseif type == 'team.leader_change' %}
                    You have been appointed as a leader of {{ link_to(event.team) }}
                {% elseif type == 'team.delete' %}
                    The team {{ link_to(event.team) }} was deleted
                {% else %}
                    {{ type }}
                {% endif %}
            </div>

            <div class="col-md-3 text-right u-hide u-show-md">
                {{ notification.timestamp | humanTime }}
            </div>
        </div>

        {% if notification.actions is not empty %}
            <div class="mt1 mr-last-reset">
                {% for title, link in notification.actions %}
                    <a class="c-button c-button--blue c-button--skinny mr1"
                       href="{{ link }}"
                    >
                        {{ title }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% block content %}
    <div class="container">
        {% for month in notifications|keys %}
            <section>
                <h3>{{ month }}</h3>

                <ul class="p0 bb-last-reset">
                    {% for notification in notifications[month] %}
                        <li class="bb">
                            {{ _self.render_notification(notification) }}
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endfor %}
    </div>
{% endblock %}

{% block jsCustom %}
    <script src="{{ asset('assets/js/notifications.js') }}"></script>
{% endblock %}
