{% extends 'layout.html.twig' %}

{% set scopeClass = "s-notifications" %}

{% block title %}Notifications{% endblock %}

{% block pageTitle %}
    <h1>Notifications</h1>
{% endblock %}

{% block content %}
    <section class="o-container">
        {% for month in notifications %}
            <section>
                <h3>{{ month.date.format('F Y') }}</h3>

                <ul class="c-notifications has-no-padding">
                    {% for notification in month.notifications %}
                        {% set class = (notification.read) ? "read" : "unread" %}

                        <li class="c-notifications__notification c-notifications__notification--{{ class }}">
                            <span class="c-notifications__notification__message">{{ include('Notification/item.html.twig') }}</span>
                            <span class="c-notifications__notification__timestamp">{{ notification.timestamp | humanTime }}</span>
                            {% if notification.actions is not empty %}
                                <span class="c-notifications__notification__actions">
                                    {% for title, link in notification.actions %}
                                        <a class="c-notifications__notification__action" href="{{ link }}">[{{ title }}]</a>
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endfor %}
    </section>
{% endblock %}


{% block jsCustom %}
    <script src="{{ asset('assets/js/notifications.js') }}"></script>
{% endblock %}
