{% extends 'layout.html.twig' %}

{% import _self as listUtils %}

{% block title %}Visit Log{% endblock %}

{% block pageTitle %}
    <h1>
        Visit Log
        {%- if search %}
            :: Searching for '{{ search }}'
        {%- endif -%}
    </h1>
{% endblock %}

{% block content %}
    <div class="container">
        <form class="mb3" method="GET">
            <label class="c-form__icon mb1"
                   for="c-form__search__input"
            >
                Search by IP
            </label>

            <div class="c-form__group--icon">
                <div class="c-form__icon">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>

                <input id="c-form__search__input"
                       class="c-form__input"
                       placeholder="Search by player IP address or host"
                       value="{{ searchTerm }}"
                       type="text"
                       name="search"
                >
            </div>

            {# Little hack so searches will always take the user to the first page #}
            <input type="hidden" name="page" value="1">
        </form>

        <div class="c-table" role="grid">
            {% if not app.demoMode %}
                <div class="row bb pb2" role="row">
                    <div class="col-md-2" role="columnheader">
                        <span class="strong">Player</span>
                    </div>
                    <div class="col-md-2 text-center sr-only disable-sr-only-md" role="columnheader">
                        <strong>Last Modified</strong>
                    </div>
                    <div class="col-md-8 text-right sr-only disable-sr-only-md" role="columnheader">
                        <span class="strong">IP (host)</span>
                    </div>
                </div>

                {% for visit in visits %}
                    {# @var visit \Visit #}

                    <div class="row bb py1" role="row">
                        <div class="col-md-2" role="gridcell">
                            {{ link_to(visit.player) }}
                        </div>
                        <div class="col-md-2 text-center-md" role="gridcell">
                            {{ visit.timestamp | humanTime }}
                        </div>
                        <div class="col-md-8 text-right-md" role="gridcell">
                            {{ visit.ipAddress }} (<small>{{ visit.host }}</small>)
                        </div>

                        <div class="col-xs-12 mt1" role="gridcell">
                            <p class="pl2 mb0">
                                <small><strong>Browser:</strong> {{ visit.userAgent }}</small>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p><em>The visit log is disabled in demo mode.</em></p>
            {% endif %}
        </div>

        {% if not app.demoMode %}
            {% include "pagination.html.twig" with { 'totalPages': totalPages, 'currentPage': currentPage } %}
        {% endif %}
    </div>
{% endblock %}
