{% extends 'layout.html.twig' %}

{% block pageTitle %}
    <h1>{{ season }} {{ year }} Season</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <section class="mb3">
            <h2>Season Matches</h2>
            <p>What type of matches have occurred this season and how many of each?</p>

            <div class="row text-center">
                <div class="col-sm-6">
                    <p class="mb0 t4 t5-sm">
                        <strong>{{ offiCount | number_abbr(noun='official match', content='have taken place this season') }}</strong>
                    </p>
                    <p>{{ 'Official Match' | plural(offiCount, hideNumber=true) }}</p>
                </div>
                <div class="col-sm-6">
                    <p class="mb0 t4 t5-sm">
                        <strong>{{ fmCount | number_abbr(noun='fun match', content='have taken place this season') }}</strong>
                    </p>
                    <p>{{ 'Fun Match' | plural(fmCount, hideNumber=true) }}</p>
                </div>
            </div>
        </section>

        <div class="row">
            <div class="col-md-6 mb3">
                <h2>Favorite Season Maps</h2>
                <p>Which map is your favorite and is it on the list? If not, go gather players and play some matches on those maps!</p>

                <table>
                    <caption>A list containing the amount of matches that have occurred on each map. Not all matches may have maps reported. Only maps which have had at least one match played this season are listed.</caption>
                    <thead>
                    <tr>
                        <th>Map Name</th>
                        <th>Match Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for map in maps %}
                        <tr>
                            <td>
                                {{ link_to(map) }}
                            </td>
                            <td>{{ mapCount[map.id]['match_count'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 mb3">
                <h2>Season Leaderboard</h2>

                <p>How do you rank amongst the leaders of this season? Got what it takes to climb up to the top? Put your money where your Elo is.</p>

                <table>
                    <caption>
                        The leaders of this season sorted by highest Elo; for any ties in Elo, they are sorted in
                        alphabetical order by callsign. Only the top ten players will be listed regardless of ties for
                        the last spots.
                    </caption>
                    <thead>
                        <tr>
                            <th>Position</th>
                            <th>Player</th>
                            <th>Elo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set lastElo = 9999 %}
                        {% set pos = 0 %}

                        {% for player in players %}
                            {% if player.elo < lastElo %}
                                {% set pos = pos + 1 %}
                                {% set lastElo = player.elo %}
                            {% endif %}
                            <tr>
                                <td>{{ pos }}.</td>
                                <td>{{ link_to(player) }}</td>
                                <td>{{ player.elo }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% macro match_count_table(match_type, match_array) %}
                {% set lastCount = 9999 %}
                {% set pos = 0 %}

                {% for index, player in match_array[match_type].players %}
                    {% if match_array[match_type].count[index] < lastCount %}
                        {% set pos = pos + 1 %}
                        {% set lastCount = match_array[match_type].count[index] %}
                    {% endif %}
                    <tr>
                        <td>{{ pos }}.</td>
                        <td>{{ link_to(player) }}</td>
                        <td>{{ match_array[match_type].count[index] }}</td>
                    </tr>
                {% endfor %}
            {% endmacro %}

            <div class="col-md-6 mb3 mb0-md">
                <h2>Most Active FMers</h2>
                <p>Who doesn't love a good old fun match? Well, these players certainly love them.</p>

                <table>
                    <caption>
                        The players who have participated in the most fun matches for this season sorted in descending
                        order based on match count. Only the top ten players will be listed regardless of ties for
                        the last spots.
                    </caption>
                    <thead>
                        <tr>
                            <th>Position</th>
                            <th>Player</th>
                            <th>Match Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ _self.match_count_table('fm', player_matches) }}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h2>Most Active Offi Matchers</h2>
                <p>If you're in it for the Elo, these are the players to compete against.</p>

                <table>
                    <caption>
                        The players who have participated in the most official matches for this season sorted in
                        descending order based on match count. Only the top ten players will be listed regardless of
                        ties for the last spots.
                    </caption>
                    <thead>
                    <tr>
                        <th>Position</th>
                        <th>Player</th>
                        <th>Match Count</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{ _self.match_count_table('official', player_matches) }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
