{% import _self as self %}

{% macro team_score(_title, _team) %}
    <div class="c-form__group">
        <h4>{{ _title }}</h4>

        <div class="o-row">
            {{ form_row(_team.team, { 'container_attr':  { 'class': 'o-col--main' } }) }}
            {{ form_row(_team.score, { 'container_attr': { 'class': 'o-col--aside' } }) }}
        </div>

        {{ form_row(_team.participants) }}
    </div>
{% endmacro %}

{{ form_start(form, { 'attr': { 'class': 'c-form o-container' } }) }}
    {{ form_errors(form) }}
    <section class="o-row c-form__section">
        <article class="o-col--half">
            {{ self.team_score("First Team", form.first_team) }}
        </article>

        <aside class="o-col--half">
            {{ self.team_score("Second Team", form.second_team) }}
        </aside>
    </section>

    <section class="c-form__section">
        {{ form_row(form.server_address, { 'container_attr': { 'class': 'c-form__group' } }) }}
    </section>

    <section class="c-form__section c-form__section--inline">
        {{ form_row(form.duration, {
            'attr': { 'class': 'c-form__choices' },
            'container_attr': { 'class': 'c-form__group' }
        }) }}

        {{ form_row(form.time.time, {
            'attr': { 'class': 'c-form__timestamp' },
            'container_attr': { 'class': 'c-form__group' }
        }) }}

        {{ form_row(form.time.timezone, {
            'container_attr': { 'class': 'c-form__group' }
        }) }}

        {{ form_row(form.map, {
            'container_attr': { 'class': 'c-form__group' }
        }) }}
    </section>

    <section class="c-form__section">
        {{ form_rest(form) }}
    </section>
{{ form_end(form) }}