{% import _self as self %}

{% macro team_score(_title, _team) %}
    <h4>{{ _title }}</h4>

    <div class="row">
        <div class="col-sm-8 col-md-10 mb2">
            {{ form_row(_team.team, { 'attr': { 'class': 'c-form__select--tall' } }) }}
        </div>
        <div class="col-sm-4 col-md-2 mb2">
            {{ form_row(_team.score) }}
        </div>
    </div>

    <div class="mb3">
        {{ form_row(_team.participants) }}
    </div>
{% endmacro %}

<div class="container">
    {{ form_start(form, { 'attr': { 'class': 'c-form' } }) }}
        {{ form_errors(form) }}

        <div class="row">
            <div class="col-md-6">
                {{ self.team_score("First Team", form.first_team) }}
            </div>

            <div class="col-md-6">
                {{ self.team_score("Second Team", form.second_team) }}
            </div>
        </div>

        <div class="mb3">
            {{ form_row(form.server) }}
        </div>

        <div class="d-flex-md">
            {{ form_row(form.time.time, {
                'attr': { 'class': 'c-form__timestamp' },
                'container_attr': { 'class': 'mr3-md mb3' }
            }) }}

            {{ form_row(form.time.timezone, {
                'container_attr': { 'class': 'mb3' }
            }) }}
        </div>

        <div class="d-flex-md">
            {{ form_row(form.type, {
                'container_attr': { 'class': 'mr3-md mb3' }
            }) }}

            {{ form_row(form.map, {
                'container_attr': { 'class': 'mr3-md mb3' }
            }) }}

            {{ form_row(form.duration, {
                'attr': { 'class': 'c-form__choices' },
                'container_attr': { 'class': 'mr3-md mb3' }
            }) }}
        </div>

        <div>
            {{ form_rest(form) }}
        </div>
    {{ form_end(form) }}
</div>
