{% extends 'layout.html.twig' %}

{% block title %}
    {% if team %}
        Matches :: {{ team.name }}
    {% else %}
        Matches
    {% endif %}
{% endblock %}

{% block content %}
    <main class="match_list">
        <section class="content_header">
            <article class="wrapper">
                <div>
                    <h1>Matches</h1>
                </div>

                {% if me.canCreate("Match") %}
                    <div class="buttons">
                        <a class="button grey notextshadow" href="{{ path('match_enter') }}"><i class="fa fa-plus"></i> Report Match</a>
                    </div>
                {% endif %}
            </article>
        </section>

        <section class="matches">
            {% set dateFormat = constant('TimeDate::DATE_MEDIUM') %}
            {% set lastMatchDate = "" %}

            {% for match in matches %}
                {% set currentMatch = match.timestamp(dateFormat) %}

                {% if lastMatchDate != currentMatch %}
                    <h4>{{ currentMatch }}</h4>
                {% endif %}

                <article>
                    <div class="css-table">
                        <div class="row">
                            <div class="column winner">{{ link_to(match.winner) }}</div>
                            <div class="column win-points">{{ match.score(match.winner.id) }}</div>
                            <div class="column loss-points">{{ match.score(match.loser.id) }}</div>
                            <div class="column loser">{{ link_to(match.loser) }}</div>
                        </div>
                    </div>
                </article>

                {% set lastMatchDate = match.timestamp(dateFormat) %}
            {% endfor %}
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/matches.js') }}"></script>
{% endblock %}
