{% extends 'layout.html.twig' %}

{% from 'Match/widget.html.twig' import widget as match_widget %}

{% set pageButtons = [
    {
        'color': 'blue',
        'url': path('match_enter'),
        'icon': 'plus',
        'text': 'Report Match',
        'condition': me.canCreate("Match")
    }
] %}

{% block title %}
    {% if team %}
        Matches :: {{ team.name }}
    {% else %}
        Matches
    {% endif %}
{% endblock %}

{% block pageTitle %}
    <h1>{{ block('title') }}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        {% if not team %}
            <div class="text-center mb3">
                <div class="c-pill-group">
                    {% set matchTypeFilter = request.get('type') %}
                    {% set isOfficialFilter = matchTypeFilter == constant('Match::OFFICIAL') %}
                    {% set isFunFilter = matchTypeFilter == constant('Match::FUN') %}

                    <a href="{{ url('match_list') }}"
                       class="c-pill-group__pill {{ not isOfficialFilter and not isFunFilter ? 'active' : '' }}"
                    >
                        All
                    </a>

                    <a href="{{ url('match_list', { type: constant('Match::OFFICIAL') }) }}"
                       class="c-pill-group__pill {{ isOfficialFilter ? 'active' : '' }}"
                    >
                        Official
                    </a>

                    <a href="{{ url('match_list', { type: constant('Match::FUN') }) }}"
                       class="c-pill-group__pill {{ isFunFilter ? 'active' : '' }}"
                    >
                        FM
                    </a>
                </div>
            </div>
        {% endif %}

        {# *** Heads Up *** #}
        {# This section will cause IDEs to complain about unmatched tags; that's normal. We're the eHarmony of tag matching, #}
        {# all the tags will match up when generated. #}

        <div data-name="Match Container">

            {% set dateFormat = constant('TimeDate::DATE_MEDIUM') %}
            {% set dateFormatArchive = constant('TimeDate::DATE_FULL') %}
            {% set lastMatchDate = "" %}

            {% for match in matches %}
                {% set currentMatchDate = match.timestamp.format(dateFormat) %}

                {# We've changed to another day, This will alwats happen on the first run, and it's intentional that #}
                {# it behaves like this. #}
                {% if lastMatchDate != currentMatchDate %}

                    {# We've changed changes again, so close the previous section #}
                    {% if not loop.first %}
                            </section> {# Closes .bb-last-reset #}
                        </article> {# Closes .mb3 #}
                    {% endif %}

                    {# This is the beginning of a group of matches that took place on a given day #}
                    <article class="mb3">
                        <header>
                            {% set currentYear = "now" | date("Y") %}

                            <h4 class="mb2">
                                {%- if match.timestamp.year != currentYear -%}
                                    {%- set format = dateFormatArchive -%}
                                {%- else -%}
                                    {%- set format = dateFormat -%}
                                {%- endif -%}
                                {{ match.timestamp | humanTime(format, tooltip = false) }}
                            </h4>
                        </header>

                        <section class="bb-last-reset">
                {% endif %}

                {# Surround each match widget with a border and padding #}
                <div class="bb mb2 pb2">
                    {{ match_widget(match, false) }}
                </div>

                {# Update the last timestamp to know whether the next match occurred on the same day or a different #}
                {% set lastMatchDate = match.timestamp.format(dateFormat) %}

                {# If we're on the last entry of the loop, then we need close the <section> we opened #}
                {% if loop.last %}
                    </section> {# Closes .bb-last-reset #}
                {% endif %}
            {% endfor %}

            <div>
                {% include "pagination.html.twig" with { 'totalPages': totalPages, 'currentPage': currentPage } %}
            </div>

        </div> {# Closes div[data-name="Match Container"] #}
    </div> {# Closes .container #}
{% endblock %}
