{% extends 'layout.html.twig' %}

{% import 'Match/widget.html.twig' as utils %}

{% set scopeClass = "s-matches" %}
{% set pageButtons = [
    {
        'color': 'blue',
        'url': path('match_enter'),
        'icon': 'plus',
        'text': 'Report Match',
        'condition': me.canCreate("Match")
    }
] %}

{% block title %}
    {% if team %}
        Matches :: {{ team.name }}
    {% else %}
        Matches
    {% endif %}
{% endblock %}

{% block pageTitle %}
    <h1>{{ block('title') }}</h1>
{% endblock %}

{% block content %}
    <section class="o-container">
        {% if not team %}
            <div class="o-section u-text-center">
                <div class="c-pill-group" data-role="nuclide" data-target="#match-list">
                    <p class="c-pill-group__pill c-pill-group__pill--active" data-filter="*">All</p>
                    <p class="c-pill-group__pill" data-filter="official">Official</p>
                    <p class="c-pill-group__pill" data-filter="fm">FM</p>
                </div>
            </div>
        {% endif %}

        <section id="match-list" class="c-match-history">
            {% set dateFormat = constant('TimeDate::DATE_MEDIUM') %}
            {% set dateFormatArchive = constant('TimeDate::DATE_FULL') %}
            {% set lastMatchDate = "" %}

            {% for match in matches %}
                {% set currentMatchDate = match.timestamp.format(dateFormat) %}

                {% if lastMatchDate != currentMatchDate %}
                    {% if not loop.first %} {# Close previous date's container #}
                            </section>
                        </div>
                    {% endif %}

                    <div class="c-match-history__container">
                        <section class="c-match-history__date">
                            {% set currentYear = "now" | date("Y") %}

                            <h4>
                                {%- if match.timestamp.year != currentYear -%}
                                    {%- set format = dateFormatArchive -%}
                                {%- else -%}
                                    {%- set format = dateFormat -%}
                                {%- endif -%}
                                {{ match.timestamp | humanTime(format, tooltip = false) }}
                            </h4>
                        </section>

                        <section class="c-match-history__matches">
                {% endif %}

                <section class="c-match-history__match" data-matchtype="{{ match.matchType }}">
                    {{ utils.widget(match) }}
                </section>

                {% set lastMatchDate = match.timestamp.format(dateFormat) %}

                {% if loop.last %} {# Close last date's container #}
                    </section>
                {% endif %}
            {% endfor %}

            <section>
                {% include "pagination.html.twig" with { 'totalPages': totalPages, 'currentPage': currentPage } %}
            </section>
        </section>
    </section>
{% endblock %}

{% block jsCustom %}
    <script src="{{ asset('assets/js/matches.js') }}"></script>
{% endblock %}
