{% extends 'layout.html.twig' %}

{% from 'Match/widget.html.twig' import widget as match_widget %}

{% set pageButtons = [
    {
        'color': 'green',
        'pattern': 'vertical-stripes',
        'url': path('match_enter'),
        'icon': 'plus',
        'text': 'Report Match',
        'condition': me.canCreate("Match")
    }
] %}

{% block title %}
    {% if team %}
        Matches :: {{ team.name }}
    {% else %}
        Matches
    {% endif %}
{% endblock %}

{% block pageTitle %}
    <h1>{{ block('title') }}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        {% if not team %}
            <div class="text-center mb3">
                <div class="c-pill-group">
                    {% set matchTypeFilter = request.get('type') %}
                    {% set isOfficialFilter = matchTypeFilter == constant('Match::OFFICIAL') %}
                    {% set isFunFilter = matchTypeFilter == constant('Match::FUN') %}

                    <a href="{{ url('match_list') }}"
                       class="c-pill-group__pill js-allow-propagation {{ not isOfficialFilter and not isFunFilter ? 'active' : '' }}"
                    >
                        All
                    </a>

                    <a href="{{ url('match_list', { type: constant('Match::OFFICIAL') }) }}"
                       class="c-pill-group__pill js-allow-propagation {{ isOfficialFilter ? 'active' : '' }}"
                    >
                        Official
                    </a>

                    <a href="{{ url('match_list', { type: constant('Match::FUN') }) }}"
                       class="c-pill-group__pill js-allow-propagation {{ isFunFilter ? 'active' : '' }}"
                    >
                        FM
                    </a>
                </div>
            </div>
        {% endif %}

        <div data-name="Match Container">
            {% for date in matches | keys %}
                <article class="mb3">
                    <header>
                        <h4 class="mb2">
                            {{ date }}
                        </h4>
                    </header>

                    <section class="bb-last-reset">
                        {% for match in matches[date] %}
                            <div class="bb mb2 pb2">
                                {{ match_widget(match, false) }}
                            </div>
                        {% endfor %}
                    </section>
                </article>
            {% else %}
                <p class="text-center my3">
                    {% if team %}
                        There are no matches resulting in {{ matchType }} recorded for this team.
                    {% else %}
                        There are no matches recorded.
                    {% endif %}
                </p>
            {% endfor %}

            {% if totalPages > 0 %}
                <div>
                    {% include "pagination.html.twig" with { 'totalPages': totalPages, 'currentPage': currentPage } %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
