{% extends 'layout.html.twig' %}

{% block title %}
    {% if team %}
        Matches :: {{ team.name }}
    {% else %}
        Matches
    {% endif %}
{% endblock %}

{% block content %}
    <main class="match_list">
        <section class="content_header">
            <article class="wrapper">
                <h1>Matches</h1>
            </article>
        </section>

        <section class="matches">
            {% for match in matches %}
                <article>
                    <div class="css-table">
                        <div class="row winner">
                            <div class="column team">{{ match.winner.linkLiteral | raw }}</div>
                            <div class="column score">{{ match.score(match.winner.id) }}</div>
                        </div>
                        <div class="row loser">
                            <div class="column team">{{ match.loser.linkLiteral | raw }}</div>
                            <div class="column score">{{ match.score(match.loser.id) }}</div>
                        </div>
                    </div>
                    <div class="extra">
                        <a href="#" title="View More Match Details"><i class="fa fa-angle-double-right"></i></a>
                    </div>
                </article>
            {% endfor %}
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ request.getBaseURL() }}/assets/js/matches.js"></script>
{% endblock %}
