{% extends 'layout.html.twig' %}

{% import _self as this %}

{% set pageButtons = [
    {
        'color': 'blue',
        'url': path('match_enter'),
        'icon': 'plus',
        'text': 'Report Match',
        'condition': me.canCreate("Match")
    }
] %}

{% block title %}
    {% if team %}
        Matches :: {{ team.name }}
    {% else %}
        Matches
    {% endif %}
{% endblock %}

{% macro team_summary(match, team) %}
    <div class="c-match-summary__team__image">
        <img src="{{ team.avatar | imagine_filter('small_thumb') }}" />
    </div>
    <div class="c-match-summary__team__name">
        <p>{{ link_to(team) }}</p>
    </div>
    <div class="c-match-summary__team__score">
        <p>{{ match.score(team.id) }}</p>
    </div>
{% endmacro %}

{% block content %}
    <main class="c-page s-matches">
        <section class="c-page__header">
            <div class="c-page__header__container">
                <section class="c-page__header__container__title">
                    <h1>Matches</h1>
                </section>

                {% include "button-repeater.html.twig" with { 'buttons': pageButtons } %}
            </div>
        </section>

        <section class="o-container">
            <section class="o-row c-match-history">
                {% set dateFormat = constant('TimeDate::DATE_MEDIUM') %}
                {% set dateFormatArchive = constant('TimeDate::DATE_FULL') %}
                {% set lastMatchDate = "" %}

                {% for match in matches %}
                    {% set currentMatchDate = match.timestamp.format(dateFormat) %}

                    {% if lastMatchDate != currentMatchDate %}
                        {% if not loop.first %} {# Close previous date's container #}
                            </section>
                        {% endif %}

                        <section class="o-row__column--full c-match-history__date">
                            {% set currentYear = "now" | date("Y") %}

                            <h4>
                                {%- if match.timestamp.year != currentYear -%}
                                    {%- set format = dateFormatArchive -%}
                                {%- else -%}
                                    {%- set format = dateFormat -%}
                                {%- endif -%}
                                {{ match.timestamp | humanTime(format, tooltip = false) }}
                            </h4>
                        </section>

                        <section class="o-row__column--full">
                    {% endif %}

                    <article class="c-match-summary">
                        <div class="c-match-summary__team c-match-summary__team--winner">
                            {{ this.team_summary(match, match.winner) }}
                        </div>
                        <div class="c-match-summary__team c-match-summary__team--loser">
                            {{ this.team_summary(match, match.loser) }}
                        </div>
                    </article>

                    {% set lastMatchDate = match.timestamp.format(dateFormat) %}

                    {% if loop.last %} {# Close last date's container #}
                        </section>
                    {% endif %}
                {% endfor %}

                <section class="o-row__column--full">
                    {% include "pagination.html.twig" with { 'totalPages': totalPages, 'currentPage': currentPage } %}
                </section>
            </section>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/matches.js') }}"></script>
{% endblock %}
