{% extends 'layout.html.twig' %}

{% block title %}
    {% if team %}
        Matches :: {{ team.name }}
    {% else %}
        Matches
    {% endif %}
{% endblock %}

{% block content %}
    <div class="matches">
    {% for match in matches %}
        <section>
            <div class="score">
                <div class="date">{{ match.timestamp }}</div>
                <div class="teams">
                    <div class="winner"><span class="winner_name">{{ match.teamA.linkLiteral | raw }}</span> <span class="winner_score">{{ match.teamAPoints }}</span></div>
                    <div class="loser"><span class="loser_score">{{ match.teamBPoints }}</span> <span class="loser_name">{{ match.teamB.linkLiteral | raw }}</span></div>
                </div>
                <i class="more_details fa fa-plus-square-o" rel="{{ match.id }}"></i>
            </div>

            <div id="match-{{ match.id }}" class="match_details">
                <div class="participants">
                    <h4>Participants</h4>
                    <div class="team">
                        <span>{{ match.teamA.name }}</span>
                        <ul>
                        {% if match.teamAPlayers is empty or match.teamAPlayers is not iterable %}
                            <li><em>No Players Recorded</em></li>
                        {% else %}
                            {% for player in match.teamAPlayers %}
                                <li>{{ player.linkLiteral | raw }}</li>
                            {% endfor %}
                        {% endif %}
                        </ul>
                    </div>
                    <div class="team">
                        <span>{{ match.teamB.name }}</span>
                        <ul>
                        {% if match.teamBPlayers is empty or match.teamBPlayers is not iterable %}
                            <li><em>No Players Recorded</em></li>
                        {% else %}
                            {% for player in match.teamBPlayers %}
                                <li>{{ player.linkLiteral | raw }}</li>
                            {% endfor %}
                        {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="information">
                    <h4>Details</h4>
                    <div class="match">
                        <p><strong>Match Length:</strong> {{ match.duration }} minutes</p>
                        <p><strong>Elo:</strong> &plusmn; {{ match.eloDiff }}</p>
                    </div>
                    <p>
                        <strong>Server:</strong>
                        {% if match.serverAddress %}
                            match.serverAddress
                        {% else %}
                            <em>No server Recorded</em>
                        {% endif %}
                    </p>
                    <p>
                        <strong>Replay File:</strong>
                        {% if match.replayFileName %}
                            match.replayFileName
                        {% else %}
                            <em>No replay filename recorded</em>
                        {% endif %}
                    </p>

                </div>
            </div>
        </section>
    {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ request.getBaseURL() }}/assets/js/matches.js"></script>
{% endblock %}
