{% extends 'layout.html.twig' %}

{% import _self as this %}

{% set pageButtons = [
    {
        'color': 'blue',
        'url': path('match_enter'),
        'icon': 'plus',
        'text': 'Report Match',
        'condition': me.canCreate("Match")
    }
] %}

{% block title %}
    {% if team %}
        Matches :: {{ team.name }}
    {% else %}
        Matches
    {% endif %}
{% endblock %}

{% macro team_summary(match, team) %}
    <div class="c-match-summary__team__image">
        <img src="{{ team.avatar | imagine_filter('small_thumb') }}" />
    </div>
    <div class="c-match-summary__team__name">
        <p>{{ link_to(team) }}</p>
    </div>
    <div class="c-match-summary__team__score">
        <p>{{ match.score(team.id) }}</p>
    </div>
{% endmacro %}

{% block content %}
    <main class="c-page s-matches">
        <section class="c-page__header">
            <div class="c-page__header__container">
                <section class="c-page__header__container__title">
                    <h1>Matches</h1>
                </section>

                <section class="c-page__header__container__options">
                    {% include "button-repeater.html.twig" with { 'buttons': pageButtons } %}
                </section>
            </div>
        </section>

        <section class="o-layout c-match-history">
            {% set dateFormat = constant('TimeDate::DATE_MEDIUM') %}
            {% set lastMatchDate = "" %}

            {% for match in matches %}
                {% set currentMatchDate = match.timestamp(dateFormat) %}

                {% if lastMatchDate != currentMatchDate %}
                    {% if not loop.first %}
                        </section>
                    {% endif %}

                    <section class="o-layout__body--full c-match-history__date">
                        <h4>{{ currentMatchDate }}</h4>
                    </section>

                    <section class="o-layout__body--full">
                {% endif %}

                <article class="c-match-summary">
                    <div class="c-match-summary__team c-match-summary__team--winner">
                        {{ this.team_summary(match, match.winner) }}
                    </div>
                    <div class="c-match-summary__team c-match-summary__team--loser">
                        {{ this.team_summary(match, match.loser) }}
                    </div>
                </article>

                {% set lastMatchDate = match.timestamp(dateFormat) %}
            {% endfor %}
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/matches.js') }}"></script>
{% endblock %}
