{% extends 'layout.html.twig' %}

{% block title %}
    {% if team %}
        Matches :: {{ team.name }}
    {% else %}
        Matches
    {% endif %}
{% endblock %}

{% block content %}
    <main class="c-page s-matches">
        <section class="c-page__header">
            <div class="c-page__header__container">
                <section class="c-page__header__container__title">
                    <h1>Matches</h1>
                </section>

                <section class="c-page__header__container__options">
                    {% if me.canCreate("Match") %}
                        <a class="c-button c-button--blue" href="{{ path('match_enter') }}"><i class="fa fa-plus"></i> Report Match</a>
                    {% endif %}
                </section>
            </div>
        </section>

        <section class="o-layout">
            {% set dateFormat = constant('TimeDate::DATE_MEDIUM') %}
            {% set lastMatchDate = "" %}

            {% for match in matches %}
                {% set currentMatchDate = match.timestamp(dateFormat) %}

                {% if lastMatchDate != currentMatchDate %}
                    {% if not loop.first %}
                        </section>
                    {% endif %}

                    <section class="o-layout__body--full">
                        <h4>{{ currentMatchDate }}</h4>
                    </section>

                    <section class="o-layout__body--full">
                {% endif %}

                <article class="c-match-summary">
                    <div class="c-table c-table--no-border">
                        <div class="c-table__row">
                            <div class="c-table__row__column c-match-summary__winner">{{ link_to(match.winner) }}</div>
                            <div class="c-table__row__column c-match-summary__win-points">{{ match.score(match.winner.id) }}</div>
                            <div class="c-table__row__column c-match-summary__loss-points">{{ match.score(match.loser.id) }}</div>
                            <div class="c-table__row__column c-match-summary__loser">{{ link_to(match.loser) }}</div>
                        </div>
                    </div>
                </article>

                {% set lastMatchDate = match.timestamp(dateFormat) %}
            {% endfor %}
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/matches.js') }}"></script>
{% endblock %}
