{% extends 'layout.html.twig' %}

{% import 'Match/widget.html.twig' as utils %}
{% import _self as showUtils %}

{% set scopeClass = "s-matches" %}
{% set pageButtons = [
    {
        'color': 'grey',
        'url': match.url('edit'),
        'icon': 'pencil',
        'text': 'Edit',
        'condition': me.canEdit(match)
    },
    {
        'color': 'orange',
        'url': match.url('recalculate'),
        'icon': 'calculator',
        'text': 'Recalculate ELOs',
        'condition': match.official and me.canEdit(match)
    },
    {
        'color': 'red',
        'url': match.url('delete'),
        'icon': 'trash-o',
        'text': 'Delete',
        'condition': me.canDelete(match)
    }
] %}

{% block title %}
    Matches :: {{ match.winner.name }} vs {{ match.loser.name }}
    {%- if match.map is valid %} on {{ match.map.name }}{%- endif -%}
{% endblock %}

{% block pageTitle %}
    <h1>{{ match.winner.name }} vs {{ match.loser.name }}</h1>
{% endblock %}

{% block content %}
    <section class="o-container">
        {{ utils.widget(match) }}

        {{ showUtils.matchTeam(match, "Winner") }}
        {{ showUtils.matchTeam(match, "Loser") }}

        <section class="o-section">
            <strong>Map</strong>
            {% if match.map is valid %}
                <p>{{ link_to(match.map) }}</p>
            {% else %}
                <p><em>None</em></p>
            {% endif %}
        </section>

        {# TODO: This should be handled with spawn permissions once bzion takes over the spawn group #}
        {% if me.hasPermission("add_match") %}
            <section class="o-section">
                <strong>Server Address</strong>
                {% if match.serverAddress %}
                    <p>{{ match.serverAddress }}</p>
                {% else %}
                    <p>Server address not available</p>
                {% endif %}
            </section>
        {% endif %}

        <section class="o-section">
            <strong>Replay File</strong>
            {% if match.replayFileName %}
                <p>{{ match.replayFileName }}</p>
            {% else %}
                <p>File name not available</p>
            {% endif %}
        </section>

        <section class="o-section">
            <strong>Duration</strong>
            <p>{{ match.duration }} minutes</p>
        </section>

        {% if match.matchType == constant('Match::OFFICIAL') %}
            <section class="o-section">
                <strong>ELO Difference</strong>
                <p>&plusmn; {{ match.elodiff }}</p>
            </section>
        {% endif %}

        <section class="o-section">
            <strong>Match Type</strong>
            <p>
                {%- if match.matchType == constant('Match::OFFICIAL') -%}
                    Official
                {%- elseif match.matchType == constant('Match::SPECIAL') %}
                    Special
                {%- elseif match.matchType == constant('Match::FUN') -%}
                    Fun Match
                {%- else -%}
                    Unknown
                {%- endif -%}
            </p>
        </section>

        {% if app.isDebug %}
            <section class="o-section">
                <strong>Contribution to team activity</strong>
                <p>{{ match.activity }}</p>
            </section>
        {% endif %}


        <section class="o-section">
            <strong>Time</strong>
            <p>
                {{ match.timestamp|humanTime(constant('TimeDate::FULL')) }}
                ({{ match.timestamp.diffForHumans }})
            </p>
        </section>

        {% if match.timestamp.ne(match.updated) %}
            <section class="o-section">
                <strong>Updated</strong>
                <p>{{ match.updated|humanTime }}</p>
            </section>
        {% endif %}

        {% if match.enteredBy is valid %}
            <section class="o-section">
                <strong>Reported by</strong>
                <p>{{ link_to(match.enteredBy) }}</p>
            </section>
        {% endif %}
    </section>
{% endblock %}

{% macro matchTeam(match, description) %}
    {%- set team = (description == "Loser") ? match.loser : match.winner -%}
    <section class="o-section">
        <strong>{{ description }}</strong>
        <p>{{ link_to(team) }} - {{ match.score(team) }}</p>
        <small>
            {% for player in match.players(team) %}
                {{ link_to(player) -}}
                {%- if not loop.last %}, {% endif %}
            {% endfor %}
        </small>

        {% if team is instanceof('Team') %}
            <p>
                {{ match.teamEloOld(team) }}
                &rarr;
                {{ match.teamEloNew(team) }}
            </p>
        {% endif %}
    </section>
{% endmacro %}
