{% macro team_block(match, team) %}
    {% set isTeam = team is instanceof('Team') %}

    <a class="c-matchwidget__team__image" href="{{ isTeam ? team.url : '' }}">
        <img src="{%- if isTeam -%}
                {{ team.avatar | imagine_filter('small_thumb') }}
            {%- else -%}
                {{ team.avatar }}
            {%- endif -%}" />
    </a>
    <div class="c-matchwidget__team__name">
        <p>
            {% if isTeam %}
                {{ link_to(team) }}
            {% else %}
                {{ team.color | capitalize }} Team
            {% endif %}
        </p>
    </div>
    <div class="c-matchwidget__team__score">
        <p>{{ link_to(match, content = (isTeam ? match.score(team.id) : team.score)) }}</p>
    </div>
{% endmacro %}

{% macro widget(match) %}
    {% import _self as self %}

    {% set isOfficial = (match.matchType == constant("Match::OFFICIAL")) %}

    {% if not isOfficial %}
        {% set teamA = "assets/imgs/team_" ~ match.teamAColor ~ ".png" %}
        {% set teamB = "assets/imgs/team_" ~ match.teamBColor ~ ".png" %}

        {% set teamAWinner = (match.teamAPoints >= match.teamBPoints) %}

        {% set matchTeams = {
            "winner": {
                "avatar": (teamAWinner) ? asset(teamA) : asset(teamB),
                "color": (teamAWinner) ? match.teamAColor : match.teamBColor,
                "score": (teamAWinner) ? match.teamAPoints : match.teamBPoints
            },
            "loser": {
                "avatar": (teamAWinner) ? asset(teamB) : asset(teamA),
                "color": (teamAWinner) ? match.teamBColor : match.teamAColor,
                "score": (teamAWinner) ? match.teamBPoints : match.teamAPoints
            }
        } %}
    {% else %}
        {% set matchTeams = {
            'winner': match.winner,
            'loser': match.loser
        } %}
    {% endif %}

    <section class="c-matchwidget" data-matchtype="{{ match.matchType }}">
        <div class="c-matchwidget__team c-matchwidget__winner">
            {{ self.team_block(match, matchTeams.winner) }}
        </div>
        <div class="c-matchwidget__team c-matchwidget__loser">
            {{ self.team_block(match, matchTeams.loser) }}
        </div>
    </section>
{% endmacro %}