{% macro team_block(match, team) %}
    {% set isTeam = team is instanceof('Team') %}

    <div class="row row--nowrap">
        <div class="col c-matchwidget__team__image">
            {% if isTeam %}
                <a href="{{ team.url }}">
                    <img src="{{ team.avatar | imagine_filter('small_thumb') }}"
                         alt="{{ team.name }}'s Avatar"
                         title="{{ team.name }}'s Avatar"
                    >
                </a>
            {% else %}
                <img src="{{ asset(team.avatar) }}"
                     alt="{{ team.name }}'s Avatar"
                     title="{{ team.name }}'s Avatar"
                >
            {% endif %}
        </div>
        <div class="col c-matchwidget__team__name">
            <span class="u-truncate-text">
                {% if isTeam %}
                    {{ link_to(team) }}
                {% else %}
                    {{ team.name }}
                {% endif %}
            </span>
        </div>
        <div class="col c-matchwidget__team__score">
            {{ link_to(match, content = match.score(team)) }}
        </div>
    </div>
{% endmacro %}

{% macro widget(match, showTimestamp) %}
    {% from 'utilities.html.twig' import timestamp %}
    {% from _self import team_block %}

    {# Using the `default()` filter for booleans doesn't work as expected; we want this boolean to default to true #}
    {#   see: https://stackoverflow.com/a/10794782 #}
    {% set showTimestamp = showTimestamp is not defined or showTimestamp is null ? true : showTimestamp %}

    <section class="c-matchwidget row row--nowrap">
        {% if showTimestamp %}
            <div class="c-matchwidget__timestamp col">
                {{- timestamp(match.timestamp) -}}
            </div>
        {% endif %}

        <div class="c-matchwidget__stats col">
            <div class="row">
                <div class="c-matchwidget__team c-matchwidget__team--winner col-lg-6 mb2 mb0-lg">
                    {{ team_block(match, match.winner) }}
                </div>
                <div class="c-matchwidget__team c-matchwidget__team--loser col-lg-6">
                    {{ team_block(match, match.loser) }}
                </div>
            </div>
        </div>

        <div class="c-matchwidget__link col">
            <a href="{{ match.url }}">
                <i class="fa fa-angle-right"></i>
                <span class="sr-only">See match details</span>
            </a>
        </div>
    </section>
{% endmacro %}
