{% macro team_block(match, team, showLinkTo, showElo) %}
    {% set isTeam = team is instanceof('Team') %}

    <div class="row row--nowrap">
        <div class="col c-matchwidget__team__image">
            {% if isTeam %}
                {% if team.active %}<a href="{{ team.url }}">{% endif %}
                    <img src="{{ team.avatar | imagine_filter('large_thumb') }}"
                         alt="{{ team.name }}'s Avatar"
                         title="{{ team.name }}'s Avatar"
                    >
                {% if team.active %}</a>{% endif %}
            {% else %}
                <img src="{{ asset(team.avatar) }}"
                     alt="{{ team.name }}'s Avatar"
                     title="{{ team.name }}'s Avatar"
                >
            {% endif %}
        </div>
        <div class="col c-matchwidget__team__info">
            <p class="c-matchwidget__team__name mb0 u-truncate-text">
                {% if isTeam %}
                    {{ link_to(team) }}
                {% else %}
                    {{ team.name }}
                {% endif %}
            </p>

            {% if showElo and team is instanceof('Team') %}
                <p class="mb0">
                    <small>
                        {{ match.teamEloOld(team) }}
                        &rarr;
                        {{ match.teamEloNew(team) }}
                    </small>
                </p>
            {% endif %}
        </div>
        <div class="col c-matchwidget__team__score">
            {% if showLinkTo %}
                {{ link_to(match, content = match.score(team)) }}
            {% else %}
                <span>{{ match.score(team) }}</span>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro widget(match, showTimestamp, showLinkTo, showElo) %}
    {% from 'utilities.html.twig' import timestamp %}
    {% from _self import team_block %}

    {# Using the `default()` filter for booleans doesn't work as expected; we want this boolean to default to true #}
    {#   see: https://stackoverflow.com/a/10794782 #}
    {% set showTimestamp = showTimestamp is not defined or showTimestamp is null ? true : showTimestamp %}
    {% set showLinkTo    = showLinkTo    is not defined or showLinkTo    is null ? true : showLinkTo %}
    {% set showElo       = showElo       is not defined or showElo       is null ? false : showElo %}

    <section class="c-matchwidget row row--nowrap">
        {% if showTimestamp %}
            <div class="c-matchwidget__timestamp col">
                {{- timestamp(match.timestamp) -}}
            </div>
        {% endif %}

        <div class="c-matchwidget__stats col">
            <div class="row">
                <div class="c-matchwidget__team c-matchwidget__team--winner col-lg-6 mb2 mb0-lg">
                    {{ team_block(match, match.winner, showLinkTo, showElo) }}
                </div>
                <div class="c-matchwidget__team c-matchwidget__team--loser col-lg-6">
                    {{ team_block(match, match.loser, showLinkTo, showElo) }}
                </div>
            </div>
        </div>

        {% if showLinkTo %}
            <div class="c-matchwidget__link col">
                <a href="{{ match.url }}">
                    <i class="fa fa-angle-right"></i>
                    <span class="sr-only">See match details</span>
                </a>
            </div>
        {% endif %}
    </section>
{% endmacro %}
