{% extends 'layout.html.twig' %}

{% block content %}
    <main class="landing">
        <section class="cover">
            <article>
                <h1>Welcome to Games United</h1>
                <h2>Good clean fun... sorta</h2>

                {% if me is invalid %}
                    <a class="button green" href="#">Register</a>
                {% endif %}
            </article>
        </section>

        <section class="key_points">
            <ul>
                <li>
                    <section class="circular-icon gamepad-lineheight">
                        <i class="fa fa-gamepad"></i>
                    </section>
                    <div>
                        <h3><a href="{{ path("server_list") }}">Servers</a></h3>
                        <p>Where can I play official matches?</p>
                    </div>
                </li>
                <li>
                    <section class="circular-icon">
                        <i class="fa fa-trophy"></i>
                    </section>
                    <div>
                        <h3><a href="{{ path("match_list") }}">Matches</a></h3>
                        <p>Match against the best of the best</p>
                    </div>
                </li>
                <li>
                    <section class="circular-icon">
                        <i class="fa fa-info"></i>
                    </section>
                    <div>
                        <h3><a href="{{ path("custom_page_show", {page: 'getting-started'}) }}">Getting Started</a></h3>
                        <p>Need help getting started? Join the spawn list!</p>
                    </div>
                </li>
            </ul>
        </section>

        <hr>

        <section class="content">
            <aside class="news-container">
                <h2>Latest News</h2>
                <ul class="news">
                    {% for post in news %}
                        <li>
                            <h3>{{ link_to(post) }}</h3>
                            <p>by {{ link_to(post.author) }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </aside>

            <section class="recent-matches-container">
                <h2>Recent Matches</h2>
                <article class="recent-matches">
                    {% for match in matches %}
                        <div class="match">
                            <div class="team-container">
                                <div class="team" title="{{ match.winner.name }}">
                                    <img src="{{ match.winner.avatar | imagine_filter('medium_thumb') }}" class="team_avatar">
                                    <strong>{{ match.score(match.winner.id) }}</strong>
                                </div>
                            </div>
                            <div class="team-container">
                                <div class="team" title="{{ match.loser.name }}">
                                    <img src="{{ match.loser.avatar | imagine_filter('medium_thumb') }}" class="team_avatar">
                                    <strong>{{ match.score(match.loser.id) }}</strong>
                                </div>
                            </div>

                            <a class="stats" href="#">Match Stats &raquo;</a>
                        </div>
                    {% endfor %}
                </article>
            </section>
        </section>
    </main>
{% endblock %}
