{% extends 'layout.html.twig' %}

{% block content %}
    <main class="s-landing">
        <section class="c-jumbotron">
            <article>
                <h1>{{ app.siteWelcome }}</h1>
                <h2>{{ app.siteSlug }}</h2>

                {% if me is invalid %}
                    <a class="c-button c-button--green" href="#">Register</a>
                {% endif %}
            </article>
        </section>

        <section class="o-container">
            <section class="o-row c-icon-bullet-points">
                <article class="o-row__column--third c-icon-bullet-points__bullet">
                    <section class="c-circular-fa u-gamepad-fix c-icon-bullet-points__bullet__icon">
                        <i class="fa fa-gamepad"></i>
                    </section>
                    <div class="c-icon-bullet-points__bullet__content">
                        <h3><a href="{{ path("server_list") }}">Servers</a></h3>
                        <p>Where can I play official matches?</p>
                    </div>
                </article>
                <article class="o-row__column--third c-icon-bullet-points__bullet">
                    <section class="c-circular-fa c-icon-bullet-points__bullet__icon">
                        <i class="fa fa-trophy"></i>
                    </section>
                    <div class="c-icon-bullet-points__bullet__content">
                        <h3><a href="{{ path("match_list") }}">Matches</a></h3>
                        <p>Match against the best of the best</p>
                    </div>
                </article>
                <article class="o-row__column--third c-icon-bullet-points__bullet">
                    <section class="c-circular-fa c-icon-bullet-points__bullet__icon">
                        <i class="fa fa-info"></i>
                    </section>
                    <div class="c-icon-bullet-points__bullet__content">
                        <h3><a href="{{ path("custom_page_show", {page: 'getting-started'}) }}">Getting Started</a></h3>
                        <p>Need help getting started? Join the spawn list!</p>
                    </div>
                </article>
            </section>

            <hr>

            <section class="c-latest-updates">
                <aside class="c-news-container">
                    <h2>Latest News</h2>
                    <ul class="c-news-container__newsstand">
                        {% for post in news %}
                            <li>
                                <h3>{{ link_to(post) }}</h3>
                                <p>by {{ link_to(post.author) }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </aside>

                <section class="c-match-container">
                    <h2>Recent Matches</h2>
                    <section class="o-row o-row--no-margin c-match-container__matches">
                        {% for match in matches %}
                            <article class="c-match-container__matches__match">
                                <div class="c-match-container__matches__match__team-container">
                                    <div class="c-match-container__matches__match__team-container__team" title="{{ match.winner.name }}">
                                        <img src="{{ match.winner.avatar | imagine_filter('medium_thumb') }}" class="team_avatar">
                                        <strong>{{ match.score(match.winner.id) }}</strong>
                                    </div>
                                </div>
                                <div class="c-match-container__matches__match__team-container">
                                    <div class="c-match-container__matches__match__team-container__team" title="{{ match.loser.name }}">
                                        <img src="{{ match.loser.avatar | imagine_filter('medium_thumb') }}" class="team_avatar">
                                        <strong>{{ match.score(match.loser.id) }}</strong>
                                    </div>
                                </div>

                                <a class="c-match-container__matches__match__stats" href="#">Match Stats &raquo;</a>
                            </article>
                        {% endfor %}
                    </section>
                </section>
            </section>
        </section>
    </main>
{% endblock %}
