{% extends 'layout.html.twig' %}

{% import '/Match/widget.html.twig' as matchUi %}

{% block pageHeader %}
{% endblock %}

{% block content %}
    <main class="s-landing">
        <section class="c-jumbotron c-jumbotron--landing">
            <article>
                <h1>{{ app.siteWelcome }}</h1>
                <h2>{{ app.siteSlug }}</h2>
            </article>
        </section>

        <section class="o-container">
            <section class="o-row o-section c-ibullets">
                <article class="c-ibullets__bullet">
                    <section class="c-ibullets__bullet__icon">
                        <img src="{{ asset("assets/imgs/landing-servers.png") }}" alt="Match servers">
                    </section>

                    <div class="c-ibullets__bullet__content">
                        <h3>
                            <a href="{{ path("server_list") }}">Servers</a>
                        </h3>

                        <p>Our servers are located close to home to provide the least latency to players from all around the world.</p>
                    </div>
                </article>

                <article class="c-ibullets__bullet">
                    <section class="c-ibullets__bullet__icon">
                        <img src="{{ asset("assets/imgs/landing-matches.png") }}" alt="Competitive matches">
                    </section>
                    <div class="c-ibullets__bullet__content">
                        <h3>
                            <a href="{{ path("match_list") }}">Matches</a>
                        </h3>

                        <p>Match against the best of the west, and also the best of the rest. Join in our tournaments and special events.</p>
                    </div>
                </article>

                <article class="c-ibullets__bullet">
                    <section class="c-ibullets__bullet__icon">
                        <img src="{{ asset("assets/imgs/landing-gettingstarted.png") }}" alt="Getting started with {{ app.title }}">
                    </section>
                    <div class="c-ibullets__bullet__content">
                        <h3>
                            <a href="{{ path("custom_page_show", {page: 'getting-started'}) }}">Getting Started</a>
                        </h3>

                        <p>Need help getting started? Join the spawn list, read our rules, and join our servers to see how you do against our pros!</p>
                    </div>
                </article>
            </section>

            <hr>

            <section class="c-latest-updates">
                <aside class="c-latest-news">
                    <h2>Latest News</h2>
                    <ul>
                        {% for post in news %}
                            <li class="c-latest-news__article">
                                <h3>{{ link_to(post) }}</h3>
                                <p>by {{ link_to(post.author) }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </aside>

                <section class="c-latest-matches">
                    <h2>Recent Matches</h2>

                    <section class="o-row">
                        {% for match in matches %}
                            <div class="c-latest-matches__match">
                                {{ matchUi.widget(match) }}
                            </div>
                        {% endfor %}
                    </section>
                </section>
            </section>
        </section>
    </main>
{% endblock %}
