{% from 'avatar-editor.html.twig' import avatar_editor %}
{% from 'md-editor.html.twig' import md_editor %}

<div class="container">
    {{ form_start(form) }}
        {{ form_errors(form) }}

        <section class="row">
            <aside class="col-md-3">
                {{ avatar_editor(avatar, form.avatar, form.delete_avatar) }}
            </aside>

            <article class="col-md-9">
                {{ form_row(form.name, { 'container_attr': { 'class': 'mb3' } }) }}
                {{ form_row(form.alias, { 'container_attr': { 'class': 'mb3' } }) }}

                <div class="mb3">
                    {{ md_editor(form.description) }}
                </div>

                <section class="row">
                    <div class="col-md-4">
                        {{ form_row(form.world_size, { 'container_attr': { 'class': 'mb3' } }) }}
                    </div>

                    <div class="col-md-4">
                        {{ form_row(form.shot_count, { 'container_attr': { 'class': 'mb3' } }) }}
                    </div>

                    <div class="col-md-4">
                        {{ form_row(form.game_mode, { 'container_attr': { 'class': 'mb3' } }) }}
                    </div>
                </section>

                <section>
                    {{ form_row(form.jumping, { 'container_attr': { 'class': 'c-form__checkbox--horizontal mb3' } }) }}
                    {{ form_row(form.ricochet, { 'container_attr': { 'class': 'c-form__checkbox--horizontal mb3' } }) }}
                    {{ form_row(form.randomly_generated, { 'container_attr': { 'class': 'c-form__checkbox--horizontal mb3' } }) }}
                    {{ form_row(form.is_inactive, { 'container_attr': { 'class': 'c-form__checkbox--horizontal mb3' } }) }}
                </section>

                <div>
                    {{ form_rest(form) }}
                </div>
            </article>
        </section>
    {{ form_end(form) }}
</div>
