{% extends 'layout.html.twig' %}

{% set pageButtons = [
    {
        'color': 'blue',
        'url': path('map_add'),
        'icon': 'plus',
        'text': 'Add New',
        'condition': me.canCreate("Map")
    }
] %}

{% block title %}Maps{% endblock %}

{% block pageTitle %}
    <h1>League Maps</h1>
{% endblock %}

{% block content %}
    {# TODO: Style this page #}
    <section class="o-container">
        {% for map in maps %}
            <article class="o-section c-map-widget">
                {% if map.avatar is not null %}
                    <img class="c-map__icon" src="{{ map.avatar | imagine_filter('large_thumb') }}">
                {% endif %}

                <section class="c-map-widget__info">
                    <article class="c-map-widget__info__header">
                        <h1 class="c-map-widget__info__name">
                            {{ map.name -}}
                        </h1>

                        <div class="c-map-widget__info__stats">
                            {{ 'match'|plural(map.countMatches) }} played
                        </div>

                        <article class="c-map-widget__info__meta">
                            {% if me.canEdit(map) %}
                                <span><i title="Alias" class="fa fa-wrench"></i> {{ map.alias }}</span>
                                <span>{{ link_to(map, content='Edit', icon='pencil', action='edit') }}</span>
                            {% endif %}
                            {% if me.canDelete(map) %}
                                <span>{{ link_to(map, content='Delete', icon='trash-o', action='delete') }}</span>
                            {% endif %}
                        </article>
                    </article>

                    <article class="c-map-widget__info__details">
                        {{ map.description|markdown }}
                    </article>
                </section>


            </article>
        {% endfor %}
    </section>
{% endblock %}
