{% extends 'layout.html.twig' %}

{% set pageButtons = [
    {
        'color': 'blue',
        'url': path('map_add'),
        'icon': 'plus',
        'text': 'Add New',
        'condition': me.canCreate("Map")
    }
] %}

{% block title %}Maps{% endblock %}

{% block pageTitle %}
    <h1>League Maps</h1>
{% endblock %}

{% block content %}
    <div class="container mbn3">
        <div class="row">
            {% for map in maps %}
                {# @var map \Map #}
                <div class="col-md-6 col-lg-4 mb3">
                    <article class="c-card">
                        {% if me.canEdit(map) or me.canDelete(map) %}
                            <div class="c-card__editor">
                                {% if me.canEdit(map) %}
                                    {{ link_to(map, content='<span class="sr-only">Edit map</span>', icon='pencil', action='edit', class='px1') }}
                                {% endif %}
                                {% if me.canDelete(map) %}
                                    {{ link_to(map, content='<span class="sr-only">Delete map</span>', icon='trash-o', action='delete', class='px1') }}
                                {% endif %}
                            </div>
                        {% endif %}

                        <figure class="c-card__theater">
                            <img alt="Bird's-eye view of {{ map.name }}"
                                 src="{{ map.avatar | imagine_filter('landscape_thumb') }}" />
                        </figure>

                        <header class="c-card__header">
                            <h2>{{ map.name }}</h2>
                        </header>

                        <section class="c-card__body">
                            <div class="s-markdown">{{ map.description | markdown }}</div>
                        </section>

                        <footer class="c-card__footer">
                            <ul class="is-horizontal mb0 text-right-md">
                                <li class="mr2">
                                    <i class="fa fa-trophy" aria-hidden="true" title="Matches played"></i>
                                    {{ map.countMatches | number_abbr(noun='match', content='played') }}
                                </li>
                                {% if map.shotCount %}
                                    <li class="mr2">
                                        <small>
                                            <span class="sr-only">Maximum shots per player: </span>
                                            <span title="Maximum shots per player">
                                                <i class="fa fa-crosshairs" aria-hidden="true"></i>
                                                {{ map.shotCount }}
                                            </span>
                                        </small>
                                    </li>
                                {% endif %}
                                {% if map.jumpingEnabled is not null %}
                                    {% set status = map.jumpingEnabled ? 'enabled' : 'disabled' %}
                                    <li class="mr2">
                                        <small>
                                            <span class="sr-only">Jumping is {{ status }} on this map</span>
                                            <span title="Jumping is {{ status }} on this map">
                                                {{ ionicon('jumping') }}
                                                {{ map.jumpingEnabled ? 'Y' : 'N' }}
                                            </span>
                                        </small>
                                    </li>
                                {% endif %}
                                {% if map.ricochetEnabled is not null %}
                                    {% set status = map.ricochetEnabled ? 'enabled' : 'disabled' %}
                                    <li>
                                        <small>
                                            <span class="sr-only">Ricochet is {{ status }} on this map</span>
                                            <span title="Ricochet is {{ status }} on this map">
                                                {{ ionicon('ricochet') }}
                                                {{ map.ricochetEnabled ? 'Y' : 'N' }}
                                            </span>
                                        </small>
                                    </li>
                                {% endif %}
                            </ul>
                        </footer>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
