{% extends 'layout.html.twig' %}

{% set pageButtons = [
    {
        'color': 'green',
        'pattern': 'vertical-stripes',
        'url': path('map_add'),
        'icon': 'plus',
        'text': 'Add New',
        'condition': me.canCreate("Map")
    }
] %}

{% block title %}Maps{% endblock %}

{% block pageTitle %}
    <h1>League Maps</h1>
{% endblock %}

{% block content %}
    <div class="container mbn3">
        <div class="row">
            {% for map in maps %}
                {# @var map \Map #}
                <div class="col-md-6 col-lg-4 mb3">
                    <article class="c-card">
                        {% if me.canEdit(map) or me.canDelete(map) %}
                            <div class="c-card__editor">
                                {% if me.canEdit(map) %}
                                    {{ link_to(map, content='<span class="sr-only">Edit map</span>', icon='pencil', action='edit', class='px1') }}
                                {% endif %}
                                {% if me.canDelete(map) %}
                                    {{ link_to(map, content='<span class="sr-only">Delete map</span>', icon='trash-o', action='delete', class='px1') }}
                                {% endif %}
                            </div>
                        {% endif %}

                        <figure class="c-card__theater">
                            <img alt="Bird's-eye view of {{ map.name }}"
                                 src="{{ map.avatar | imagine_filter('landscape_thumb') }}" />
                        </figure>

                        <header class="c-card__header">
                            <h2>
                                {{ map.name }}
                                <small>
                                    {% if map.gameMode == constant('Map::GAME_MODE_CTF') %}
                                        {% set gameModeLiteral = 'a Capture the Flag' %}
                                        {% set gameModeIcon = 'flag' %}
                                    {% elseif map.gameMode == constant('Map::GAME_MODE_AHOD') %}
                                        {% set gameModeLiteral = 'an All Hands On Deck' %}
                                        {% set gameModeIcon = 'bullhorn' %}
                                    {% endif %}

                                    <span title="{{ map.name }} is {{ gameModeLiteral }} map">
                                        <i class="fa fa-{{ gameModeIcon }}" aria-hidden="true"></i>
                                        <span class="sr-only">{{ gameModeLiteral }} map</span>
                                    </span>
                                </small>
                            </h2>
                        </header>

                        <section class="c-card__body">
                            <div class="s-markdown">{{ map.description | markdown }}</div>
                        </section>

                        <footer class="c-card__footer">
                            <ul class="is-horizontal mb0 text-right-md">
                                <li class="mr2">
                                    <i class="fa fa-trophy" aria-hidden="true" title="Matches played"></i>
                                    {{ map.countMatches | number_abbr(noun='match', content='played') }}
                                </li>
                                {% if map.randomlyGenerated is not null %}
                                    <li class="mr2">
                                        <small>
                                            {% if map.randomlyGenerated %}
                                                {% set message = 'This map is randomly generated at the start of each match' %}
                                            {% else %}
                                                {% set message = 'This is a static map and does not change' %}
                                            {% endif %}

                                            <span class="sr-only">{{ message }}</span>
                                            <span title="{{ message }}" aria-hidden="true">
                                                <i class="fa fa-random" aria-hidden="true"></i>
                                                {{ map.randomlyGenerated ? 'Y' : 'N' }}
                                            </span>
                                        </small>
                                    </li>
                                {% endif %}
                                {% if map.shotCount %}
                                    {% set message %}This map allows {{ map.shotCount }} shots per player{% endset %}

                                    <li class="mr2">
                                        <small>
                                            <span class="sr-only">{{ message }}</span>
                                            <span title="{{ message }}" aria-hidden="true">
                                                <i class="fa fa-crosshairs" aria-hidden="true"></i>
                                                {{ map.shotCount }}
                                            </span>
                                        </small>
                                    </li>
                                {% endif %}
                                {% if map.jumpingEnabled is not null %}
                                    {% set message %}Jumping is {{ map.jumpingEnabled ? 'allowed' : 'not allowed' }} on this map{% endset %}

                                    <li class="mr2">
                                        <small>
                                            <span class="sr-only">{{ message }}</span>
                                            <span title="{{ message }}" aria-hidden="true">
                                                {{ ionicon('jumping') }}
                                                {{ map.jumpingEnabled ? 'Y' : 'N' }}
                                            </span>
                                        </small>
                                    </li>
                                {% endif %}
                                {% if map.ricochetEnabled is not null %}
                                    {% set message %}This map {{ map.ricochetEnabled ? 'has' : 'does not have' }} ricochet shots{% endset %}

                                    <li>
                                        <small>
                                            <span class="sr-only">{{ message }}</span>
                                            <span title="{{ message }}" aria-hidden="true">
                                                {{ ionicon('ricochet') }}
                                                {{ map.ricochetEnabled ? 'Y' : 'N' }}
                                            </span>
                                        </small>
                                    </li>
                                {% endif %}
                            </ul>
                        </footer>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
