{% from 'md-editor.html.twig' import md_editor %}

<div class="container">
    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.player, { 'container_attr': { 'class': 'mb3' } }) }}

        <div class="row">
            <div class="col-md-9">
                <div class="mb3">
                    {{ md_editor(form.reason) }}
                </div>

                {{ form_row(form.server_message, { 'container_attr': { 'class': 'mb3' } }) }}
                {{ form_row(form.ip_addresses, { 'container_attr': { 'class': 'mb3' } }) }}
            </div>
            <aside class="col-md-3 py3-md">
                {{ form_row(form.is_soft_ban, { 'container_attr': { 'class': 'c-form__checkbox--horizontal mb3' } }) }}
                {{ form_row(form.is_permanent, { 'container_attr': { 'class': 'c-form__checkbox--horizontal mb3' } }) }}
                {{ form_row(form.expiration, {
                    'attr': { 'class': 'c-form__date' },
                    'container_attr': { 'class': 'mb3', 'id': 'ban_expiration_date' }
                }) }}
            </aside>
        </div>

        <div>
            {{ form_rest(form) }}
        </div>
    {{ form_end(form) }}
</div>
