<main class="c-page">
    <section class="c-page__header">
        <div class="c-page__header__container">
            <section class="c-page__header__container__title">
                <h1>{{ pageTitle }}</h1>
            </section>
        </div>
    </section>

    {{ form_start(form) }}
        <section class="o-layout c-form__editor c-ban-form">
            <div class="o-layout__body--full c-ban-form__settings">
                {{ form_row(form.player) }}

                <div class="c-form__editor__body__timestamp">
                    {{ form_label(form.expiration) }}
                    {{ form_errors(form.expiration) }}
                    {{ form_widget(form.expiration.date, { 'attr': { 'class': 'c-form__editor__body__timestamp__date' } }) }}
                    {{ form_widget(form.expiration.time, { 'attr': { 'class': 'c-form__editor__body__timestamp__time' } }) }}
                </div>

                {{ form_row(form.automatic_expiration, { 'container_attr': { 'class': 'c-ban-form__settings__expiration' } }) }}
            </div>

            <div class="o-layout__body--full">
                {{ form_row(form.reason, { 'attr': { 'class': 'c-form__editor__body__content' } }) }}
            </div>

            <div class="o-layout__body--full c-ban-form__server-settings">
                {{ form_row(form.server_message, { 'container_attr': { 'class': 'c-ban-form__server-settings__message' } }) }}
                {{ form_row(form.server_join_allowed, { 'container_attr': { 'class': 'c-ban-form__server-settings__allow-join' } }) }}
            </div>

            <div class="o-layout__body--full">
                {{ form_row(form.ip_addresses) }}
            </div>

            <section class="o-layout__body--full c-form__buttons">
                {{ form_rest(form) }}
            </section>
        </section>
    {{ form_end(form) }}
</main>
