{% extends 'layout.html.twig' %}

{% block title %}Bans{% endblock %}

{% block content %}
    <main class="bans">
        <section class="content_header">
            <article class="wrapper">
                <h1>League Bans</h1>
            </article>
        </section>

        <section class="punishments">
            <article class="css-table ban_list">
                <div class="row header">
                    <div class="column">
                        <strong>Date</strong>
                    </div>
                    <div class="column">
                        <strong>Victim</strong>
                    </div>
                    <div class="column">
                        <strong>Banner</strong>
                    </div>
                    <div class="column">
                        <strong>Expires</strong>
                    </div>
                    <div class="column"></div>
                </div>
                {% for ban in bans %}
                    <div class="row">
                        <div class="column creation">
                            {{ ban.created }}
                        </div>
                        <div class="column victim">
                            {{ link_to(ban.victim) }}
                        </div>
                        <div class="column author">
                            {{ link_to(ban.author) }}
                        </div>
                        <div class="column expiration">
                            {% if ban.willExpire %}
                                {{ ban.expiration.format(constant('TimeDate::DATE_FULL')) }}
                            {% else %}
                                <em>Never</em>
                            {% endif %}
                        </div>
                        <div class="column info">
                            {{ link_to(ban, icon='info-circle') }}
                        </div>
                    </div>
                {% endfor %}
            </article>
        </section>
    </main>
{% endblock %}
