{% extends 'layout.html.twig' %}

{% block title %}Bans{% endblock %}

{% block content %}
    <main class="bans">
        <section class="content_header">
            <article class="wrapper">
                <h1>League Bans</h1>
            </article>
        </section>

        <section class="punishments">
            <article class="css-table ban_list">
                <div class="row header">
                    <div class="column">
                        <strong>Date</strong>
                    </div>
                    <div class="column">
                        <strong>Victim</strong>
                    </div>
                    <div class="column">
                        <strong>Banner</strong>
                    </div>
                    <div class="column">
                        <strong>Expires</strong>
                    </div>
                    <div class="column"></div>
                </div>
                {% for ban in bans %}
                    <div class="row">
                        <div class="column">
                            {{ ban.created }}
                        </div>
                        <div class="column">
                            {{ link_to(ban.victim) }}
                        </div>
                        <div class="column">
                            {{ link_to(ban.author) }}
                        </div>
                        <div class="column">
                            {{ ban.expiration }}
                        </div>
                        <div class="column">
                            <a href="{{ ban.url }}"><i class="fa fa-info-circle"></i></a>
                        </div>
                    </div>
                {% endfor %}
            </article>
        </section>
    </main>
{% endblock %}
