{% extends 'layout.html.twig' %}

{% set pageButtons = [
    {
        'color': 'blue',
        'url': path('ban_create'),
        'icon': 'plus',
        'text': 'Add Ban',
        'condition': me.canCreate("Ban")
    }
] %}

{% block pageTitle %}
    <h1>League Bans</h1>
{% endblock %}

{% block title %}Bans{% endblock %}

{% macro ban_preview(ban_instance) %}
    {% from 'Player/widget.html.twig' import widget_custom as player_widget %}

    <div class="c-link_combinator row row--nowrap">
        <div class="c-link_combinator__body col">
            {% set banMessage -%}
                banned <span class="u-hide u-show-sm">{{ ban_instance.permanent ? 'indefinitely' : '' }}</span> on

                <span class="u-hide-md">
                    <strong>{{ ban_instance.created | date("M d, 'y") }}</strong>
                </span>

                <span class="u-hide u-show-md">
                    <strong>{{ ban_instance.created | humanTime }}</strong>
                </span>

                <span class="u-hide u-show-sm">
                    {%- if not ban_instance.permanent %}
                        {% set expiration = ban_instance.expiration.diff(ban_instance.created) %}

                        {# If there are hours in the date difference, just round up to an entire day #}
                        {% set daysApprox = expiration.days %}
                        {% if expiration.h > 0 %}
                            {% set daysApprox = daysApprox + 1 %}
                        {% endif %}

                        for ~<strong>{{ 'day' | plural(daysApprox) }}</strong>
                    {%- endif -%}
                </span>
            {%- endset %}

            {{ player_widget(ban_instance.victim, {}, banMessage) }}
        </div>

        <div class="c-link_combinator__pointer col">
            <a href="{{ ban_instance.url }}">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="sr-only">See ban details</span>
            </a>
        </div>
    </div>
{% endmacro %}

{% block content %}
    <div class="container">
        <div class="row mb3">
            {% for ban in bans %}
                <div class="col-md-6 mb2">
                    {{ _self.ban_preview(ban) }}
                </div>
            {% endfor %}
        </div>

        {% include "pagination.html.twig" with { 'totalPages': totalPages, 'currentPage': currentPage } %}
    </div>
{% endblock %}
