{% extends 'layout.html.twig' %}
{% from 'Player/widget.html.twig' import widget_custom as player_widget %}

{% set pageButtons = [
    {
        'color': 'grey',
        'url': ban.url('edit'),
        'icon': 'pencil',
        'text': 'Edit Ban',
        'condition': me.canEdit(ban)
    },
    {
        'color': 'grey',
        'url': ban.url('expire'),
        'icon': 'unlock',
        'text': 'Expire',
        'condition': me.canEdit(ban) and not ban.expired
    }
] %}

{% block pageTitle %}
    <h1>{{ ban.victim.username }}'s Ban</h1>
{% endblock %}

{% block title %}Bans{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <section class="mb3">
                    <h2>Victim</h2>
                    {{ player_widget(ban.victim) }}
                </section>
            </div>
            <div class="col-md-4">
                <section class="mb3">
                    <h2>Expiration</h2>
                    <p>
                        {% if not ban.isPermanent %}
                            {{ ban.expiration | humanTime(constant('TimeDate::DATE_FULL')) }}

                            {% if not ban.isExpired %}
                                ({{ ban.expiration.diffForHumans }})
                            {% endif %}
                        {% else %}
                            <em>Until further notice</em>
                        {% endif %}
                    </p>
                </section>
            </div>
            <div class="col-md-4">
                <h2>Post Date</h2>
                <p>{{ ban.created | humanTime(constant('TimeDate::DATE_FULL')) }}</p>
            </div>
        </div>

        <section>
            <h2>Ban Reason</h2>
            <article class="s-markdown">
                {{ ban.reason | markdown }}
            </article>
        </section>

        {% if me.hasPermission("edit_ban") %}
            <section class="my3">
                <h2>Posted By</h2>
                {{ player_widget(ban.author) }}
            </section>

            <section class="mb3">
                <h2>Banned IP Addresses</h2>
                <div class="s-markdown">
                    <ul>
                        {% for ip in ban.ipAddresses %}
                            <li>{{ ip }}</li>
                        {% else %}
                            <li>No IPs affected by this ban</li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        {% endif %}
    </div>
{% endblock %}
