{% extends 'layout.html.twig' %}

{% block title %}Bans{% endblock %}

{% block content %}
    <main class="bans">
        <section class="content_header">
            <article class="wrapper">
                <h1>{{ ban.victim.username }}'s Ban</h1>
            </article>
        </section>

        <section class="summary">
            <strong>Date</strong>
            <p>{{ ban.created }}</p>

            <strong>Expiration</strong>
            <p>{{ ban.expiration }}</p>

            <strong>Reason</strong>
            <article>
                {{ ban.reason }}
            </article>

            {% if me.hasPermission("edit_ban") %}
                <strong>Server Ban Message</strong>
                <p>{{ ban.serverMessage | raw }}</p>

                <strong>Allow Server Join</strong>
                <p>{{ ban.allowedServerJoinLiteral }}</p>

                <strong>Banned IP Addresses</strong>
                <ul>
                    {% for ip in ban.ipAddresses %}
                        <li>{{ ip }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </section>
    </main>
{% endblock %}
