<div class="container">
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-8 mb3">
                {{ form_row(form.name) }}
            </div>
            <div class="col-md-4 mb3">
                {{ form_row(form.owner) }}
            </div>

            <div class="col-sm-8 col-md-6 mb3">
                {{ form_row(form.domain) }}
            </div>
            <div class="col-sm-4 col-md-2 mb3">
                {{ form_row(form.port) }}
            </div>
            <div class="col-md-4 mb3">
                {{ form_row(form.country) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 mb3">
                {{ form_row(form.server_type) }}
            </div>
        </div>

        <div>
            {{ form_row(form.inactive, { container_attr: { class: 'c-form__checkbox--horizontal' } }) }}
        </div>

        <div>
            {{ form_rest(form) }}
        </div>
    {{ form_end(form) }}
</div>
