<header>
    {% set status = (server.online) ? "online" : "offline" %}

    <span class="c-servers__server__info__status c-servers__server__info__status--{{ status }}" title="Server is currently {{ status }}">&bull;</span>
    <span class="c-servers__server__info__name">{{ server.name }}</span>
    {{ server.country.flagLiteral | raw }}

    {% if me.canEdit(server) or me.canDelete(server) %}
        <ul class="c-servers__server__options is-horizontal has-no-padding">
            {% if me.canEdit(server) %}
                <li>
                    <a class="server-refresh" href="{{ path('server_show', { server: server.id, forced: 1 }) }}">
                        <i class="fa fa-refresh"></i>
                    </a>
                </li>
                <li>{{ link_to(server, 'pencil', 'edit') }}</li>
            {% endif %}

            {% if me.canDelete(server) %}
                <li>{{ link_to(server, 'minus', 'delete') }}</li>
            {% endif %}
        </ul>
    {% endif %}
</header>

<p class="c-servers__server__info__address">{{ server.address }}</p>
<p class="c-servers__server__info__playerCount">Player count: {{ server.numPlayers }}</p>
<small class="c-servers__server__info__updated">Updated {{ server.lastUpdate | humanTime }}</small>