{% extends 'layout.html.twig' %}

{% from 'Player/widget.html.twig' import widget_custom as player_widget %}
{% from 'reusable_charts.html.twig' import match_summary %}
{% from 'accessibility_charts.html.twig' import accessible_line, show_table_button %}

{% set pageButtons = [
    {
        'color': 'grey',
        'url': server.url('edit'),
        'icon': 'pencil',
        'text': 'Edit',
        'condition': me.canEdit(server)
    },
    {
        'color': 'red',
        'url': server.url('delete'),
        'icon': 'trash-o',
        'text': 'Delete',
        'condition': me.canDelete(server)
    }
] %}

{% block pageTitle %}
    <div class="d-flex align-items-center">
        <h1 class="mr1">{{ server.name }}</h1>
        {{ server.country.flagLiteral | raw }}
    </div>

    <small title="Server address">{{ server.address }}</small>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>Server Operator</h2>
                {{ player_widget(server.owner) }}
            </div>
            <div class="col-md-3">
                <h2>Match Statistics</h2>

                <div class="text-center">
                    <p class="mb0 t5">
                        <strong>
                            {{ server.matchCount | number_abbr(noun='match', content='have taken place on this server') }}
                        </strong>
                    </p>
                    <p>{{ 'match' | plural(server.matchCount, hideNumber=true) }} have taken place on this server</p>
                </div>
            </div>

            <div class="col-md-6">
                {% set matchTableID = 'match-activity' %}
                <h2>
                    Match Activity

                    {{ show_table_button(matchTableID, 'Show table equivalent of the Elo graph') }}
                </h2>

                {{ match_summary(
                    matches,
                    matchTableID,
                    'A breakdown of the number of matches per month for this server in the past year'
                ) }}
            </div>
        </div>
    </div>
{% endblock %}
