{% import _self as serverlist %}

<section class="title">
    {% set status = "offline" %}

    {% if server.online %}
        {% set status = "online" %}
    {% endif %}

    <span class="status {{ status }}" title="Server is currently {{ status }}">&bull;</span>
    <span class="name">{{ server.name }}</span>
    {{ server.country.flagLiteral | raw }}

    <ul>
        {% if me.canEdit(server) %}
            <li>
                <a class="server-refresh" href="{{ path('server_show', { server: server.id, forced: 1 }) }}">
                    <i class="fa fa-refresh"></i>
                </a>
            </li>
            <li>{{ link_to(server, 'pencil', 'edit') }}</li>
        {% endif %}

        {% if me.canDelete(server) %}
            <li>{{ link_to(server, 'minus', 'delete') }}</li>
        {% endif %}
    </ul>
</section>

<p class="address">{{ server.address }}</p>
<p class="playerCount">Player count: {{ server.numPlayers }}</p>

{% if server.players is not empty %}
    <ul class="players">
        {% for player in server.players %}
            <li>{{ player.sign ~ " " ~ serverlist.team(player) | trim }}</li>
        {% endfor %}
    </ul>
{% endif %}

<small>Updated {{ server.lastUpdate }}</small>

{% macro team(player) %}
    {% set team = player.team %}

    {% if team == 0 %}
        (Rogue)
    {% elseif team == 1 %}
        (Red)
    {% elseif team == 2 %}
        (Green)
    {% elseif team == 3 %}
        (Blue)
    {% elseif team == 4 %}
        (Purple)
    {% elseif team == 5 %}
        (Observer)
    {% endif %}
{% endmacro %}
