<article class="c-article">
    <h1 class="c-article__title">
        {% if (article.status == "draft") %}
            [Draft]
        {% endif %}
        {{ link_to(article) }}
    </h1>
    <p class="c-article__date">{{ article.created | humanTime(constant('TimeDate::DATE_FULL')) }}</p>

    <section class="c-article__content s-markdown">
        {{ article.content | markdown }}
    </section>

    <ul class="c-article__meta">
        <li>
            <i class="fa fa-user"></i> {{ link_to(article.author) }}
        </li>
        <li>
            <i class="fa fa-tag"></i> {{ link_to(article.category) }}
        </li>
    </ul>
</article>