<article class="{{ class | default('') }}">
    <header>
        <h1>
            {% if (article.status == "draft") %}
                [Draft]
            {% endif %}
            {{ link_to(article) }}
        </h1>
        <p>
            <small>{{ article.created | humanTime(constant('TimeDate::DATE_FULL')) }}</small>
        </p>
    </header>

    <section class="s-markdown mb2">
        {{ article.content | markdown }}
    </section>

    <footer>
        <ul class="is-horizontal mb0">
            <li class="mr2">
                <small><i class="fa fa-fw fa-user" aria-hidden="true"></i> {{ link_to(article.author) }}</small>
            </li>
            <li class="mr2">
                <small><i class="fa fa-fw fa-tag" aria-hidden="true"></i> {{ link_to(article.category) }}</small>
            </li>
        </ul>
    </footer>
</article>
