{% extends 'layout.html.twig' %}

{% block title %}News :: {{ article.subject }} :: Edit{% endblock %}

{% block content %}
    <main class="page news">
        <section class="page--header">
            <div class="page--container">
                <section class="page--title">
                    <h1>
                        Editing :: {{ article.subject }}
                    </h1>
                </section>
            </div>
        </section>

        {{ form_start(form, { 'attr': { 'class': 'news--editor--container' } }) }}
            <section class="news--editor">
                <article class="news--body">
                    {{ form_row(form.subject) }}
                    {{ form_row(form.content) }}
                </article>

                <aside class="news--meta">
                    {{ form_row(form.category) }}
                    {{ form_row(form.status) }}
                </aside>
            </section>

            <section class="news--actions">
                {{ form_rest(form) }}
            </section>
        {{ form_end(form) }}
    </main>
{% endblock %}
