<main class="page news editor">
    <section class="page--header">
        <div class="page--container">
            <section class="page--title">
                <h1>{{ pageTitle }}</h1>
            </section>
        </div>
    </section>

    {{ form_start(form, { 'attr': { 'class': 'form--editor--container' } }) }}
    <section class="form--editor">
        <article class="form--body">
            {{ form_row(form.subject) }}
            {{ form_row(form.content, { 'attr': { 'class': 'form--body--content' } }) }}
        </article>

        <aside class="form--meta">
            {{ form_row(form.category) }}
            {{ form_row(form.status) }}
        </aside>
    </section>

    <section class="form--actions">
        {{ form_rest(form) }}
    </section>
    {{ form_end(form) }}
</main>