{% from 'md-editor.html.twig' import md_editor %}

<div class="container">
    {{ form_start(form) }}
        {{ form_errors(form) }}

        <section class="row">
            <article class="col-md-9">
                {{ form_row(form.subject, { 'container_attr': { 'class': 'mb3' } }) }}

                <div class="mb3">
                    {{ md_editor(form.content) }}
                </div>
            </article>

            <aside class="col-md-3">
                {{ form_row(form.category, { 'container_attr': { 'class': 'mb3' } }) }}
            </aside>
        </section>

        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-xs-6">
                        {{ form_row(form.publish) }}
                    </div>

                    {% if form.save_draft is defined %}
                        <div class="col-xs-6 text-right">
                            {{ form_row(form.save_draft) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div>
            {{ form_rest(form) }}
        </div>
    {{ form_end(form) }}
</div>
