{% from 'md-editor.html.twig' import md_editor %}

<div class="container">
    {{ form_start(form) }}
        {{ form_errors(form) }}

        <section class="row">
            <article class="col-md-9">
                {{ form_row(form.subject, { 'container_attr': { 'class': 'mb3' } }) }}

                <div class="mb3">
                    {{ md_editor(form.content) }}
                </div>
            </article>

            <aside class="col-md-3">
                {{ form_row(form.category, { 'container_attr': { 'class': 'mb3' } }) }}
                {{ form_row(form.status,   { 'container_attr': { 'class': 'mb3' } }) }}
            </aside>
        </section>

        <div>
            {{ form_rest(form) }}
        </div>
    {{ form_end(form) }}
</div>
