{% extends 'layout.html.twig' %}

{% block title %}
    {% if category %}
        News :: {{ category.name }}
    {% else %}
        News
    {% endif %}
{% endblock %}

{% block content %}
    <main class="news">
        <section class="content_header">
            <article class="wrapper">
                <h1>
                    League News
                    {% if category %}
                        in '{{ category.name }}' category
                    {% endif %}
                </h1>
            </article>
        </section>

        <section class="articles">
            <section>
                {% for article in news %}
                    <article>
                        <h1><a href="{{ request.getBaseURL ~ "/news/" ~ article.ID }}">{{ article.subject }}</a></h1>

                        <ul class="meta">
                            <li>
                                <i class="fa fa-calendar"></i> {{ article.createdLiteral | raw }}
                            </li>
                            <li>
                                <i class="fa fa-user"></i> {{ article.author.linkLiteral | raw }}
                            </li>
                            <li>
                                <i class="fa fa-tag"></i> {{ article.category.linkLiteral | raw }}
                            </li>
                        </ul>

                        <section class="post">
                            {{ article.content }}
                        </section>
                    </article>
                {% endfor %}
            </section>

            <aside>
                <h2>Categories</h2>

                {% include "News/categories.html.twig" %}
            </aside>
        </section>
    </main>
{% endblock %}
