{% extends 'layout.html.twig' %}

{% block title %}
    {% if category %}
        News :: {{ category.name }}
    {% else %}
        News
    {% endif %}
{% endblock %}

{% block content %}
    <main class="news">
        <section class="content_header">
            <article class="wrapper">
                <div>
                    <h1>
                        League News
                        {% if category %}
                            in '{{ category.name }}' category
                        {% endif %}
                    </h1>
                </div>

                {% if me.canCreate("News") %}
                    <div class="buttons">
                        <a class="button grey notextshadow" href="{{ path('news_new') }}"><i class="fa fa-plus"></i> Post New</a>
                    </div>
                {% endif %}
            </article>
        </section>

        <section class="container">
            <aside>
                <ul>
                    <li><a href="{{ path('news_list') }}"><i class="fa fa-tag"></i> All Posts</a></li>

                    {% for category in categories %}
                        <li><a href="{{ category.url }}"><i class="fa fa-tag"></i> {{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </aside>

            <section class="article_container">
                {% for article in news %}
                    <article>
                        <h1>{{ link_to(article) }}</h1>
                        <p class="post_date">{{ article.created | date("F d, Y") }}</p>

                        <section class="post">
                            {{ article.content }}
                        </section>

                        <ul class="meta">
                            <li>
                                <i class="fa fa-user"></i> {{ link_to(article.author) }}
                            </li>
                            <li>
                                <i class="fa fa-tag"></i> {{ link_to(article.category) }}
                            </li>
                        </ul>
                    </article>
                {% endfor %}
            </section>
        </section>
    </main>
{% endblock %}
