{% extends 'layout.html.twig' %}

{% block title %}
    {% if category %}
        News :: {{ category.name }}
    {% else %}
        News
    {% endif %}
{% endblock %}

{% block content %}
    <main class="page news">
        <section class="page--header">
            <div class="page--container">
                <section class="page--title">
                    <h1>
                        League News
                        {% if category %}
                            in '{{ category.name }}' category
                        {% endif %}
                    </h1>
                </section>

                <section class="page--options">
                    {% if me.canCreate("News") %}
                        <a class="button blue notextshadow" href="{{ path('news_new') }}"><i class="fa fa-fw fa-plus"></i> Post New</a>
                    {% endif %}
                </section>
            </div>
        </section>

        <section class="news-container">
            {% include "News/categories.html.twig" %}

            <section class="article-container">
                {% for article in news %}
                    <article>
                        <h1>{{ link_to(article) }}</h1>
                        <p class="post_date">{{ article.created | date("F d, Y") }}</p>

                        <section class="post">
                            {{ article.content }}
                        </section>

                        <ul class="meta">
                            <li>
                                <i class="fa fa-user"></i> {{ link_to(article.author) }}
                            </li>
                            <li>
                                <i class="fa fa-tag"></i> {{ link_to(article.category) }}
                            </li>
                        </ul>
                    </article>
                {% endfor %}
            </section>
        </section>
    </main>
{% endblock %}
