{% extends 'layout.html.twig' %}

{% block title %}News{% endblock %}

{% block content %}
    <main class="news">
        <section class="content_header">
            <article class="wrapper">
                <div>
                    <h1>League News</h1>
                </div>

                <div class="buttons">
                    {% if me.canEdit(article) %}
                        <a class="button grey notextshadow" href="{{ article.url('edit') }}"><i class="fa fa-pencil"></i> Edit</a>
                    {% endif %}

                    {% if me.canDelete(article) %}
                        <a class="button red" href="{{ article.url('delete') }}"><i class="fa fa-trash-o"></i> Delete</a>
                    {% endif %}
                </div>
            </article>
        </section>

        <section class="articles">
            <section>
                <article>
                    <h1>{{ article.subject }}</h1>

                    <ul class="meta">
                        <li>
                            <i class="fa fa-calendar"></i> {{ article.created }}
                        </li>
                        <li>
                            <i class="fa fa-user"></i> {{ link_to(article.author) }}
                        </li>
                        <li>
                            <i class="fa fa-tag"></i> {{ link_to(article.category) }}
                        </li>
                        {% if me.canCreate("News") or me.canEdit(article) %}
                            <li>
                                <i class="fa fa-bullhorn"></i> {{ article.status|capitalize }}
                            </li>
                        {% endif %}
                    </ul>

                    <section class="post">
                        {{ article.content }}
                    </section>
                </article>
            </section>

            <aside>
                <h2>Categories</h2>

                {% include "News/categories.html.twig" %}
            </aside>
        </section>
    </main>
{% endblock %}
