{% extends 'layout.html.twig' %}

{% block title %}News{% endblock %}

{% block content %}
    <main class="c-page news">
        <section class="c-page__header">
            <div class="c-page__header__container">
                <section class="c-page__header__container__title">
                    <h1>
                        League News
                        {% if category %}
                            in '{{ category.name }}' category
                        {% endif %}
                    </h1>
                </section>

                <section class="c-page__header__container__options">
                    {% if me.canEdit(article) %}
                        <a class="button grey notextshadow" href="{{ article.url('edit') }}"><i class="fa fa-pencil"></i> Edit</a>
                    {% endif %}

                    {% if me.canDelete(article) %}
                        <a class="button red" href="{{ article.url('delete') }}"><i class="fa fa-trash-o"></i> Delete</a>
                    {% endif %}
                </section>
            </div>
        </section>

        <section class="news-container">
            {% include "News/categories.html.twig" %}

            <section class="article-container">
                <article>
                    <h1>{{ article.subject }}</h1>
                    <p class="post_date">{{ article.created | date("F d, Y") }}</p>

                    <section class="post">
                        {{ article.content }}
                    </section>

                    <ul class="meta">
                        <li>
                            <i class="fa fa-user"></i> {{ link_to(article.author) }}
                        </li>
                        <li>
                            <i class="fa fa-tag"></i> {{ link_to(article.category) }}
                        </li>
                    </ul>
                </article>
            </section>
        </section>
    </main>
{% endblock %}
