{% extends 'layout.html.twig' %}

{% block title %}News{% endblock %}

{% block content %}
    <main class="news">
        <section class="content_header">
            <article class="wrapper">
                <h1>League News</h1>
            </article>
        </section>

        <section class="articles">
            <section>
                <article>
                    <h1>{{ article.subject }}</h1>

                    <ul class="meta">
                        <li>
                            <i class="fa fa-calendar"></i> {{ article.created }}
                        </li>
                        <li>
                            <i class="fa fa-user"></i> {{ link_to(article.author) }}
                        </li>
                        <li>
                            <i class="fa fa-tag"></i> {{ link_to(article.category) }}
                        </li>
                    </ul>

                    <section class="post">
                        {{ article.content }}
                    </section>
                </article>
            </section>

            <aside>
                <h2>Categories</h2>

                {% include "News/categories.html.twig" %}
            </aside>
        </section>
    </main>
{% endblock %}
