{% extends 'layout.html.twig' %}

{% import _self as listUtils %}

{% block title %}Players{% endblock %}

{% block pageTitle %}
    <h1>Player List</h1>
{% endblock %}

{% block headerOptions %}
    {% if me.hasPermission(constant('Permission::VIEW_VISITOR_LOG')) %}
        {{ listUtils.searchForm() }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex mb3">
            <div>
                <p>Group By</p>

                <div class="c-pill-group">
                    <a href="#"
                       class="c-pill-group__pill js-group-by"
                       data-group-by="activity"
                    >
                        Activity
                    </a>
                    <a href="#"
                       class="c-pill-group__pill js-group-by"
                       data-group-by="team"
                    >
                        Team
                    </a>
                    <a href="#"
                       class="c-pill-group__pill js-group-by"
                       data-group-by="country"
                    >
                        Country
                    </a>
                </div>
            </div>

            <div>
                <p>Sort By</p>

                <div class="c-pill-group">
                    <a class="c-pill-group__pill">Activity</a>
                    <a class="c-pill-group__pill">Callsign</a>
                </div>
            </div>
        </div>

        {#{% if me.hasPermission(constant('Permission::VIEW_VISITOR_LOG')) %}#}
            {#<section class="u-mobile-only o-row">#}
                {#{{ listUtils.searchForm() }}#}
            {#</section>#}
        {#{% endif %}#}

        <div id="player-list-canvas">
            <div class="row js-player-list">
                {# @var player \Player #}
                {% for player in players %}
                    <div class="js-player col-md-6 col-lg-4 col-xl-3 mb2"
                         data-callsign="{{ player.username }}"
                         data-country="{{ player.country.name }}"
                         data-team="{{ player.team.name != 'None' ? player.team.name : '' }}"
                    >
                        {% include "Player/widget.html.twig" with {
                            player: player,
                            showTeam: true,
                            attr: {}
                        } %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% macro searchForm() %}
    <form class="c-page__search" action="{{ path('search_player_by_bzid') }}" method="GET">
        <label class="c-page__search__icon" for="c-page__search__input" >
            <i class="fa fa-search"></i>
        </label>
        <input
            id="c-page__search__input"
            class="c-page__search__input"
            title="Search by player BZID"
            placeholder="Search by BZID..."
            type="search"
            name="bzid"
        >
    </form>
{% endmacro %}
