{% extends 'layout.html.twig' %}

{% block title %}Players{% endblock %}

{% block content %}
    <main class="s-player-list">
        <section class="c-page__header">
            <div class="c-page__header__container">
                <section class="c-page__header__container__title">
                    <h1>Player List</h1>
                </section>
            </div>
        </section>

        <section class="o-container c-roll-call">
            <section class="o-row">
                {% for player in players %}
                    <article class="o-row__column--third c-player-badge" data-callsign="{{ player.username }}" data-team="{{ player.team.name }}" data-country="{{ player.country.name }}">
                        <img class="c-player-badge__avatar" src="{{ player.avatar | imagine_filter('small_thumb') }}">
                        <section class="c-player-badge__info">
                            <p class="c-player-badge__info__callsign">{{ link_to(player) }}</p> {{ player.country.flagLiteral | raw }}
                            <p class="c-player-badge__info__team">{{ link_to(player.team) }}</p>
                        </section>
                    </article>
                {% endfor %}
            </section>
        </section>
    </main>
{% endblock %}
