{% extends 'layout.html.twig' %}

{% block title %}Players{% endblock %}

{% set pageWideCSS = 's-player__list' %}

{% block pageTitle %}
    <h1>Player List</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mb3">
            <div class="col-md-3">
                {% if me.hasPermission(constant('Permission::VIEW_VISITOR_LOG')) %}
                    <form action="{{ path('search_player_by_bzid') }}" method="GET">
                        <label class="c-form__icon mb1"
                               for="c-form__search__input"
                        >
                            Search by BZID
                        </label>

                        <div class="c-form__group--icon">
                            <div class="c-form__icon">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>

                            <input class="c-form__input"
                                   placeholder="e.g. 12345"
                                   type="search"
                                   name="bzid"
                            >
                        </div>
                    </form>
                {% endif %}
            </div>
            <div class="col-md-9 d-flex justify-content-end">
                <div class="text-right-md">
                    <p class="mb1">Group By</p>

                    <div class="c-pill-group">
                        {% for grouping in ['activity', 'team', 'country'] %}
                            <a href="{{ url_modify({ 'groupBy': grouping }) }}"
                               class="c-pill-group__pill js-group-by"
                               data-group-by="{{ grouping }}"
                            >
                                {{ grouping | title }}
                            </a>
                        {% endfor %}
                    </div>
                </div>

                <div class="text-right-md ml2">
                    <p class="mb1">Sort By</p>

                    <div class="c-pill-group">
                        {% for sorting in ['activity', 'callsign'] %}
                            <a href="{{ url_modify({ 'sortBy': sorting }) }}"
                               class="c-pill-group__pill js-sort-by"
                               data-sort-by="{{ sorting }}"
                            >
                                {{ sorting | title }}
                            </a>
                        {% endfor %}
                    </div>
                </div>

                <div class="text-right-md ml2">
                    <p class="mb1">Order</p>

                    <div class="c-pill-group">
                        <a href="{{ url_modify({ 'sortOrder': 'ASC' }) }}"
                           class="c-pill-group__pill js-order-by"
                           data-order-by="asc"
                        >
                            <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                            <span class="sr-only">Ascending</span>
                        </a>

                        <a href="{{ url_modify({ 'sortOrder': 'DESC' }) }}"
                           class="c-pill-group__pill js-order-by"
                           data-order-by="desc"
                        >
                            <i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>
                            <span class="sr-only">Descending</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="player-list-canvas">
            <div class="row js-player-list">
                {# @var player \Player #}
                {% for player in players %}
                    <div class="js-player col-md-6 col-lg-4 col-xl-3 mb2"
                         data-callsign="{{ player.username }}"
                         data-country="{{ player.country.name }}"
                         data-team="{{ player.team.name != 'None' ? player.team.name : '' }}"
                         data-activity="{{ player.matchActivity }}"
                    >
                        {% include "Player/widget.html.twig" with {
                            player: player,
                            showTeam: true,
                            attr: {}
                        } %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
