{% extends 'layout.html.twig' %}

{% from _self import player_repeater %}

{% block title %}Players{% endblock %}

{% set pageWideCSS = 's-player__list' %}

{% block pageTitle %}
    <h1>Player List</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="js-only">
            <button id="show-player-filters"
                    class="c-accordion__heading c-button--no-style d-block py1 bb mb2 u-hide-md"
                    data-role="accordion-heading"
                    aria-controls="player-filters"
                    tabindex="0"
            >
                <i class="fa fa-caret-down" aria-hidden="true"></i>
                Filters
            </button>
        </div>

        <div id="player-filters"
             class="c-accordion__body u-show-md"
             data-role="accordion-body"
             aria-labelledby="show-player-filters"
             aria-expanded="true"
        >
            <div class="row mb3">
                <div class="col-md-5 d-flex flex-wrap">
                    {% if me.hasPermission(constant('Permission::VIEW_VISITOR_LOG')) %}
                        <form action="{{ path('search_player_by_bzid') }}"
                              method="GET"
                              class="mb2 mb0-md mr2"
                        >
                            <label class="c-form__icon mb1"
                                   for="c-form__search__input"
                            >
                                Search by BZID
                            </label>

                            <div class="c-form__group--icon">
                                <div class="c-form__icon">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>

                                <input class="c-form__input"
                                       placeholder="e.g. 12345"
                                       type="search"
                                       name="bzid"
                                >
                            </div>
                        </form>
                    {% endif %}

                    <div class="text-left-md mb2 mb0-md mr2">
                        <p class="mb1">Show All Players</p>

                        <div class="c-pill-group">
                            {%- set showAll = (request.get('showAll') is null) ? 1 : null -%}
                            <a href="{{ url_modify({ 'showAll': showAll }) }}"
                               class="c-pill-group__pill js-allow-propagation {{ request.get('showAll') is not empty ? 'active' : '' }}"
                            >
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <span class="sr-only">
                                {%- if showAll -%}
                                    Show inactive players
                                {%- else -%}
                                    Show active players only
                                {%- endif -%}
                            </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 d-flex flex-wrap justify-content-md-end">
                    <div class="text-right-md mr2 mb2 mb0-sm">
                        <p class="mb1">Group By</p>

                        <div class="c-pill-group">
                            <a href="{{ url_modify({ 'groupBy': '' }) }}"
                               class="c-pill-group__pill js-clear-group-by {% if not request.get('groupBy') %}u-hide{% endif %}"
                               data-role="clear-group-by"
                            >
                                <i class="fa fa-close" aria-hidden="true"></i>
                                Clear
                            </a>

                            {% for grouping in ['activity', 'team', 'country'] %}
                                {% if grouping != 'activity' or (grouping == 'activity' and request.get('showAll')) %}
                                    <a href="{{ url_modify({ 'groupBy': grouping }) }}"
                                       class="c-pill-group__pill js-group-by {{ request.get('groupBy') == grouping ? 'active' : '' }}"
                                       data-group-by="{{ grouping }}"
                                    >
                                        {{ grouping | title }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="text-right-md mr2">
                        <p class="mb1">Sort By</p>

                        <div class="c-pill-group">
                            {% set defaultSort = 'callsign' %}
                            {% for sorting in ['activity', 'callsign'] %}
                                <a href="{{ url_modify({ 'sortBy': sorting }) }}"
                                   class="c-pill-group__pill js-sort-by {{ (request.get('sortBy') == sorting) or (not request.get('sortBy') and sorting == defaultSort) ? 'active' : '' }}"
                                   data-sort-by="{{ sorting }}"
                                >
                                    {{ sorting | title }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="text-right-md">
                        <p class="mb1">Order</p>

                        <div class="c-pill-group">
                            {% set defaultOrder = 'ASC' %}
                            {% set orderLiterals = ['Ascending', 'Descending'] %}

                            {% for key, order in ['ASC', 'DESC'] %}
                                <a href="{{ url_modify({ 'sortOrder': order }) }}"
                                   class="c-pill-group__pill js-order-by {{ (request.get('sortOrder') == order) or (not request.get('sortOrder') and order == defaultOrder) ? 'active' : '' }}"
                                   data-order-by="{{ order | lower }}"
                                >
                                    <i class="fa fa-sort-alpha-{{ order | lower }}" aria-hidden="true"></i>
                                    <span class="sr-only">{{ orderLiterals[key] }}</span>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="player-list-canvas">
            {% if grouped %}
                {% for key in players | keys %}
                    <section data-sortable="{{ key }}">
                        <h2 class="mb2">{{ key | trim | default('<em>None</em>') | raw }}</h2>

                        <div class="row js-player-list">
                            {{ player_repeater(players[key]) }}
                        </div>
                    </section>
                {% endfor %}
            {% else %}
                <div class="row js-player-list">
                    {{ player_repeater(players) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% macro player_repeater(players) %}
    {% from 'Player/widget.html.twig' import widget as player_widget %}

    {# @var player \Player #}
    {% for player in players %}
        <div class="js-player col-md-6 col-lg-4 col-xl-3 mb2"
             data-callsign="{{ player.username }}"
             data-country="{{ player.country.name }}"
             data-team="{{ player.team.name != 'None' ? player.team.name : '' }}"
             data-activity="{{ player.matchActivity }}"
        >
            {{ player_widget(player, {}, true, true) }}
        </div>
    {% endfor %}
{% endmacro %}
