{% extends 'layout.html.twig' %}

{% block title %}Players :: {{ player.username }}{% endblock %}

{% block content %}
    <main class="player">
        <section class="content_header">
            <article class="wrapper">
                {{ player.country.flagLiteral | raw }}
                <h1>{{ player.username }}</h1>
            </article>
        </section>

        <section class="profile">
            {% if player.id == player.team.leader.id %}
                <strong>Leader of </strong>
                {{ link_to(player.team) }}
            {% else %}
                <strong>Affiliated with </strong>
                {% if player.team.valid %}
                    {{ link_to(player.team) }}
                {% else %}
                    <em>no team.</em>
                {% endif %}
            {% endif %}
        </section>
    </main>



    <div class='profile_page'>
        {% if player.avatar %}
            <img class='avatar_player' src='{{ player.avatar }}'>
        {% endif %}
        <div class='label label_team'>Team:
            {% if player.team.valid %}
                <a href="{{ player.team.url }}">{{ player.team.name }}</a>
            {% else %}
                <em>None</em>
            {% endif %}
        </div>
        <div class='label'>Joined: {{ player.joinedDate }}</div>
        <div class='descript_player'>{{ player.description }}</div>
        {% if me.hasPermission("view_visitor_log") %}
            <div class='past_callsigns'>
                <h3>Previous Callsigns</h3>
                <ul>
                    {% for callsign in player.pastCallsigns %}
                        <li>{{ callsign }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="known_ips">
                <h3>Known IP Address</h3>
                <ul>
                    {% for address in player.knownIPs %}
                        <li>{{ address.ip }} - {{ address.host }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
