{% extends 'layout.html.twig' %}

{% from 'reusable_charts.html.twig' import match_summary %}
{% from 'accessibility_charts.html.twig' import accessible_pie, accessible_line, show_table_button %}

{% set pageWideCSS = 's-player__show' %}
{% set opengraph = {
    url: player.url | canonical,
    type: 'article',
    title: app.siteTitle ~ ' :: ' ~ player.username,
    description: player.description | truncate(100),
    image: player.avatar | imagine_filter('open_graph')
} %}

{% set pageButtons = [
    {
        color: 'grey',
        url: me.team.url('invite', false, { player: player.id }),
        icon: 'plus',
        text: 'Invite to team',
        condition: me.isValid and not me.isTeamless and me.team.leader ~~ me
    },
    {
        color: 'blue',
        url: path('message_compose', { recipients: 'player:' ~ player.id }),
        icon: 'send',
        text: 'Send Message',
        condition: me ~/~ player and me.hasPermission(constant('Permission::SEND_PRIVATE_MSG'))
    },
    {
        color: 'blue',
        url: player.url('edit'),
        icon: 'edit',
        text: 'Edit',
        condition: me.canEdit(player)
    },
    {
        color: 'blue',
        url: path('profile_edit'),
        icon: 'edit',
        text: 'Edit Profile',
        condition: me ~~ player
    },
    {
        color: 'red',
        url: path('ban_create_player', { player: player.id }),
        icon: 'lock',
        text: 'Ban',
        condition: me.hasPermission(constant('Permission::ADD_BAN')) and player.ban is null
    },
    {
        color: 'red',
        url: player.ban.url('expire'),
        icon: 'unlock',
        text: 'Unban',
        condition: me.hasPermission(constant('Permission::EDIT_BAN')) and player.ban is not null
    }
] %}

{% block title %}Players :: {{ player.username }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('includes/tipsy/src/stylesheets/tipsy.css') }}" />
{% endblock %}

{% block pageTitle %}
    <div class="d-flex align-items-center">
        <h1 class="mr1">{{ player.username }}</h1>
        {{ player.country.flagLiteral | raw }}
    </div>

    <small title="{{ player.username }}'s Elo rating for the current season">{{ player.elo }}</small>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mb3-mb0-lg">
                <div class="row">
                    <div class="col-xs-8 offset-xs-2 col-sm-6 offset-sm-3 col-md-4 offset-md-4 offset-lg-reset col-lg-12">
                        <img src="{{ player.avatar | imagine_filter('profile_picture') }}"
                             class="u-image-responsive mb2"
                             alt="{{ player.username }}'s avatar"
                        >
                    </div>
                </div>

                {% set displayRole = player.roles | first %}
                {% for role in player.roles %}
                    {% if role.displayOrder > displayRole.displayOrder %}
                        {% set displayRole = role %}
                    {% endif %}
                {% endfor %}

                {% if displayRole.displayAsLeader %}
                    <div class="text-center mb2">
                        <p class="c-button c-button--skinny c-button--{{ displayRole.displayColor }} mb0">
                            <i class="fa {{ displayRole.displayIcon }}" aria-hidden="true"></i>
                            {{ displayRole.displayName }}
                        </p>
                    </div>
                {% endif %}

                <p class="mb0 mb2-md mb0-lg">
                    {% if player ~~ player.team.leader %}
                        <strong>Leader of</strong> {{ link_to(player.team) }}
                    {% else %}
                        <strong>Affiliated with</strong>
                        {% if player.team is valid %}
                            {{ link_to(player.team) }}
                        {% else %}
                            no team
                        {% endif %}
                    {% endif %}
                </p>
            </div>

            <div class="col-lg-9">
                <div class="c-tabs c-tabs--profile">
                    <ul class="c-tabs__header" role="tablist" aria-hidden="true">
                        {# 'Overview' Tab #}
                        <li id="tabs__header__overview"
                            role="tab"
                            aria-controls="tabs__panel__overview"
                            aria-selected="true"
                            tabindex="0"
                        >
                            Overview
                        </li>

                        {# 'Match Stats' Tab #}
                        <li id="tabs__header__match-stats"
                            role="tab"
                            aria-controls="tabs__panel__match-stats"
                            aria-selected="false"
                            tabindex="0"
                        >
                            Match Stats
                        </li>

                        {# 'Administration' Tab #}
                        {% if me.hasPermission("view_visitor_log") %}
                            <li id="tabs__header__administration"
                                role="tab"
                                aria-controls="tabs__panel__administration"
                                aria-selected="false"
                                tabindex="0"
                            >
                                Administration
                            </li>
                        {% endif %}
                    </ul>

                    <div class="c-tabs__canvas">
                        <div id="tabs__panel__overview"
                             class="c-tabs__panel mb3"
                             role="tabpanel"
                             aria-labelledby="tabs__header__overview"
                             aria-hidden="false"
                        >
                            <div class="row">
                                <div class="col-lg-4 order-lg-2 mb3 mb0-lg">
                                    <p class="mb0">
                                        <strong>Member since</strong>
                                        {{ player.joinedDate | humanTime("M d, Y", tooltip = false) }}
                                    </p>

                                    {% if me is valid %}
                                        <p class="mb0">
                                            <strong>Last seen</strong>
                                            {{ player.lastLogin.diffForHumans }}
                                        </p>
                                    {% endif %}

                                    <p class="mb0">
                                        {% if player.lastMatch is valid %}
                                            <strong>Last match</strong>
                                            {{ link_to(player.lastMatch, content=player.lastMatch.timestamp.diffForHumans) }}
                                        {% else %}
                                            <strong>Last match</strong> <em>never</em>
                                        {% endif %}
                                    </p>

                                    {% if me.hasPermission(constant('Permission::VIEW_VISITOR_LOG')) %}
                                        <p class="mb0"><strong>BZID</strong>
                                            <a href="https://forums.bzflag.org/memberlist.php?mode=viewprofile&amp;u={{ player.bzid }}">
                                                {{- player.bzid -}}
                                            </a>
                                        </p>
                                    {% endif %}
                                </div>

                                <div class="col-lg-8 order-lg-1">
                                    <article class="s-markdown">
                                        {% if player.description %}
                                            {{ player.description | markdown }}
                                        {% else %}
                                            <p>This user prefers to keep an air of mystery.</p>
                                        {% endif %}
                                    </article>
                                </div>
                            </div>
                        </div>

                        <div id="tabs__panel__match-stats"
                             class="c-tabs__panel mb3"
                             role="tabpanel"
                             aria-labelledby="tabs__header__match-stats"
                             aria-hidden="false"
                        >
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>
                                        Match Activity

                                        <small>
                                            <i class="fa fa-info-circle ml1"
                                               aria-hidden="true"
                                               title="Number of matches {{ player.username }} has participated in each month in the past year"
                                            ></i>
                                        </small>

                                        {{ show_table_button('match-activity', 'Show the table equivalent of match counts per month') }}
                                    </h4>
                                    <section>
                                        {{ match_summary(
                                            player.matchSummary,
                                            'match-activity',
                                            'A breakdown of the number of matches per month for ' ~ player.username ~ ' in the past year'
                                        ) }}
                                    </section>
                                </div>

                                <div class="col-md-6">
                                    <h4>
                                        Elo Rating

                                        <small>
                                            <i class="fa fa-info-circle ml1"
                                               aria-hidden="true"
                                               title="The change in {{ player.username }}'s Elo during this current season"
                                            ></i>
                                        </small>

                                        {{ show_table_button('elo-table', 'Show table equivalent of the Elo graph') }}
                                    </h4>

                                    <section>
                                        {% set eloData = {
                                            'series': [
                                                player.eloSeasonHistory | values('elo')
                                            ],
                                            'meta': {
                                                'series': [
                                                    'Elo changes in matches'
                                                ],
                                                'labels': 'Elo'
                                            }
                                        } %}
                                        {% set eloOptions = {
                                            axisX: {
                                                showGrid: false
                                            },
                                            showArea: true
                                        } %}

                                        <div class="js-only">
                                            <div id="player-elo-rating"
                                                 class="ct-chart ct-minor-seventh c-chart c-chart--line mb2"
                                                 data-graph="line"
                                                 data-chart="{{ eloData | json_encode }}"
                                                 data-chart-options="{{ eloOptions | json_encode }}"
                                            ></div>
                                        </div>

                                        <div class="sr-only sr-show-no-js"
                                             id="elo-table"
                                        >
                                            <table class="c-table c-table--elo">
                                                <caption>A summary of {{ player.username }}'s Elo for the current season</caption>
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Season Period</th>
                                                        <th scope="col">Elo Rating</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for date, elo in seasonSummary %}
                                                        <tr>
                                                            <td scope="row">{{ date }}</td>
                                                            <td>{{ elo }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </section>
                                </div>

                                <div class="col-md-6">
                                    <h4>
                                        Match Statistics
                                    </h4>

                                    <section>
                                        <p class="mb0"><strong>Matches played:</strong> {{ player.matchCount }}</p>
                                        <p class="mb0">
                                            <strong>Win ratio:</strong>
                                            {{ (100 * player.matchWinRatio) | round }}%
                                        </p>
                                        <p class="mb0">
                                            <strong title="Number of captures made by the player's team per match">Team caps per match:</strong>
                                            {{ player.matchAverageCaps | number_format(2) }}
                                        </p>
                                        <p class="mb0">
                                            <strong>Activity:</strong>
                                            <span>{{ player.matchActivity | number_format(2) }} matches per day</span>
                                        </p>
                                    </section>
                                </div>
                            </div>
                        </div>

                        {% if me.hasPermission("view_visitor_log") %}
                            <div id="tabs__panel__administration"
                                 class="c-tabs__panel mb3"
                                 role="tabpanel"
                                 aria-labelledby="tabs__header__administration"
                                 aria-hidden="false"
                            >
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4>Previous Callsigns</h4>

                                        <ul>
                                            {% for callsign in player.pastCallsigns %}
                                                <li>{{ callsign }}</li>
                                            {% else %}
                                                <li><em>There are no known previous callsigns</em></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Known IP Addresses</h4>
                                        <ul>
                                            {% for address in player.knownIPs %}
                                                <li>{{ address.ip }} - {{ address.host }}</li>
                                            {% else %}
                                                <li><em>There are no recorded IP addresses</em></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>

                                <article>
                                    <h4>Admin Notes</h4>

                                    {{ form_start(adminNotesForm, { 'attr': { 'class': '' } }) }}
                                        {{ form_errors(adminNotesForm) }}

                                        {{ form_row(adminNotesForm.notes, { attr: { 'class': '' }, label: false }) }}
                                        {{ form_rest(adminNotesForm) }}
                                    {{ form_end(adminNotesForm) }}
                                </article>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
