{% extends 'layout.html.twig' %}

{% block title %}Players :: {{ player.username }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ request.getBaseURL() }}/includes/tipsy/src/stylesheets/tipsy.css" />
{% endblock %}

{% block content %}
    <main class="players">
        <section class="content_header">
            <article class="wrapper">
                {{ player.country.flagLiteral | raw }}
                <h1>{{ player.username }}</h1>
            </article>
        </section>

        <section class="profile">
            <section class="row">
                <section class="information">
                    <p>
                        {% if player.id == player.team.leader.id %}
                            <strong>Leader of</strong> {{ link_to(player.team) }}
                        {% else %}
                            <strong>Affiliated with</strong>
                            {% if player.team is valid %}
                                {{ link_to(player.team) }}
                            {% else %}
                                <em>no team.</em>
                            {% endif %}
                        {% endif %}
                    </p>
                    <p><strong>Joined on</strong> {{ player.joinedDate(constant("TimeDate::DATE_FULL")) }}</p>
                    <p><strong>Last seen</strong> {{ player.lastLogin }}</p>

                    {% if player.description is not empty %}
                        <p class="description">{{ player.description }}</p>
                    {% endif %}
                </section>

                <section class="profile_picture">
                    {{ player.getAvatarLiteral | raw }}
                </section>
            </section>

            {% if me.hasPermission("view_visitor_log") %}
                <hr>

                <section class="row">
                    <section class="previous_callsigns">
                        <h4>
                            Previous Callsigns
                            <small>
                                [<a id="prev_callsigns" href="#" original-title="This is may not be the complete list. View more or add more.">?</a>]
                            </small>
                        </h4>

                        <ul>
                            {% for callsign in player.pastCallsigns %}
                                <li>{{ callsign }}</li>
                            {% endfor %}
                        </ul>
                    </section>

                    <section class="previous_ips">
                        <h4>
                            Known IP Addresses
                            <small>
                                [<a id="known_ips" href="#" original-title="This is may not be all of the IPs. View the complete list.">?</a>]
                            </small>
                        </h4>
                        <ul>
                            {% for address in player.knownIPs %}
                                <li>{{ address.ip }} - {{ address.host }}</li>
                            {% endfor %}
                        </ul>
                    </section>
                </section>

                <section class="row">
                    <section class="admin_notes">
                        <h4>Admin Notes</h4>
                        <form>
                            <textarea>{{ player.adminNotes }}</textarea>
                            <input class="button grey notextshadow" type="submit" value="Save">
                        </form>
                    </section>
                </section>
            {% endif %}
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ request.getBaseURL() }}/includes/chartjs/Chart.min.js"></script>
    <script src="{{ request.getBaseURL() }}/includes/tipsy/src/javascripts/jquery.tipsy.js"></script>
    <script>
        $("#prev_callsigns").tipsy({gravity: 's'});
        $("#known_ips").tipsy({gravity: 's'});
    </script>
{% endblock %}