{% extends 'layout.html.twig' %}

{% block title %}Players :: {{ player.username }}{% endblock %}

{% block content %}
    <div class='profile_page'>
        {% if player.avatar %}
            <img class='avatar_player' src='{{ player.avatar }}'>
        {% endif %}
        <div class='label player_name'>{{ player.username }}</div>
        <div class='label label_team'>Team:
            {% if player.team.valid %}
                <a href="{{ player.team.url }}">{{ player.team.name }}</a>
            {% else %}
                <em>None</em>
            {% endif %}
        </div>
        <div class='label'>Joined: {{ player.joinedDate }}</div>
        <div class='descript_player'>{{ player.description }}</div>
        {% if me.hasPermission("view_visitor_log") %}
            <div class='past_callsigns'>
                <h3>Previous Callsigns</h3>
                {% for callsign in player.pastCallsigns %}
                    <ul>
                        <li>{{ callsign }}</li>
                    </ul>
                {% endfor %}
            </div>

            <div class="known_ips">
                <h3>Known IP Address</h3>
                <ul>
                    {% for address in player.knownIPs %}
                        <li>{{ address.ip }} - {{ address.host }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
