{% extends 'layout.html.twig' %}

{% block title %}Players :: {{ player.username }}{% endblock %}

{% block content %}
    <div class='profile_page'>
        <img class='avatar_player' src='{{ player.avatar }}'>
        <div class='label player_name'>{{ player.username }}</div>
        <div class='label label_team'>Team:
            {% if player.team.valid %}
                <a href="{{ player.team.url }}">{{ player.team.name }}</a>
            {% else %}
                <em>None</em>
            {% endif %}
        </div>
        <div class='label'>Joined: {{ player.joinedDate }}</div>
        <div class='descript_player'>{{ player.description }}</div>
        {% if player.accessLevel >= constant('Player::ADMIN') %}
            <div class='past_callsigns'>
                <h3>Previous Callsigns</h3>
                {% for callsign in player.pastCallsigns %}
                    <ul>
                        <li>{{ callsign }}</li>
                    </ul>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
