{% macro widget(player, attrs, showTeam, showActivity) %}
    {% from 'utilities.html.twig' import html_attr %}
    {% from _self import widget_custom %}

    {% set attrs = attrs | extend_hash({ 'class': ['c-player-badge'] }) %}

    {# Using the `default()` filter for booleans doesn't work as expected; we want this boolean to default to false #}
    {#   see: https://stackoverflow.com/a/10794782 #}
    {% set showActivity = showActivity is not defined or showActivity is null ? false : showActivity %}
    {% set showTeam     = showTeam     is not defined or showTeam     is null ? false : showTeam %}
    {% set playerSlug %}
        {% if showTeam or showActivity %}
            {% if showTeam %}
                {{ link_to(player.team) }}
            {% endif %}

            {% if showActivity %}
                {% if showTeam %}&bull;{% endif %}

                {{ player.matchActivity | number_format(2) }}
            {% endif %}
        {% endif %}
    {% endset %}

    {{ widget_custom(player, attrs, playerSlug) }}
{% endmacro %}

{% macro widget_custom(player, attrs, slug) %}
    {% from 'utilities.html.twig' import html_attr %}

    {% set attrs = attrs | extend_hash({ 'class': ['c-player-badge'] }) %}

    <div {{ html_attr(attrs) }}>
        {% set imgURL = player.avatar | imagine_filter('small_thumb') %}
        {% if player.avatar is null %}
            {% set imgURL = asset('assets/imgs/team_' ~ random(['red', 'green', 'blue', 'purple']) ~ '.png') %}
        {% endif %}

        <div class="c-player-badge__avatar">
            <img src="{{ imgURL }}"
                 alt="{{ player.name }}'s avatar"
            >
        </div>

        <div class="c-player-badge__body">
            <div class="c-player-badge__callsign">
                <div class="u-truncate-text">
                    {{ link_to(player) }}
                </div>
                <div class="pl1">
                    {{ player.country.flagLiteral | raw }}
                </div>
            </div>

            {% if slug %}
                <p class="c-player-badge__team">{{- slug | raw -}}</p>
            {% endif %}
        </div>
    </div>
{% endmacro %}
