{% from 'utilities.html.twig' import html_attr %}

{% set attrs = attrs | extend_hash({ 'class': ['c-player-badge'] }) %}

<div {{ html_attr(attrs) }} >
    <img class="c-player-badge__avatar"
         src="{{ player.avatar | imagine_filter('small_thumb') }}"
         alt="{{ player.name }}'s avatar"
    >

    <div>
        <div class="c-player-badge__callsign">
            <span>{{ link_to(player) }}</span> {{ player.country.flagLiteral | raw }}
        </div>

        {% if showTeam %}
            <p class="c-player-badge__team">
                {{ link_to(player.team) }}

                {% if showActivity %}
                    &bull; {{ player.matchActivity | number_format(2) }}
                {% endif %}
            </p>
        {% endif %}
    </div>
</div>
