{% from 'md-editor.html.twig' import md_editor %}

<div class="container">
    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="row">
            <div class="col-md-8 mb3">
                {{ form_row(form.name) }}
            </div>
            <div class="col-md-4 mb3">
                {{ form_row(form.status) }}
            </div>
        </div>

        <div class="mb3">
            {{ md_editor(form.content, {
                data: {
                    sanitize: "false"
                }
            }) }}
        </div>

        <div>
            {{ form_rest(form) }}
        </div>
    {{ form_end(form) }}
</div>
